<div id="feedbackForm-overlay"></div>
<div id="feedbackForm-contaier">
    <button id="close-feedbackForn">
        {% render 'icon-close' %}
    </button>
    <h2>Give Us<br/>Your Feedback</h2>
    
    <div class="contact-form sp-form">
        {%- assign formId = 'userFeedbackForm' -%}
        {% form 'contact', id: formId %}
            {% include 'form-status', form: form, form_id: formId %}           

            <div class="custom-form-group">
                <label for="{{ formId }}-email">{{ 'contact.form.email' | t }}</label>
                <input class="input-box required"
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                
                {%- if form.errors contains 'email' -%}
                    class="input--error"
                    aria-invalid="true"
                    aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
                {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
                {%- endif -%}
                <span class="msg-error"></span>
            </div>

            <div class="custom-form-group">
                <label for="{{ formId }}-message">Comment</label>
                <textarea maxlength="250" class="input-box required" rows="10" id="{{ formId }}-comment" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                <span class="msg-error"></span>
            </div>
            <div class="actions">
                <button type="button" class="glb-btn">Submit</button>
            </div>
        {% endform %}
    </div>
</div>
