<li class="site-nav--has-dropdown {% if meganav %} meganav-dropdown {% endif %}{% if three_level_nav %} site-nav--has-centered-dropdown{% endif %}{% if link.active %} site-nav--active{% endif %}" data-has-dropdowns>
    <a href="{{ link.url }}" class="site-nav__link site-nav__link--main site-nav__link--button{% if link.child_active %} site-nav__link--active{% endif %}" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
      <span class="site-nav__label">{{ link.title | escape | replace: '®', '<sup>®</sup>' }}</span>
    </a>

    <div class="site-nav__dropdown{% if three_level_nav %} site-nav__dropdown--centered{% endif %} critical-hidden" id="SiteNavLabel-{{ child_list_handle }}">
      {% if three_level_nav %}
      <div class="dia-container">
        <div class="site-nav__childlist">
          {% if meganav %}
         {% if section.blocks.size > 0 %}
         <ul class="site-nav__childlist-grid">
         {% for block in section.blocks %}
          {% assign matchParent  = block.settings.meganav_parent | downcase | strip %}
          {% assign linkTitle = link.title | downcase | strip %}
          {% if matchParent == linkTitle %}
         
            <div class="site-nav__childlist--group site-nav__childlist--group--{{ forloop.index }}" >
                {% for i in (1..2) %}

                {% capture subnavtitle %}subnav_title_{{i}}{% endcapture %}
                {% capture subnavtitlelink %}subnav_title_link_{{i}}{% endcapture %}                
                {% capture subnavmenu %}subnav_list_{{i}}{% endcapture %}
                {% capture subnavimage %}subnav_img_{{i}}{% endcapture %}

                {% assign secondLevelTitle = block.settings[subnavtitle] %}

                {% if block.settings[subnavmenu] != blank %}
                <li class="site-nav__childlist-item {% if block.settings[subnavtitle] == blank %}has_not_top_heading{% endif %}">
                  {% if block.settings[subnavtitle] != blank %}
                  {% if block.settings[subnavtitlelink] != blank %}<a href="{{ block.settings[subnavtitlelink] }}" class="site-nav__link site-nav__child-link site-nav__child-link--parent" {% if block.settings[subnavimage] %}data-handle="{{ block.settings[subnavimage] | img_url: 'master' }}"{% endif %}> {% endif %}
                      <span class="site-nav__label">{{  block.settings[subnavtitle] | replace: '®', '<sup>®</sup>' }}</span>
                      {% if  block.settings[subnavtitlelink] != blank %} </a> {% endif %}
                  {% endif %}
                      {% if  block.settings[subnavmenu] != blank %}
                        {% assign subnavmenulist = block.settings[subnavmenu] %}
                        {% assign subnavmenulistitemcounts = linklists[subnavmenulist].links | size %}
                        {% assign fileImage = false %}
                        <ul {% if subnavmenulistitemcounts > 7 %} class="site-nav__childlist--split-2-columns" {% endif %} data-count= "{{ subnavmenulistitemcounts }}">
                        {% for subnav in linklists[subnavmenulist].links %}
                        {% if subnav.url contains 'collection' %}
                          {% assign handle = subnav.url | replace: '/collections/', '' %}
                          {% assign featuredImg = collections[handle].image.src  %}
                          {% assign imgSrc = featuredImg | img_url: 'medium' %}
                          {% assign collectionHandle = subnav.title | prepend: '-' | prepend: secondLevelTitle | prepend: '-'  | prepend: linkTitle | handleize | append: '.png' %}
                        {% elsif subnav.url contains 'page' %}
                        {% assign handle = subnav.url | replace: '/pages/', '' %}
                        {% assign featuredImg = pages[handle].metafields.global.nav_item_img %}
                          {% assign imgSrc = featuredImg %}
                        {% else %}
                        {% endif %}
                        
                        <li {% if subnav.title contains ' all ' %}class="last_menu_item"{% endif %}>
                            <a {% if secondLevelTitle contains 'by Shape' or secondLevelTitle contains 'by Category' %}data-handle2="{{ collectionHandle | file_url }}"{% endif %} {% if featuredImg != blank %}data-handle="{{ imgSrc }}" {% else %} {% if block.settings[subnavimage] %}data-handle="{{ block.settings[subnavimage] | img_url: 'master' }}"{% endif %} {% endif %}  href="{{ subnav.url }}" class="site-nav__link site-nav__child-link {% if subnav.title contains ' all ' %}active_color{% endif %}">
                                <span class="site-nav__label">{{ subnav.title | escape | replace: '®', '<sup>®</sup>' }} </span>
                            </a>
                        </li>
                        
                        {% endfor %}   
                        </ul>
                      {% endif %}

                      {%- if block.settings.menu_1_text != blank or block.settings.menu_2_text != blank or block.settings.menu_3_text != blank -%}
                      <div class="bottom-custom-menu-links">
                        <ul>
                          {%- if block.settings.menu_1_text != blank -%}
                          <li>
                            <a href="{{ block.settings.menu_1_link }}" {% if block.settings.bottom_links_featured_image %}data-handle="{{ block.settings.bottom_links_featured_image | img_url: 'master' }}"{% endif %}>{{ block.settings.menu_1_text | replace: '®', '<sup>®</sup>' }}</a>
                          </li>
                          {%- endif -%}

                          {%- if block.settings.menu_2_text != blank -%}
                          <li>
                            <a href="{{ block.settings.menu_2_link }}" {% if block.settings.bottom_links_featured_image %}data-handle="{{ block.settings.bottom_links_featured_image | img_url: 'master' }}"{% endif %}>{{ block.settings.menu_2_text | replace: '®', '<sup>®</sup>' }}</a>
                          </li>
                          {%- endif -%}

                          {%- if block.settings.menu_3_text != blank -%}
                          <li>
                            <a href="{{ block.settings.menu_3_link }}" {% if block.settings.bottom_links_featured_image %}data-handle="{{ block.settings.bottom_links_featured_image | img_url: 'master' }}"{% endif %}>{{ block.settings.menu_3_text | replace: '®', '<sup>®</sup>' }}</a>
                          </li>
                          {%- endif -%}
                        </ul>
                      </div>
                      {%- endif -%}

                </li>
                {% endif %}

                {% endfor %}                
            </div>
            
        {% endif %}        
        {% endfor %}
          {% assign imgCounter = 0 %}
        {% for block in section.blocks %}
        {% assign matchParent  = block.settings.meganav_parent | downcase | strip %}
          {% assign linkTitle = link.title | downcase | strip %}
          {% if matchParent == linkTitle %}
          {% if block.settings.subnav_img_1 != blank %}
          {% assign imgCounter = imgCounter | plus: 1 %}
        <li id="nav-img-block" class="nav-image-wrapper"><img class="navItemsThumb lazyload" data-src="{% if matchParent == linkTitle %}{{ block.settings.subnav_img_1 | img_url: '450x321' }}{% endif %}" alt="{{ collection.title | escape }}" /></li>
        {% if imgCounter == 1 %}
        {% break %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor%}
                   
    </ul>
         {% endif %}
          {% else %}
          <ul class="site-nav__childlist-grid">
            {% if link.links != blank %}
              {% for childlink in link.links %}
              {% assign mainchildCount = childlink.links | size %}
              {% if mainchildCount > 7 %}
              {% else %}
              {% endif %}
                <li class="site-nav__childlist-item" data-childCount="{{ mainchildCount }}">
                  <a href="{{ childlink.url }}" 
                    class="site-nav__link site-nav__child-link site-nav__child-link--parent"
                    {% if childlink.current %} aria-current="page"{% endif %}
                  >
                    <span class="site-nav__label">{{ childlink.title | escape | replace: '®', '<sup>®</sup>' }}</span>
                  </a>

                  {% if childlink.links != blank %}
                  {% assign childCount = childlink.links | size %}
                    <ul data-childCount="{{ childCount }}">
                    {% for grandchildlink in childlink.links %}
                      
                      <li>
                        {% if grandchildlink.url contains 'collection' %}
                          {% assign handle = grandchildlink.url | replace: '/collections/', '' %}
                          {% assign featuredImg = collections[handle].image.src  %}
                          {% assign imgSrc = featuredImg | img_url: '450x321' %}
                        {% elsif grandchildlink.url contains 'page' %}
                        {% assign handle = grandchildlink.url | replace: '/pages/', '' %}
                        {% assign featuredImg = pages[handle].metafields.global.nav_item_img %}
                          {% assign imgSrc = featuredImg %}
                        {% else %}
                        {% endif %}
                        
                        <a {% if featuredImg != blank %}data-handle="{{ imgSrc }}"{% endif %} href="{{ grandchildlink.url }}"
                        class="site-nav__link site-nav__child-link "
                        {% if grandchildlink.current %} aria-current="page"{% endif %} 
                      ><span class="site-nav__label">{{ grandchildlink.title | escape | replace: '®', '<sup>®</sup>' }}</span>
                        </a>
                      </li>
                    {% endfor %}
                    </ul>
                  {% endif %}

                </li>
              {% endfor %}
              <li id="nav-img-block_new" class="nav-image-wrapper"><img class="navItemsThumb lazyload" src="" alt="{{ collection.title | escape }}" /></li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
      {% else %}
        <ul>
          {% for childlink in link.links %}
            <li>
              <a href="{{ childlink.url }}"
              class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}"
              {% if childlink.current %} aria-current="page"{% endif %}
            >
                <span class="site-nav__label">{{ childlink.title | escape | replace: '®', '<sup>®</sup>' }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </li>