<!-- Product Metafield Code -->
{%- comment -%}
<div class="product-details-wrapper">
    <p>PRODUCT DETAILS</p>
    {% assign productMetafield = product.metafields.global %}
    {% for i in (1..10) %}
    {% capture blockTitle %}block_{{ i }}_title{% endcapture %}
    {% if productMetafield[blockTitle] !=blank %}
    <div class="product-details-row">
        {% if productMetafield[blockTitle] !=blank %}<h3>{{ productMetafield[blockTitle] }}</h3>{% endif %}
        <div class="product-info-gird">
            {% for k in (1..2) %}
            {% capture columnDivider %}block_{{ i }}_column_{{ k }}{% endcapture %}
            {% if columnDivider %}
            <div class="product-info-gird_column">
                {% for j in (1..10) %}
                {% capture columnTitle %}block_{{ i }}_column_{{ k }}_title_{{ j }}{% endcapture %}
                {% capture columnContent %}block_{{ i }}_column_{{ k }}_content_{{ j }}{% endcapture %}
                {% if productMetafield[columnTitle] !=blank or productMetafield[columnTitle] !=blank %}
                <div class="product-info-item">
                    <div class="product-info-holder">
                        <h5>{{ productMetafield[columnTitle] }}</h5>
                        <div class="product-info-table">{{ productMetafield[columnContent] }}</div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{%- endcomment -%}
<div class="product-details-wrapper">
    <p>PRODUCT DETAILS</p>
    <h3>{{ product.title }} {% if variantMetafield[col1_tab1_mat_Purity_Color] != blank and productMetafield[col1_tab1_mat_type] != blank %} in {{ variantMetafield[col1_tab1_mat_Purity_Color] }} {{ productMetafield[col1_tab1_mat_type] }}{% endif %} </h3>
    <div class="product-details-row">        
<div class="product-details-row">
    <div class="product-info-gird">
        {% for i in (1..2) %}
        {% capture columnChecker %}col{{ i }}{% endcapture %}
        
            <div class="product-info-gird_column">
                {% for j in (1..10) %}
                {%- capture tableContent_title -%}col{{ i }}_tab{{ j }}_title{%- endcapture -%}
                {%- capture tableContent_mat_type -%}col{{ i }}_tab{{ j }}_mat_type{%- endcapture -%}
                {%- capture tableContent_mat_Purity_Color -%}col{{ i }}_tab{{ j }}_mat_Purity_Color{% endcapture %}
                {%- capture tableContent_dimension1  -%}col{{ i }}_tab{{ j }}_dimension1{% endcapture %}
                {%- capture tableContent_dimension2  -%}col{{ i }}_tab{{ j }}_dimension2{% endcapture %}
                {%- capture tableContent_rhodium_plated -%}col{{ i }}_tab{{ j }}_rhodium_plated{% endcapture %}
                {%- capture tableContent_avg_clarity -%}col{{i}}_tab{{ j }}_avg_clarity{%- endcapture -%}
                {%- capture tableContent_stone_category -%}col{{i}}_tab{{ j }}_stone_category{%- endcapture -%}
                {%- capture tableContent_stone_shape -%}col{{i}}_tab{{ j }}_stone_shape{%- endcapture -%}
                {%- capture tableContent_no_of_stones-%}col{{i}}_tab{{ j }}_no_of_stones{%- endcapture -%}
                {%- capture tableContent_min_stn_ttl_crt_wt-%}col{{i}}_tab{{ j }}_min_stn_ttl_crt_wt{%- endcapture -%}
                {%- capture tableContent_stone_avg_color -%}col{{i}}_tab{{ j }}_stone_avg_color{%- endcapture -%}
                {%- capture tableContent_stone_type -%}col{{i}}_tab{{ j }}_stone_type{%- endcapture -%}


                {%- capture tableContent_tooltip_rhodium -%}col{{i}}_tab{{ j }}_tooltip_rhodium{%- endcapture -%}
                {%- capture tableContent_tooltip_width -%}col{{i}}_tab{{ j }}_tooltip_width{%- endcapture -%}
                {%- capture tableContent_tooltip_height -%}col{{i}}_tab{{ j }}_tooltip_height{%- endcapture -%}
                {%- capture tableContent_tooltip_metal -%}col{{i}}_tab{{ j }}_tooltip_metal{%- endcapture -%}
                {%- capture tableContent_tooltip_avg_color -%}col{{i}}_tab{{ j }}_tooltip_avg_color{%- endcapture -%}
                {%- capture tableContent_tooltip_avg_clarity -%}col{{i}}_tab{{ j }}_tooltip_avg_clarity{%- endcapture -%}

                {% if
                    productMetafield[tableContent_title] != blank or 
                    productMetafield[tableContent_mat_type] != blank or 
                    variantMetafield[tableContent_mat_Purity_Color] != blank or 
                    variantMetafield[tableContent_dimension1] != blank or 
                    variantMetafield[tableContent_dimension2] != blank or 
                    productMetafield[tableContent_rhodium_plated] != blank or 
                    productMetafield[tableContent_stone_category ] != blank or
                    productMetafield[tableContent_stone_shape] != blank or 
                    productMetafield[tableContent_no_of_stones] != blank or 
                    productMetafield[tableContent_min_stn_ttl_crt_wt] != blank or
                    productMetafield[tableContent_stone_avg_color] != blank or
                    productMetafield[tableContent_stone_type] != blank 
                %}
                <div class="product-info-item">
                    <div class="product-info-holder">
                        {% if productMetafield[tableContent_title] != blank %}<h5>{{ productMetafield[tableContent_title] }}</h5>{% endif %}
                        <div class="product-info-table">
                            <figure class="table">
                                <table>
                                    <tbody>
                                        {%- if productMetafield[tableContent_mat_type] != blank or variantMetafield[tableContent_mat_Purity_Color] -%}
                                        <tr data-row="metal">
                                            <td><span class="pdp-tab-label">Metal</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_mat_Purity_Color] }} {{ productMetafield[tableContent_mat_type]  }}</span> {%- if productMetafield[tableContent_tooltip_metal] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ productMetafield[tableContent_tooltip_metal] }}"></span>{%- endif -%}</td>
                                        </tr>
                                        {% endif %}
                                        {% if variantMetafield[tableContent_dimension1] != blank %}
                                        <tr data-row="height">
                                            <td><span class="pdp-tab-label">Height</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_dimension1] }}</span>{%- if productMetafield[tableContent_tooltip_height] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ productMetafield[tableContent_tooltip_height] }}"></span>{%- endif -%}</td>
                                        </tr>
                                        {% endif %}
                                        {% if variantMetafield[tableContent_dimension2] != blank %}
                                        <tr data-row="width">
                                            <td><span class="pdp-tab-label">Width</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_dimension2] }}</span> {%- if productMetafield[tableContent_tooltip_width] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ productMetafield[tableContent_tooltip_width] }}"></span>{%- endif -%}</td>
                                        </tr>
                                        {% endif %}
                                        {% if productMetafield[tableContent_rhodium_plated] != blank %}
                                        <tr data-row="rhodium-plated">
                                            <td><span class="pdp-tab-label">Rhodium plated</span></td>
                                            <td><span class="pdp-tab-val">{{ productMetafield[tableContent_rhodium_plated] | truncate: 30, '...' }}</span> {% if productMetafield[tableContent_tooltip_rhodium] != blank %} <span class="meta_tooltip" data-tooltip-title="{{productMetafield[tableContent_tooltip_rhodium]}}"></span>{% endif %}</td>
                                        </tr>
                                        {% endif %}
                                        {% if productMetafield[tableContent_stone_shape] != blank or productMetafield[tableContent_stone_category ] != blank %}
                                        <tr data-row="{{ productMetafield[tableContent_stone_shape] | truncate: 30 | prepend: 'Number of ' | handleize }}{{ productMetafield[tableContent_stone_category ] | truncate: 30 | append: 'Gemstones' | handleize }}">
                                            <td><span class="pdp-tab-label">{{ productMetafield[tableContent_stone_shape] | truncate: 30 | prepend: 'Number of ' }} {{ productMetafield[tableContent_stone_category ] | truncate: 30 | append: 'Gemstones' }}</span></td>
                                            <td><span class="pdp-tab-val">{{ productMetafield[tableContent_no_of_stones] }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip">{{ productMetafield[tableContent_tooltip_rhodium] }}</span></td>
                                        </tr>
                                        {% endif %}
                                        {% if productMetafield[tableContent_min_stn_ttl_crt_wt] != blank %}
                                        <tr data-row="min_stn_ttl_crt_wt">
                                            <td><span class="pdp-tab-label">Minimum carat total weight (CT. TW.)</span></td>
                                            <td><span class="pdp-tab-val">{{ productMetafield[tableContent_min_stn_ttl_crt_wt] }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                                        {% if productMetafield[tableContent_stone_avg_color] != blank %}
                                        <tr data-row="average-color">
                                            <td><span class="pdp-tab-label">Average Color</span></td>
                                            <td><span class="pdp-tab-val">{{ productMetafield[tableContent_stone_avg_color] | truncate: 30 }}</span> {%- if productMetafield[tableContent_tooltip_avg_color] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ productMetafield[tableContent_tooltip_avg_color] }}"></span>{%- endif -%}</td>
                                        </tr>
                                        {% endif %}
                                        {% if productMetafield[tableContent_avg_clarity] != blank %}
                                        <tr data-row="average-clarity">
                                            <td><span class="pdp-tab-label">Average Clarity</span></td>
                                            <td><span class="pdp-tab-val">{{ productMetafield[tableContent_avg_clarity] }}</span> {%- if productMetafield[tableContent_tooltip_avg_clarity] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ productMetafield[tableContent_tooltip_avg_clarity] }}"></span>{%- endif -%}</td>
                                        </tr>
                                        {% endif %}
                                        {% if productMetafield[tableContent_stone_type] != blank %}
                                        <tr data-row="setting-type">
                                            <td><span class="pdp-tab-label">Setting type</span></td>
                                            <td><span class="pdp-tab-val">{{ productMetafield[tableContent_stone_type] | truncate: 22 | append: ' setting' }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </figure>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

    </div>
    
    
    
</div>

<script>

    $(document).ready(function(){
        // convert 'i' tag into tooltip
        // $('.product-info-holder .product-info-table tr td').each(function(){
        //     var toolTipText = $(this).find('.meta_tooltip').text();
        //     $(this).find('.meta_tooltip').attr('data-tooltip-title',toolTipText);
        //     // $(this).find('.meta_tooltip').html('');
        // });
        // td length
        $('.product-info-holder .product-info-table tr').each(function(){
            var tdlength = $(this).find('td').length || $(this).find('th').length;
            if(tdlength > 2) {
                $(this).closest('.product-info-table').addClass('three_td_table');
            }
        });
    });
</script>