<!-- Product Metafield Code -->

<div class="product-details-wrapper pdp-tabber show_tab" id="productDetails">
    <div class="mobile-pdp-acc-trigger show_mobile"><p>PRODUCT DETAILS</p></div>
    <div class="pdp-acc-body">
        <h3><span class="pdp-acc-body-heading" data-option2="{{ product.selected_or_first_available_variant.option2 }}">{{ product.title }} {% if hide_default_title %} {% else %}in  <span class="variantColorTitle" data-variant-title>{{ product.selected_or_first_available_variant.option1  }}</span>{% if product.selected_or_first_available_variant.option2.size > 0 %}, Size: <span class="variantSizeValue" data-variant-size>{{ product.selected_or_first_available_variant.option2  }}</span> {% endif %}{% endif %}</span>{% if template.suffix contains 'loose-stone'%}<a class="product-view-report" href="javascript:;" aria-label="">View report&gt;</a>{% endif %}</h3>    
        <div class="product-details-row">
            <div class="product-info-gird">
                {%- capture prodtableContent_title -%}prod_info_title{%- endcapture -%}
                {%- capture prodtableContent_metalLabel -%}prod_info_metal_label{%- endcapture -%}
                {%- capture prodtableContent_dimension1Label  -%}prod_info_dimension1_label{% endcapture %}
                {%- capture prodtableContent_dimension1  -%}prod_info_dimension1_value{% endcapture %}
                {%- capture prodtableContent_dimension2Label  -%}prod_info_dimension2_label{% endcapture %}
                {%- capture prodtableContent_dimension2  -%}prod_info_dimension2_value{% endcapture %}
                {%- capture prodtableContent_dimension3Label  -%}prod_info_dimension3_label{% endcapture %}
                {%- capture prodtableContent_dimension3  -%}prod_info_dimension3_value{% endcapture %}
                {%- capture prodtableContent_dimension4Label  -%}prod_info_dimension4_label{% endcapture %}
                {%- capture prodtableContent_dimension4  -%}prod_info_dimension4_value{% endcapture %}
                {%- capture prodtableContent_rhodium_platedLabel -%}rhodium_plated_label{% endcapture %}
                {%- capture prodtableContent_rhodium_plated -%}rhodium_plated{% endcapture %}
                {%- capture prodtableContent_stone_cut_shapeLabel -%}prod_info_stone_cut_shape_label{%- endcapture -%}
                {%- capture prodtableContent_stone_cut_shape -%}prod_info_stone_cut_shape{%- endcapture -%}
                
               {%- comment -%}
                {%- capture prodtableContent_dec_ttl_crt_wgt -%}dec_stn_total_crt_wt{%- endcapture -%}
                 {%- capture prodtableContent_stone_shapeLabel -%}prod_info_stone_shape_label{%- endcapture -%}
                {%- capture prodtableContent_stone_shape -%}prod_info_stone_shape{%- endcapture -%}
                {%- capture prodtableContent_avg_clarityLabel -%}prod_info_avg_clarity_label{%- endcapture -%}
                {%- capture prodtableContent_avg_clarity -%}prod_info_avg_clarity{%- endcapture -%}
                {%- capture prodtableContent_no_of_stonesLabel -%}prod_info_no_of_stones_label{%- endcapture -%}
                {%- capture prodtableContent_no_of_stones -%}prod_info_no_of_stones{%- endcapture -%}
                {%- capture prodtableContent_stone_categoryLabel -%}prod_info_stone_category_label{%- endcapture -%}
                {%- capture prodtableContent_stone_category -%}prod_info_stone_category{%- endcapture -%}
                {%- capture prodtableContent_frc_ttl_crt_wgt -%}frc_stn_total_crt_wt{%- endcapture -%}

               {% endcomment %}

                {%- capture tableContent_rhodium_platedLabel -%}rhodium_plated_label{% endcapture %}
                {%- capture tableContent_rhodium_plated -%}rhodium_plated{% endcapture %}
                {%- capture tableContent_frc_ttl_crt_wgt -%}frc_stn_total_crt_wt{%- endcapture -%}
                {%- capture tableContent_dec_ttl_crt_wgt -%}dec_stn_total_crt_wt{%- endcapture -%}

                
                {% if template.suffix != 'loose-stone' %}
                {% if
                    productMetafield[prodtableContent_metalLabel] != blank or
                    productMetafield[prodtableContent_title] != blank or 
                    variantMetafield[tableContent_dimension1Label] != blank or
                    variantMetafield[tableContent_dimension1] != blank or 
                    variantMetafield[tableContent_dimension2Label] != blank or
                    variantMetafield[tableContent_dimension2] != blank or
                    variantMetafield[tableContent_dimension3Label] != blank or
                    variantMetafield[tableContent_dimension3] != blank or 
                    variantMetafield[tableContent_dimension4Label] != blank or
                    variantMetafield[tableContent_dimension4] != blank or 
                    variantMetafield[tableContent_rhodium_platedLabel] != blank or
                    variantMetafield[tableContent_rhodium_plated] != blank or
                    variantMetafield[tableContent_frc_ttl_crt_wgt] != blank or 
                    variantMetafield[tableContent_dec_ttl_crt_wgt] != blank or 
                    variantMetafield[prodtableContent_dimension1Label] != blank or
                    variantMetafield[prodtableContent_dimension1] != blank or
                    variantMetafield[prodtableContent_dimension2Label] != blank or
                    variantMetafield[prodtableContent_dimension2] != blank or
                    variantMetafield[prodtableContent_dimension3Label] != blank or
                    variantMetafield[prodtableContent_dimension3] != blank or
                    variantMetafield[prodtableContent_dimension4Label] != blank or
                    variantMetafield[prodtableContent_dimension4] != blank 
                %}       
                <div class="product-info-gird_column">  
                    
                    {% if
                        productMetafield[prodtableContent_metalLabel] != blank or
                        productMetafield[prodtableContent_title] != blank or 
                        variantMetafield[tableContent_dimension1Label] != blank or
                        variantMetafield[tableContent_dimension1] != blank or 
                        variantMetafield[tableContent_dimension2Label] != blank or
                        variantMetafield[tableContent_dimension2] != blank or 
                        variantMetafield[tableContent_dimension3Label] != blank or
                        variantMetafield[tableContent_dimension3] != blank or
                        variantMetafield[tableContent_dimension4Label] != blank or
                        variantMetafield[tableContent_dimension4] != blank or
                        variantMetafield[tableContent_rhodium_platedLabel] != blank or 
                        variantMetafield[tableContent_rhodium_plated] != blank or 
                        variantMetafield[tableContent_frc_ttl_crt_wgt] != blank or
                        variantMetafield[tableContent_dec_ttl_crt_wgt] != blank or
                        variantMetafield[prodtableContent_dimension1Label] != blank or
                        variantMetafield[prodtableContent_dimension1] != blank or
                        variantMetafield[prodtableContent_dimension2Label] != blank or
                        variantMetafield[prodtableContent_dimension2] != blank or
                        variantMetafield[prodtableContent_dimension3Label] != blank or
                        variantMetafield[prodtableContent_dimension3] != blank or
                        variantMetafield[prodtableContent_dimension4Label] != blank or
                        variantMetafield[prodtableContent_dimension4] != blank 
                    %}    
                    <div class="product-info-item">
                        <div class="product-info-holder">
                            {% if productMetafield[prodtableContent_title] != blank %}<h5>{{ productMetafield[prodtableContent_title] }}</h5>{% endif %}

                            <div class="product-info-table">
                                <figure class="table">
                                    <table>
                                        <tbody>
                                            {%- if hide_default_title -%}
                                            {%- else -%}
                                                <tr data-tooltip="jewgoldktclr" data-row="pdp-metal" data-cont="abcd" > 
                                                    <td><span class="pdp-tab-label">{% if productMetafield[prodtableContent_metalLabel] != blank %}{{ productMetafield[prodtableContent_metalLabel] }}{% else %}Metal{% endif %}</span></td>
                                                    <td><span class="pdp-tab-val"><span class="variantColorTitle" data-variant-title>{{ product.selected_or_first_available_variant.option1  }}</span></span></td>
                                                </tr>
                                            {% endif %}

                                            {% if variantMetafield[tableContent_dimension1] != blank %}
                                                <tr data-tooltip="jewdim1" data-row="{{ tableContent_dimension1 }}">
                                                    <td><span class="pdp-tab-label">{% if  variantMetafield[tableContent_dimension1Label] != blank %}{{  variantMetafield[tableContent_dimension1Label]}} {% else %}Height{% endif %}</span></td>
                                                    <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_dimension1] }}</span>{%- if productMetafield[prodtableContent_tooltip_height] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ productMetafield[prodtableContent_tooltip_height] }}"></span>{%- endif -%}</td>
                                                </tr>
                                                {% endif %}
                                                
                                                {% if variantMetafield[tableContent_dimension2] != blank %}
                                                <tr data-tooltip="jewdim2" data-row="{{ tableContent_dimension2 }}">
                                                    <td><span class="pdp-tab-label">{% if  variantMetafield[tableContent_dimension2Label] != blank %}{{  variantMetafield[tableContent_dimension2Label]}} {% else %}Width{% endif %}</span></td>
                                                    <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_dimension2] }}</span> {%- if productMetafield[tableContent_tooltip_width] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ productMetafield[tableContent_tooltip_width] }}"></span>{%- endif -%}</td>
                                                </tr>
                                                {% endif %}

                                                {% if variantMetafield[tableContent_dimension3] != blank %}
                                                <tr data-tooltip="jewdim3" data-row="{{ tableContent_dimension3 }}">
                                                    <td><span class="pdp-tab-label">{% if  variantMetafield[tableContent_dimension3Label] != blank %}{{  variantMetafield[tableContent_dimension3Label]}} {% else %}Width{% endif %}</span></td>
                                                    <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_dimension3] }}</span> {%- if productMetafield[tableContent_tooltip_width] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ productMetafield[tableContent_tooltip_width] }}"></span>{%- endif -%}</td>
                                                </tr>
                                                {% endif %}

                                                
                                                {% if variantMetafield[tableContent_dimension4] != blank %}
                                                <tr data-tooltip="jewdim3" data-row="{{ tableContent_dimension4 }}">
                                                    <td><span class="pdp-tab-label">{% if  variantMetafield[tableContent_dimension4Label] != blank %}{{  variantMetafield[tableContent_dimension4Label]}} {% else %}Width{% endif %}</span></td>
                                                    <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_dimension4] }}</span> {%- if productMetafield[tableContent_tooltip_width] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ productMetafield[tableContent_tooltip_width] }}"></span>{%- endif -%}</td>
                                                </tr>
                                                {% endif %}
                                                
                                                {% if variantMetafield[tableContent_rhodium_plated] != blank %}
                                                <tr data-tooltip="jewrhodium" data-row="{{ tableContent_rhodium_plated }}">
                                                    <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_rhodium_platedLabel] != blank %}{{ variantMetafield[tableContent_rhodium_platedLabel] }}{% else %}Rhodium plated{% endif %}</span></td>
                                                    <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_rhodium_plated] | truncate: 30, '...' }}</span> {% if productMetafield[tableContent_tooltip_rhodium] != blank %} <span class="meta_tooltip" data-tooltip-title="{{productMetafield[tableContent_tooltip_rhodium]}}"></span>{% endif %}</td>
                                                </tr>
                                                {% endif %}


                                                {% comment %}
                                                {% if variantMetafield[tableContent_frc_ttl_crt_wgt] != blank %}
                                                <tr data-tooltip="jewrhodium" data-row="tableContent_common_ttl_crt_wgt">
                                                    <td><span class="pdp-tab-label" data-metafield="tableContent_frc_ttl_crt_wgt">Carat Total weight(CT. TW.)</span></td>
                                                    <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_frc_ttl_crt_wgt] | truncate: 30, '...' }}</span> {% if productMetafield[tableContent_tooltip_ttl_crt_wgt] != blank %} <span class="meta_tooltip" data-tooltip-title="{{productMetafield[tableContent_tooltip_ttl_crt_wgt]}}"></span>{% endif %}</td>
                                                </tr>
                                                {% endif %}
                                                 {% endcomment %}

                                                {% if variantMetafield[tableContent_dec_ttl_crt_wgt] != blank  or variantMetafield[tableContent_frc_ttl_crt_wgt] != blank %} 
                                                <tr data-tooltip="jewrhodium" data-row="{% if variantMetafield[tableContent_dec_ttl_crt_wgt] != blank %}{{ tableContent_dec_ttl_crt_wgt }}{% else %}{{ tableContent_frc_ttl_crt_wgt }}{% endif %}">
                                                    <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_dec_ttl_crt_wgt] != blank %}Total carat weight(cts.){% else %}Carat Total weight(CT. TW.){% endif %}</span></td>
                                                    <td>
                                                    <span class="pdp-tab-val test-2">{% if variantMetafield[tableContent_dec_ttl_crt_wgt] != blank %}{{ variantMetafield[tableContent_dec_ttl_crt_wgt] | times: 100 | round:2 | money_without_currency  }}{% else %}{{ variantMetafield[tableContent_frc_ttl_crt_wgt] | truncate: 30, '...' }}{% endif %}</span> 
                                                    {% if productMetafield[tableContent_tooltip_ttl_crt_wgt] != blank %} 
                                                    <span class="meta_tooltip" data-tooltip-title="{{productMetafield[tableContent_tooltip_ttl_crt_wgt] }}"></span>
                                                    {% endif %}
                                                    
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                
                                                {% if variantMetafield[prodtableContent_dimension1] != blank %} 
                                                <tr data-tooltip="jewrhodium" data-row="{{ prodtableContent_dimension1 }}">
                                                    <td><span class="pdp-tab-label">{{ variantMetafield[prodtableContent_dimension1Label] }}</span></td>
                                                    <td>
                                                    <span class="pdp-tab-val test-2">{{ variantMetafield[prodtableContent_dimension1]}}</span> 
                                                    {% if productMetafield[tableContent_tooltip_ttl_crt_wgt] != blank %} 
                                                    <span class="meta_tooltip" data-tooltip-title="{{productMetafield[tableContent_tooltip_ttl_crt_wgt] }}"></span>
                                                    {% endif %}
                                                    
                                                    </td>
                                                </tr>
                                                {% endif %}                                               

                                                {% if variantMetafield[prodtableContent_dimension2] != blank %} 
                                                <tr data-tooltip="jewrhodium" data-row="{{ prodtableContent_dimension2 }}">
                                                    <td><span class="pdp-tab-label">{{ variantMetafield[prodtableContent_dimension2Label] }}</span></td>
                                                    <td>
                                                    <span class="pdp-tab-val test-2">{{ variantMetafield[prodtableContent_dimension2]}}</span> 
                                                    {% if productMetafield[tableContent_tooltip_ttl_crt_wgt] != blank %} 
                                                    <span class="meta_tooltip" data-tooltip-title="{{productMetafield[tableContent_tooltip_ttl_crt_wgt] }}"></span>
                                                    {% endif %}
                                                    
                                                    </td>
                                                </tr>
                                                {% endif %}

                                                {% if variantMetafield[prodtableContent_dimension3] != blank %} 
                                                <tr data-tooltip="jewrhodium" data-row="{{ prodtableContent_dimension3Label }}">
                                                    <td><span class="pdp-tab-label">{{ variantMetafield[prodtableContent_dimension3Label] }}</span></td>
                                                    <td>
                                                    <span class="pdp-tab-val test-2">{{ variantMetafield[prodtableContent_dimension3]}}</span> 
                                                    {% if productMetafield[tableContent_tooltip_ttl_crt_wgt] != blank %} 
                                                    <span class="meta_tooltip" data-tooltip-title="{{productMetafield[tableContent_tooltip_ttl_crt_wgt] }}"></span>
                                                    {% endif %}
                                                    
                                                    </td>
                                                </tr>
                                                {% endif %}

                                                {% if variantMetafield[prodtableContent_dimension4] != blank %} 
                                                <tr data-tooltip="jewrhodium" data-row="{{ prodtableContent_dimension4 }}">
                                                    <td><span class="pdp-tab-label">{{ variantMetafield[prodtableContent_dimension4Label] }}</span></td>
                                                    <td>
                                                    <span class="pdp-tab-val test-2">{{ variantMetafield[prodtableContent_dimension4]}}</span> 
                                                    {% if productMetafield[tableContent_tooltip_ttl_crt_wgt] != blank %} 
                                                    <span class="meta_tooltip" data-tooltip-title="{{productMetafield[tableContent_tooltip_ttl_crt_wgt] }}"></span>
                                                    {% endif %}
                                                    
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                
                                        </tbody>
                                    </table>
                                </figure>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    {%- capture tableContent_rstab_title-%}rstab_size1_title{%- endcapture -%}
                    {%- capture tableContent_rstab1-%}rstab_size1_row1{%- endcapture -%}
                    {%- capture tableContent_rstab_avg_color-%}rstab_size1_avg_color{%- endcapture -%}
                    {%- capture tableContent_rstab_avg_clarity-%}rstab_size1_avg_clarity{%- endcapture -%}
                    {%- capture tableContent_rstab_setting_type-%}rstab_size1_setting_type{%- endcapture -%}
                    
                    {% if
                        productMetafield[prodtableContent_rstab_title] != blank or 
                        productMetafield[prodtableContent_rstab1] != blank or 
                        productMetafield[prodtableContent_rstab_avg_colorLabel] != blank or 
                        productMetafield[prodtableContent_rstab_avg_color] != blank or 
                        productMetafield[prodtableContent_rstab_avg_clarityLabel] != blank or 
                        productMetafield[prodtableContent_rstab_avg_clarity] != blank or
                        productMetafield[prodtableContent_rstab_setting_typeLabel] != blank or  
                        productMetafield[prodtableContent_rstab_setting_type] != blank 
                    %}    
                    <div class="product-info-item">
                        <div class="product-info-holder">
                            {% if productMetafield[prodtableContent_rstab_title] != blank %}<h5>{{ productMetafield[prodtableContent_rstab_title] }}</h5>{% endif %}

                            <div class="product-info-table">
                                <figure class="table">
                                    <table>
                                        <tbody>
                                            {% for i in (1..30) %}
                                            {%- capture tableContent_rstab-%}rstab_size1_row{{i}}{%- endcapture -%}

                                            {% if productMetafield[prodtableContent_rstab] != blank %}
                                                {% assign rsData =  productMetafield[prodtableContent_rstab] | split: '||' %}
                                                <tr data-row="{{ productMetafield[prodtableContent_rstab] }}">
                                                    <td>{{ rsData[0] }}</td>
                                                    <td>{{ rsData[1] }}</td>
                                                    <td>{{ rsData[2] }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                            {% if productMetafield[prodtableContent_rstab_avg_color] != blank %}
                                                <tr data-tooltip="jewstncoloura" data-row="{{ productMetafield[prodtableContent_rstab_avg_color] }}">
                                                    <td><span class="pdp-tab-label">{% if productMetafield[prodtableContent_rstab_avg_colorLabel] != blank %}{{ productMetafield[prodtableContent_rstab_avg_colorLabel] }}{% else %}Average Color{% endif %}</span></td>
                                                    <td> </td>
                                                    <td><span class="pdp-tab-val">{{ productMetafield[prodtableContent_rstab_avg_color] }}</span></td>
                                                </tr>
                                            {% endif %}
                                            {% if productMetafield[prodtableContent_rstab_avg_clarity] != blank %}
                                                <tr data-tooltip="jewstnclaritya" data-row="{{ productMetafield[prodtableContent_rstab_avg_clarity] }}">
                                                    <td><span class="pdp-tab-label">{% if productMetafield[prodtableContent_rstab_avg_clarityLabel] != blank %}{{ productMetafield[prodtableContent_rstab_avg_clarityLabel] }}{% else %}Average Clarity{% endif %}</span></td>
                                                    <td> </td>
                                                    <td><span class="pdp-tab-val">{{ productMetafield[prodtableContent_rstab_avg_clarity] }}</span></td>
                                                </tr>
                                            {% endif %}
                                            {% if productMetafield[prodtableContent_rstab_setting_type] != blank %}
                                                <tr data-tooltip="jewstnsetting" data-row="{{ productMetafield[prodtableContent_rstab_setting_type] }}">
                                                    <td><span class="pdp-tab-label">{% if productMetafield[prodtableContent_rstab_setting_typeLabel] != blank %}{{ productMetafield[prodtableContent_rstab_setting_typeLabel] }}{% else %}Setting Type{% endif %}</span></td>
                                                    <td> </td>
                                                    <td><span class="pdp-tab-val">{{ productMetafield[prodtableContent_rstab_setting_type] }}</span></td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </figure>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                </div>
                {% endif %}   
                {% endif %}

                <div class="product-info-gird_column">
                {%- comment -%}                              
                    {%- capture tableContent_stone_nameLabel -%}dia_tab{{ j }}_stone_name_label{%- endcapture -%}
                    {%- capture tableContent_stone_name -%}dia_tab{{ j }}_stone_name{%- endcapture -%}
                    variantMetafield[tableContent_stone_nameLabel] != blank or 
                    variantMetafield[tableContent_stone_name] != blank or 
                {%- endcomment -%}
                {% for j in (1..10) %}
                {%- capture otherTableContent_title -%}dia_tab{{ j }}_title{%- endcapture -%}

                {%- capture tableContent_avg_clarityLabel -%}dia_tab{{ j }}_avg_clarity_label{%- endcapture -%}
                {%- capture tableContent_avg_clarity -%}dia_tab{{ j }}_avg_clarity{%- endcapture -%}

                {%- capture tableContent_stone_categoryLabel -%}dia_tab{{ j }}_stone_category_label{%- endcapture -%}
                {%- capture tableContent_stone_category -%}dia_tab{{ j }}_stone_category{%- endcapture -%}
                
                {%- capture tableContent_stone_shapeLabel -%}dia_tab{{ j }}_stone_shape_label{%- endcapture -%}
                {%- capture tableContent_stone_shape -%}dia_tab{{ j }}_stone_shape{%- endcapture -%}
                
                {%- capture tableContent_stone_cut_shapeLabel -%}dia_tab{{ j }}_stone_cut_shape_label{%- endcapture -%}
                {%- capture tableContent_stone_cut_shape -%}dia_tab{{ j }}_stone_cut_shape{%- endcapture -%}  
                
                {%- capture tableContent_no_of_stonesLabel-%}dia_tab{{ j }}_no_of_stones_label{%- endcapture -%}
                {%- capture tableContent_no_of_stones-%}dia_tab{{ j }}_no_of_stones{%- endcapture -%}
                
                {%- capture tableContent_min_stn_ttl_crt_wtLabel-%}dia_tab{{ j }}_min_stn_ttl_crt_wt_label{%- endcapture -%}
                {%- capture tableContent_min_stn_ttl_crt_wt-%}dia_tab{{ j }}_min_stn_ttl_crt_wt{%- endcapture -%}
                
                {%- capture tableContent_stone_avg_colorLabel -%}dia_tab{{ j }}_stone_avg_color_label{%- endcapture -%}
                {%- capture tableContent_stone_avg_color -%}dia_tab{{ j }}_stone_avg_color{%- endcapture -%}

                {%- capture tableContent_stone_typeLabel -%}dia_tab{{ j }}_stone_type_label{%- endcapture -%}
                {%- capture tableContent_stone_type -%}dia_tab{{ j }}_stone_type{%- endcapture -%}

                {%- capture tableContent_cert_cutLabel -%}dia_tab{{ j }}_cert_cut_label{%- endcapture -%}
                {%- capture tableContent_cert_cut -%}dia_tab{{ j }}_cert_cut{%- endcapture -%}

                {%- capture tableContent_stone_coatingLabel -%}dia_tab{{ j }}_stone_coating_label{%- endcapture -%}
                {%- capture tableContent_stone_coating -%}dia_tab{{ j }}_stone_coating{%- endcapture -%}
                
                {%- capture tableContent_color_gradingLabel -%}dia_tab{{ j }}_color_grading_label{%- endcapture -%}
                {%- capture tableContent_color_grading -%}dia_tab{{ j }}_color_grading{%- endcapture -%}

                {%- capture tableContent_clarity_gradingLabel -%}dia_tab{{ j }}_clarity_grading_label{%- endcapture -%}
                {%- capture tableContent_clarity_grading -%}dia_tab{{ j }}_clarity_grading{%- endcapture -%}

                {%- capture tableContent_cert_caratsLabel -%}dia_tab{{ j }}_cert_carats_label{%- endcapture -%}
                {%- capture tableContent_cert_carats -%}dia_tab{{ j }}_cert_carats{%- endcapture -%}

                {%- capture tableContent_cert_fluorescenceLabel -%}dia_tab{{ j }}_cert_fluorescence_label{%- endcapture -%}
                {%- capture tableContent_cert_fluorescence -%}dia_tab{{ j }}_cert_fluorescence{%- endcapture -%}

                {%- capture tableContent_cert_depthLabel -%}dia_tab{{ j }}_cert_depth_label{%- endcapture -%}
                {%- capture tableContent_cert_depth -%}dia_tab{{ j }}_cert_depth{%- endcapture -%}

                {%- capture tableContent_cert_table -%}dia_tab{{ j }}_cert_table{%- endcapture -%}
                {%- capture tableContent_cert_table -%}dia_tab{{ j }}_cert_table{%- endcapture -%}

                {%- capture tableContent_cert_polishLabel -%}dia_tab{{ j }}_cert_polish_label{%- endcapture -%}
                {%- capture tableContent_cert_polish -%}dia_tab{{ j }}_cert_polish{%- endcapture -%}

                {%- capture tableContent_cert_symmentryLabel -%}dia_tab{{ j }}_cert_symmentry_label{%- endcapture -%}
                {%- capture tableContent_cert_symmentry -%}dia_tab{{ j }}_cert_symmentry{%- endcapture -%}

                {%- capture tableContent_cert_girdleLabel -%}dia_tab{{ j }}_cert_girdle_label{%- endcapture -%}
                {%- capture tableContent_cert_girdle -%}dia_tab{{ j }}_cert_girdle{%- endcapture -%}

                {%- capture tableContent_cert_culetLabel -%}dia_tab{{ j }}_cert_culet_label{%- endcapture -%}
                {%- capture tableContent_cert_culet -%}dia_tab{{ j }}_cert_culet{%- endcapture -%}


                {%- capture tableContent_cert_measurementsLabel -%}dia_tab{{ j }}_cert_measurements_label{%- endcapture -%}
                {%- capture tableContent_cert_measurements -%}dia_tab{{ j }}_cert_measurements{%- endcapture -%}

                {%- capture tableContent_actual_stone_wt_carat -%}dia_tab{{ j }}_actual_stone_wt_carat{%- endcapture -%}
                {%- capture tableContent_actual_stone_wt_caratLabel -%}dia_tab{{ j }}_actual_stone_wt_carat_label{%- endcapture -%}

                {%- capture tableContent_setting_type -%}dia_tab{{ j }}_setting_type{%- endcapture -%}
                {%- capture tableContent_setting_typeLabel -%}dia_tab{{ j }}_setting_type_lael{%- endcapture -%}
                
                {%- capture tableContent_frc_ttl_crt_wgt_r -%}dia_tab{{ j }}_frc_stn_total_crt_wt{%- endcapture -%}

                {%- capture tableContent_dec_ttl_crt_wgt_r -%}dia_tab{{ j }}_dec_stn_total_crt_wt{%- endcapture -%}

               

                {% if
                    variantMetafield[otherTableContent_title] != blank or 

                    variantMetafield[tableContent_stone_categoryLabel ] != blank or
                    variantMetafield[tableContent_stone_category ] != blank or
                    
                    variantMetafield[tableContent_stone_shapeLabel] != blank or 
                    variantMetafield[tableContent_stone_shape] != blank or

                    variantMetafield[tableContent_stone_cut_shapeLabel] != blank or 
                    variantMetafield[tableContent_stone_cut_shape] != blank or 

                    variantMetafield[tableContent_no_of_stones] != blank or 
                    variantMetafield[tableContent_no_of_stones] != blank or 

                    variantMetafield[tableContent_min_stn_ttl_crt_wt] != blank or
                    variantMetafield[tableContent_min_stn_ttl_crt_wt] != blank or

                    variantMetafield[tableContent_stone_avg_color] != blank or
                    variantMetafield[tableContent_stone_avg_color] != blank or

                    variantMetafield[tableContent_stone_type] != blank or
                    variantMetafield[tableContent_stone_type] != blank or

                    variantMetafield[tableContent_cert_cut] != blank or
                    variantMetafield[tableContent_cert_cut] != blank or

                    variantMetafield[tableContent_stone_coating] != blank or
                    variantMetafield[tableContent_stone_coating] != blank or

                    variantMetafield[tableContent_clarity_grading] != blank or
                    variantMetafield[tableContent_clarity_grading] != blank or

                    variantMetafield[tableContent_color_grading] != blank or
                    variantMetafield[tableContent_color_grading] != blank or

                    variantMetafield[tableContent_cert_carats] != blank or
                    variantMetafield[tableContent_cert_carats] != blank or

                    variantMetafield[tableContent_cert_fluorescenceLabel] != blank or
                    variantMetafield[tableContent_cert_fluorescence] != blank or

                    variantMetafield[tableContent_cert_depthLabel] != blank or
                    variantMetafield[tableContent_cert_depth] != blank or

                    variantMetafield[tableContent_cert_tableLabel] != blank or
                    variantMetafield[tableContent_cert_table] != blank or

                    variantMetafield[tableContent_cert_polishLabel] != blank or
                    variantMetafield[tableContent_cert_polish] != blank or

                    variantMetafield[tableContent_cert_symmentryLabel] != blank or
                    variantMetafield[tableContent_cert_symmentry] != blank or

                    variantMetafield[tableContent_cert_girdleLabel] != blank or
                    variantMetafield[tableContent_cert_girdle] != blank or

                    variantMetafield[tableContent_cert_culetLabel] != blank or
                    variantMetafield[tableContent_cert_culet] != blank or

                    variantMetafield[tableContent_setting_typeLabel] != blank or
                    variantMetafield[tableContent_setting_type] != blank or

                    variantMetafield[tableContent_actual_stone_wt_caratLabel] != blank or
                    variantMetafield[tableContent_actual_stone_wt_carat] != blank or

                    variantMetafield[tableContent_cert_measurementsLabel] != blank or
                    variantMetafield[tableContent_cert_measurements] != blank or

                    variantMetafield[tableContent_frc_ttl_crt_wgt_r] != blank or

                    variantMetafield[tableContent_dec_ttl_crt_wgt_r] != blank

                %}
                
                <div class="product-info-item">
                    <div class="product-info-holder">
                        {% if variantMetafield[otherTableContent_title] != blank %}<h5>{{ variantMetafield[otherTableContent_title] }}</h5>{% endif %}
                        <div class="product-info-table">
                            <figure class="table">
                                <table>
                                    <tbody>
                                        {% if template.suffix contains 'loose-stone' %}
                                        {% if variantMetafield[tableContent_stone_cut_shape] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ variantMetafield[tableContent_stone_cut_shape] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_stone_cut_shapeLabel] != blank %}{{ variantMetafield[tableContent_stone_cut_shapeLabel] }} {% else %}Shape{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_stone_cut_shape] | truncate: 15 }}</span></td>
                                            </tr>
                                            {% endif %}                                            
                                        {% else %}
                                            {% if variantMetafield[tableContent_stone_shape] != blank or variantMetafield[tableContent_stone_category ] != blank %}
                                            <tr data-tooltip="jewstncnt" data-row="{{ variantMetafield[tableContent_stone_shape] | truncate: 30 | prepend: 'Number of ' | handleize }}{{ variantMetafield[tableContent_stone_category ] | truncate: 30 | append: ' Gemstones' | handleize }}">
                                                <td><span class="pdp-tab-label">{{ variantMetafield[tableContent_stone_shape] | truncate: 30 | prepend: 'Number of ' }} {{ variantMetafield[tableContent_stone_category ] | truncate: 30 | append: ' Gemstones' }}</span></td>
                                                <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_no_of_stones] }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip">{{ variantMetafield[tableContent_tooltip_rhodium] }}</span></td>
                                            </tr>
                                            {% endif %}
                                        {% endif %}
                    
                                        <!-- common_dia_tab_ttl_crt_wgt -->
                                        {% if variantMetafield[tableContent_frc_ttl_crt_wgt_r] != blank %}
                                        <tr data-tooltip="jewstnfrc" data-row="{{ tableContent_frc_ttl_crt_wgt_r }}" data-val="{{ variantMetafield[tableContent_frc_ttl_crt_wgt_r] }}">
                                            <td><span class="pdp-tab-label">Carat Total Weight(ct. tw.)</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_frc_ttl_crt_wgt_r] }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_dec_ttl_crt_wgt_r] != blank %}                                        
                                        <tr data-tooltip="jewstdec" data-row="{{ tableContent_dec_ttl_crt_wgt_r }}" data-val="{{ variantMetafield[tableContent_dec_ttl_crt_wgt_r] }}">
                                            <td><span class="pdp-tab-label">Total carat weight(cts.)</span></td>
                                            <td>
                                            <span class="pdp-tab-val test-1">{{ variantMetafield[tableContent_dec_ttl_crt_wgt_r] }}</span> 
                                            <span class="meta_tooltip" data-tooltip-title="tooltip"></span>
                                            </td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_setting_type] != blank %}
                                        <tr data-tooltip="jewstnsetting" data-row="{{ tableContent_setting_type }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_setting_typeLabel] != blank %}{{ variantMetafield[tableContent_setting_typeLabel] }}{% else %}Setting type{% endif  %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_setting_type] | truncate: 22  }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                
                                        {% if variantMetafield[tableContent_stone_avg_color] != blank %}
                                        <tr data-tooltip="jewstncolourm" data-row="{{ tableContent_stone_avg_color }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_stone_avg_colorLabel] != blank %}{{ variantMetafield[tableContent_stone_avg_colorLabel] }}{% else %}Average Color{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_stone_avg_color] | truncate: 30 }}</span> {%- if variantMetafield[tableContent_tooltip_avg_color] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ variantMetafield[tableContent_tooltip_avg_color] }}"></span>{%- endif -%}</td>
                                        </tr>
                                        {% endif %}
                
                                        {%- comment -%}
                                        {% if variantMetafield[tableContent_stone_name] != blank %}
                                        <tr data-tooltip="jewstnname" data-row="{{ tableContent_stone_name }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_stone_nameLabel] != blank %}{{ variantMetafield[tableContent_stone_nameLabel] }}{% else %}Stone Name{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_stone_name] }}</span> {%- if variantMetafield[tableContent_tooltip_avg_name] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ variantMetafield[tableContent_tooltip_avg_name] }}"></span>{%- endif -%}</td>
                                        </tr>
                                        {% endif %}
                                        {%- endcomment -%}
                
                                        {% if variantMetafield[tableContent_actual_stone_wt_carat] != blank %}
                                        <tr data-tooltip="jewstnname" data-row="{{ tableContent_actual_stone_wt_carat }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_actual_stone_wt_caratLabel] != blank %}{{ variantMetafield[tableContent_actual_stone_wt_caratLabel] }}{% else %}Actual stone Wtc.{% endif %} </span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_actual_stone_wt_carat] }}</span> {%- if variantMetafield[tableContent_tooltip_actual_stone_wt_carat] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ variantMetafield[tableContent_tooltip_actual_stone_wt_carat] }}"></span>{%- endif -%}</td>
                                        </tr>
                                        {% endif %}                                           
                
                                        {% if variantMetafield[tableContent_avg_clarity] != blank %}
                                        <tr data-tooltip="jewstnclaritym" data-row="{{ tableContent_avg_clarity }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_avg_clarityLabel] != blank %}{{ variantMetafield[tableContent_avg_clarityLabel] }}{% else %}Average Clarity{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_avg_clarity] }}</span> {%- if variantMetafield[tableContent_tooltip_avg_clarity] != blank -%}<span class="meta_tooltip" data-tooltip-title="{{ variantMetafield[tableContent_tooltip_avg_clarity] }}"></span>{%- endif -%}</td>
                                        </tr>
                                        {% endif %}                                            
                
                                        {% if variantMetafield[tableContent_cert_cut] != blank %}
                                        <tr data-tooltip="stncertcut" data-row="{{ tableContent_cert_cut }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_cert_cutLabel] != blank %}{{ variantMetafield[tableContent_cert_cutLabel] }}{% else %}Cut{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_cert_cut] | truncate: 15 }}</span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_color_grading] != blank %}
                                        <tr data-tooltip="stncertclr" data-row="{{ tableContent_color_grading }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_color_gradingLabel] != blank %}{{ variantMetafield[tableContent_color_gradingLabel] }}{% else %}Color{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_color_grading] | truncate: 30 }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                
                                        {% if variantMetafield[tableContent_clarity_grading] != blank %}
                                        <tr data-tooltip="stncertclarity" data-row="{{ tableContent_clarity_grading }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_clarity_gradingLabel] != blank %}{{ variantMetafield[tableContent_clarity_gradingLabel] }}{% else %}Clarity{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_clarity_grading] | truncate: 15 }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_cert_carats] != blank %}
                                        <tr data-tooltip="stncertwt" data-row="{{ tableContent_cert_carats }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_cert_caratsLabel] != blank %}{{ variantMetafield[tableContent_cert_caratsLabel] }}{% else %}Carat Weight{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_cert_carats] }}</span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_cert_fluorescence] != blank %}
                                        <tr data-tooltip="stncertflr" data-row="{{ tableContent_cert_fluorescence }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_cert_fluorescenceLabel] != blank %}{{ variantMetafield[tableContent_cert_fluorescenceLabel] }}{% else %}Fluorescence{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_cert_fluorescence] }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_cert_depth] != blank %}
                                        <tr data-tooltip="stncertdepth" data-row="{{ tableContent_cert_depth }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_cert_depthLabel] != blank %}{{ variantMetafield[tableContent_cert_depthLabel] }}{% else %}Depth %{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_cert_depth] }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_cert_table] != blank %}
                                        <tr data-tooltip="stncerttable" data-row="{{ tableContent_cert_table }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_cert_tableLabel] != blank %}{{ variantMetafield[tableContent_cert_tableLabel] }}{% else %}Table %{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_cert_table] | truncate: 15 }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_cert_polish] != blank %}
                                        <tr data-tooltip="stncertpolish" data-row="{{ tableContent_cert_polish }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_cert_polishLabel] != blank %}{{ variantMetafield[tableContent_cert_polishLabel] }}{% else %}Polish{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_cert_polish] | truncate: 15 }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_cert_symmentry] != blank %}
                                        <tr data-tooltip="stncertsymmetry" data-row="{{ tableContent_cert_symmentry }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_cert_symmentryLabel] != blank %}{{ variantMetafield[tableContent_cert_symmentryLabel]}}{% else %}Symmetry{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_cert_symmentry] | truncate: 15 }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_cert_girdle] != blank %}
                                        <tr data-tooltip="stncertgirdle" data-row="{{ tableContent_cert_girdle }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_cert_girdleLabel] != blank %}{{ variantMetafield[tableContent_cert_girdleLabel] }}{% else %}Girdle{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_cert_girdle] | truncate: 15 }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_cert_culet] != blank %}
                                        <tr data-tooltip="stncertculet" data-row="{{ tableContent_cert_culet }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_cert_culetLabel] != blank %}{{ variantMetafield[tableContent_cert_culetLabel] }}{% else %}Culet{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_cert_culet] | truncate: 15 }}</span> <span class="meta_tooltip" data-tooltip-title="tooltip"></span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if variantMetafield[tableContent_cert_measurements] != blank %}
                                        <tr data-tooltip="stncertmesure" data-row="{{ tableContent_cert_measurements }}">
                                            <td><span class="pdp-tab-label">{% if variantMetafield[tableContent_cert_measurementsLabel] != blank %}{{ variantMetafield[tableContent_cert_measurementsLabel] }}{% else %}Measurements{% endif %}</span></td>
                                            <td><span class="pdp-tab-val">{{ variantMetafield[tableContent_cert_measurements] | truncate: 30 }}</span></td>
                                        </tr>
                                        {% endif %}
                
                                        {% if template.suffix contains 'loose-stone' and  current_variant.sku != blank %}
                                        <tr data-tooltip="stncertserial" data-row="sku">
                                            <td><span class="pdp-tab-label">Stock Number</span></td>
                                            <td><span class="pdp-tab-val">{{ current_variant.sku }}</span></td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </figure>
                        </div>
                    </div>
                </div>               

                {% endif %}
                {% endfor %}
                {% if template.suffix == 'loose-stone' %}
          
            {% capture lstableContent_ls_cert_ShapeLabel %}ls_cert_ShapeLabel{% endcapture %}    
            {% capture lstableContent_ls_cert_Shape %}ls_cert_Shape{% endcapture %}
            
            {% capture lstableContent_lsCertColorLabel %}ls_cert_colorLabel{% endcapture %}
            {% capture lstableContent_lsCertColor %}ls_cert_color{% endcapture %}

            {% capture lstableContent_ls_cert_clarityLabel %}ls_cert_clarityLabel{% endcapture %}
            {% capture lstableContent_ls_cert_clarity %}ls_cert_clarity{% endcapture %}

            {% capture lstableContent_ls_cert_stn_wgt_crtLabel %}ls_cert_stn_wgt_crtLabel{% endcapture %}
            {% capture lstableContent_ls_cert_stn_wgt_crt %}ls_cert_stn_wgt_crt{% endcapture %}
            
            {% capture lstableContent_ls_cert_FluorescenceLabel %}ls_cert_FluorescenceLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Fluorescence %}ls_cert_Fluorescence{% endcapture %}
            
            {% capture lstableContent_ls_cert_Tbl_avg_percLabel %}ls_cert_Tbl_avg_percLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Tbl_avg_perc %}ls_cert_Tbl_avg_perc{% endcapture %}
            
            {% capture lstableContent_ls_cert_PolishLabel %}ls_cert_PolishLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Polish %}ls_cert_Polish{% endcapture %}
            
            {% capture lstableContent_ls_cert_SymmetryLabel %}ls_cert_SymmetryLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Symmetry %}ls_cert_Symmetry{% endcapture %}

            {% capture lstableContent_ls_cert_DepthLabel %}ls_cert_DepthLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Depth %}ls_cert_Depth{% endcapture %}

            {% capture lstableContent_ls_cert_TableLabel %}ls_cert_TableLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Table %}ls_cert_Table{% endcapture %}
            
            {% capture lstableContent_ls_cert_GirdleLabel %}ls_cert_GirdleLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Girdle %}ls_cert_Girdle{% endcapture %}

            {% capture lstableContent_ls_cert_CuletLabel  %}ls_cert_CuletLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Culet  %}ls_cert_Culet{% endcapture %}            

            {% capture lstableContent_ls_cert_Diamtrs_minLabel %}ls_cert_Diamtrs_minLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Diamtrs_min %}ls_cert_Diamtrs_min{% endcapture %}
            
            {% capture lstableContent_ls_cert_Diamtrs_maxLabel %}ls_cert_Diamtrs_maxLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Diamtrs_max %}ls_cert_Diamtrs_max{% endcapture %}
            
            {% capture lstableContent_ls_cert_Diamtrs_avgLabel %}ls_cert_Diamtrs_avgLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Diamtrs_avg %}ls_cert_Diamtrs_avg{% endcapture %}

            {% capture lstableContent_ls_cert_height_mmLabel %}ls_cert_height_mmLabel{% endcapture %}
            {% capture lstableContent_ls_cert_height_mm %}ls_cert_height_mm{% endcapture %}
            
            {% capture lstableContent_ls_cert_height_percLabel %}ls_cert_height_percLabel{% endcapture %}
            {% capture lstableContent_ls_cert_height_perc %}ls_cert_height_perc{% endcapture %}
            
            {% capture lstableContent_ls_cert_Crw_Agl_degLabel %}ls_cert_Crw_Agl_degLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Crw_Agl_deg %}ls_cert_Crw_Agl_deg{% endcapture %}

            {% capture lstableContent_ls_cert_Crw_HgtpercLabel %}ls_cert_Crw_HgtpercLabel{% endcapture %}            
            {% capture lstableContent_ls_cert_Crw_Hgtperc %}ls_cert_Crw_Hgtperc{% endcapture %}            
            
            {% capture lstableContent_ls_cert_GirdleminLabel %}ls_cert_GirdleminLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Girdlemin %}ls_cert_Girdlemin{% endcapture %}
            
            {% capture lstableContent_ls_cert_GirdlemaxLabel %}ls_cert_GirdlemaxLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Girdlemax %}ls_cert_Girdlemax{% endcapture %}
            
            {% capture lstableContent_ls_cert_Grdlavg_percLabel %}ls_cert_Grdlavg_percLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Grdlavg_perc %}ls_cert_Grdlavg_perc{% endcapture %}

            {% capture lstableContent_ls_cert_pvln_AglLabel %}ls_cert_pvln_AglLabel{% endcapture %}
            {% capture lstableContent_ls_cert_pvln_Agl %}ls_cert_pvln_Agl{% endcapture %}
            
            {% capture lstableContent_ls_cert_PvlnH_percLabel %}ls_cert_PvlnH_percLabel{% endcapture %}
            {% capture lstableContent_ls_cert_PvlnH_perc %}ls_cert_PvlnH_perc{% endcapture %}

            {% capture lstableContent_ls_cert_Stars_WidthLabel %}ls_cert_Stars_WidthLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Stars_Width %}ls_cert_Stars_Width{% endcapture %}

            {% capture lstableContent_ls_cert_Pavil_WidthLabel %}ls_cert_Pavil_WidthLabel{% endcapture %}
            {% capture lstableContent_ls_cert_Pavil_Width %}ls_cert_Pavil_Width{% endcapture %}

            {% capture lstableContent_ls_cert_GIA2005totalcutgradeLabel %}ls_cert_GIA2005totalcutgradeLabel{% endcapture %}            
            {% capture lstableContent_ls_cert_GIA2005totalcutgrade %}ls_cert_GIA2005totalcutgrade{% endcapture %}            
            
            {% capture lstableContent_ls_cert_GIASYMLabel %}ls_cert_GIASYMLabel{% endcapture %}
            {% capture lstableContent_ls_cert_GIASYM %}ls_cert_GIASYM{% endcapture %}
            
            {% capture lstableContent_ls_cert_hrdtotalcutgradeLabel %}ls_cert_hrdtotalcutgradeLabel{% endcapture %}
            {% capture lstableContent_ls_cert_hrdtotalcutgrade %}ls_cert_hrdtotalcutgrade{% endcapture %}
            
            {% capture lstableContent_ls_cert_hrdSym_totalcutgradeLabel %}ls_cert_hrdSym_totalcutgradeLabel{% endcapture %}
            {% capture lstableContent_ls_cert_hrdSym_totalcutgrade %}ls_cert_hrdSym_totalcutgrade{% endcapture %}
            
            {% capture lstableContent_ls_cert_IGI_totalcutgradeLabel %}ls_cert_IGI_totalcutgradeLabel{% endcapture %}
            {% capture lstableContent_ls_cert_IGI_totalcutgrade %}ls_cert_IGI_totalcutgrade{% endcapture %}
             
                <div class="product-info-item">
                    <div class="product-info-holder">
                        <div class="product-info-table">
                            <figure class="table">
                                <table>
                                    <tbody> 
                                        {%- comment -%}ls_cert_Shape{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Shape] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Shape] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_ShapeLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_ShapeLabel] }} {% else %}Shape{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Shape] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}
                                        
                                        {%- comment -%}ls_cert_color{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_lsCertColor] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_lsCertColor] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_lsCertColorLabel] != blank %}{{ productMetafield[lstableContent_lsCertColorLabel] }} {% else %}Color{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_lsCertColor] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_clarity{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_clarity] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_clarity] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_clarityLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_clarityLabel] }} {% else %}Clarity{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_clarity] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_stn_wgt_crt{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_stn_wgt_crt] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_stn_wgt_crt] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_stn_wgt_crtLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_stn_wgt_crtLabel] }} {% else %}Weight{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_stn_wgt_crt] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Fluorescence{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Fluorescence] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Fluorescence] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_FluorescenceLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_FluorescenceLabel] }} {% else %}Fluorescence{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Fluorescence] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Tbl_avg_perc{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Tbl_avg_perc] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Tbl_avg_perc] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_Tbl_avg_percLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_Tbl_avg_percLabel] }} {% else %}Table{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Tbl_avg_perc] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Polish{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Polish] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Polish] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_PolishLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_PolishLabel] }} {% else %}Polish{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Polish] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Symmetry{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Symmetry] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Symmetry] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_SymmetryLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_SymmetryLabel] }} {% else %}Symmetry{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Symmetry] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Depth{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Depth] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Depth] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_DepthLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_DepthLabel] }} {% else %}Depth{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Depth] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Table{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Table] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Table] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_TableLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_TableLabel] }} {% else %}Table{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Table] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Girdle{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Girdle] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Girdle] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_GirdleLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_GirdleLabel] }} {% else %}Girdle{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Girdle] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}lls_cert_Culet{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Culet] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Culet] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_CuletLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_CuletLabel] }} {% else %}Culet{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Culet] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Diamtrs_min{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Diamtrs_min] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Diamtrs_min] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_Diamtrs_minLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_Diamtrs_minLabel] }} {% else %}Diameter Min{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Diamtrs_min] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Diamtrs_max{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Diamtrs_max] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Diamtrs_max] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_Diamtrs_maxLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_Diamtrs_maxLabel] }} {% else %}Diameter Max{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Diamtrs_max] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Diamtrs_avg{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Diamtrs_avg] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Diamtrs_avg] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_Diamtrs_avgLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_Diamtrs_avgLabel] }} {% else %}Diameter Avg{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Diamtrs_avg] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_height_mm{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_height_mm] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_height_mm] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_height_mmLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_height_mmLabel] }} {% else %}Height{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_height_mm] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_height_perc{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_height_perc] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_height_perc] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_height_percLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_height_percLabel] }} {% else %}Height(%){% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_height_perc] | truncate: 15 | append: '%' }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Crw_Agl_deg{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Crw_Agl_deg] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Crw_Agl_deg] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_Crw_Agl_degLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_Crw_Agl_degLabel] }} {% else %}Crown Angle{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Crw_Agl_deg] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Crw_Hgtperc{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Crw_Hgtperc] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Crw_Hgtperc] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_Crw_HgtpercLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_Crw_HgtpercLabel] }} {% else %}Crown Height (%){% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Crw_Hgtperc] | truncate: 15 | append: '%' }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Girdlemin{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Girdlemin] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Girdlemin] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_GirdleminLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_GirdleminLabel] }} {% else %}Girdle Min{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Girdlemin] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Girdlemax{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Girdlemax] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Girdlemax] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_GirdlemaxLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_GirdlemaxLabel] }} {% else %}Girdle Max{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Girdlemax] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Grdlavg_perc{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Grdlavg_perc] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Grdlavg_perc] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_Grdlavg_percLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_Grdlavg_percLabel] }} {% else %}Girdle Avg (%){% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Grdlavg_perc] | truncate: 15 | append: '%' }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_pvln_Agl{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_pvln_Agl] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_pvln_Agl] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_pvln_AglLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_pvln_AglLabel] }} {% else %}Pavilion Angle{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_pvln_Agl] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_PvlnH_perc{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_PvlnH_perc] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_PvlnH_perc] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_PvlnH_percLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_PvlnH_percLabel] }} {% else %}Pavilion Height{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_PvlnH_perc] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Stars_Width{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Stars_Width] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Stars_Width] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_Stars_WidthLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_Stars_WidthLabel] }} {% else %}Stars Width{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Stars_Width] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_Pavil_Width{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_Pavil_Width] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_Pavil_Width] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_Pavil_WidthLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_Pavil_WidthLabel] }} {% else %}Pavil Width{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_Pavil_Width] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_GIA2005totalcutgrade{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_GIA2005totalcutgrade] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_GIA2005totalcutgrade] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_GIA2005totalcutgradeLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_GIA2005totalcutgradeLabel] }} {% else %}GIA2005 total cut grade{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_GIA2005totalcutgrade] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_GIASYM{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_GIASYM] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_GIASYM] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_GIASYMLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_GIASYMLabel] }} {% else %}GIASYM{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_GIASYM] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_hrdtotalcutgrade{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_hrdtotalcutgrade] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_hrdtotalcutgrade] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_hrdtotalcutgradeLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_hrdtotalcutgradeLabel] }} {% else %}HRD total cut grade
                                                    {% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_hrdtotalcutgrade] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_hrdSym_totalcutgrade{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_hrdSym_totalcutgrade] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_hrdSym_totalcutgrade] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_hrdSym_totalcutgradeLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_hrdSym_totalcutgradeLabel] }} {% else %}HRDSym. total cut grade{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_hrdSym_totalcutgrade] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {%- comment -%}ls_cert_IGI_totalcutgrade{%- endcomment -%} 
                                        {% if productMetafield[lstableContent_ls_cert_IGI_totalcutgrade] != blank %}
                                            <tr data-tooltip="stncertshape" data-row="{{ productMetafield[lstableContent_ls_cert_IGI_totalcutgrade] | truncate: 15 | handleize }}">
                                                <td><span class="pdp-tab-label">{% if productMetafield[lstableContent_ls_cert_IGI_totalcutgradeLabel] != blank %}{{ productMetafield[lstableContent_ls_cert_IGI_totalcutgradeLabel] }} {% else %}IGI. total cut grade{% endif %}</span></td>
                                                <td><span class="pdp-tab-val">{{ productMetafield[lstableContent_ls_cert_IGI_totalcutgrade] | truncate: 15 }}</span></td>
                                            </tr>
                                        {% endif %}


                                        
                                    </tbody>
                                </table>
                            </figure>
                        </div>
                    </div>                
                </div>
               
            {% endif %}
            </div>

            {% if template.suffix == 'loose-stone' %}
            <div class="product-info-gird_column stone__info">
                <ul>
                    <li>
                        <h5>Diamond2 Measurement</h5>
                        <div class="stone__info_img"><img data-src="{{ 'ls_measurement.png' | file_url }}" class="lazyload" alt=""/></div>
                    </li>
                    <li>
                        <h5>Diamond2 Top View</h5>
                        <div class="stone__info_img"><img data-src="{{ 'ls_topview.png' | file_url }}" class="lazyload" alt=""/></div>
                        <div class="stone__info_img"><img data-src="{{ 'ls_bottomview.png' | file_url }}" class="lazyload" alt=""/></div>
                    </li>
                </ul>

            </div>
            {% endif %}
        
        </div>
    </div>
</div>
</div>