{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}

<!-- Default Collection Code -->
{% comment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
        <img id="{{ img_id }}"
              class="grid-view-item__image lazyload"
              alt="{{ preview_image.alt }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ preview_image.aspect_ratio }}"
              data-sizes="auto"
              data-image>
      </div>
    </div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>

  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>

  {% include 'product-price-listing', product: product, show_vendor: show_vendor %}

</div>
{% endcomment %}


<!-- Customized Collection Code -->

{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  {% include 'product-badge' %}
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url }}" style="display: none;">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  <div class="product-images-wrapper {% if product.images.size == 0%}no-image {% endif %}">
     <!-- Swym Wishlist Plus EPI Button-->
      {% if customer %}
      <button data-with-epi="true" class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}" data-variant-id="{{product.variants[0].id}}" data-product-url="{{ shop.url }}{{ product.url }}"></button>
      {% else %}
      <a href="javascript:;" data-modal="showInfoModal" class="item-wishlist-icn">
       {% render 'icon-account-wishlist' %}
     </a>
      {% endif %}
  <!-- Swym Wishlist Plus EPI Button-->
    <a class="product-full-link" href="{{ product.url }}"></a>
    <div id="product_images_slider_{{ product.selected_or_first_available_variant.id}}" class="product-images-wrapper {% if product.images.size > 1 %}product_images_slider{% endif %}">
      {% for slideImage in product.images %}
      {% assign slideImage = slideImage | downcase %}
      {% assign firstVariantColor = product.selected_or_first_available_variant.option1 %}
      {% if  slideImage contains "xyzg" and slideImage.alt ==  firstVariantColor %}
      <div class="product-card__image-with-placeholder-wrapper product-images-slide" data-image-loading-animation>
        <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
          <div class="product_img_holder">
            <img data-src="{{ slideImage.src | img_url: 'master' }}" alt="{{ product.title }}" class="grid-view-item__image lazyload">
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>
  <script>
    // Product Listing Product card Images slider
        $("#product_images_slider_"+{{ product.selected_or_first_available_variant.id}}).slick({ 
          autoplay: false,
          autoplaySpeed: 500,
          arrows: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          Infinite: false,
          loop: false,
          dots: false
        });
    </script>

  <div class="prodct_card_body">
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {% assign variantMetafield = current_variant.metafields.current_variant %}
  {%- assign stoneClr = variantMetafield["dia_tab1_stone_avg_color"] -%}
  {%- assign stoneClarity = variantMetafield["dia_tab1_avg_clarity"] -%}


    <div class="h4 grid-view-item__title product-card__title" aria-hidden="true"><a href="{{ product.url }}"> {{ product.title | replace: 'Diamond2', 'Diamond2<sup>®</sup>'}}</a></div>
    <span style="display: none;">{%- include 'product-price-listing', product: product, show_vendor: show_vendor -%}</span>
    
    <div class="product-price-card ter"><div class="product-price-card-row" data-id = {{ product.id }}>
      <div class="product_weight">
        {% if variantMetafield["frc_stn_total_crt_wt"] != blank  or variantMetafield["dec_stn_total_crt_wt"] != blank %} 
        {% if variantMetafield["dec_stn_total_crt_wt"] != blank %}{{ variantMetafield["dec_stn_total_crt_wt"] | append: ' CTS.' }}
        {% else %}

        <!-- @23# -->

          {% assign frcwt = variantMetafield["frc_stn_total_crt_wt"] %}
          {% if variantMetafield["frc_stn_total_crt_wt"] contains " "%}
            <span font-size="+1">
            {{ variantMetafield["frc_stn_total_crt_wt"] | split: " " | first }}
            </span>
          {% endif %}
          {{ frcwt | split: " " | last }} <span>(CT. TW.)</span>

        {% endif %}           
       {%- endif -%}
      </div>
      <div class="product_def">{%-if stoneClr != blank -%}{{ stoneClr }}{%- if stoneClarity != blank -%}/{%- endif -%}{%- endif -%}{%- if stoneClarity != blank  -%}{{ stoneClarity }}{%- endif -%}</div>
      <div class="product_compare">COMPARE</div>
    </div>
    <div class="product-price-card-row price_row ww {% if product.compare_at_price == blank %}no_discount{% endif %}">
      <div class="ragular_price">{{ product.price | money | remove: '.00' }}</div>
      {%- if product.compare_at_price -%}<div class="compare_at_price">{{ product.compare_at_price | money | remove: '.00' }}</div>{%- endif -%}
      {%- assign discount = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price -%}
      {%- if product.compare_at_price -%}<div class="product_discount">{{ discount | floor }}% OFF</div>{%- endif -%}
    </div>
  </div>
  </div>
</div>
