<div class="account_section_wrapper order_section_wrapper padding_t">
  <div class="container_fluid">
    <div class="sp-account-section-holder">
      <!-- Top Section 'Breadcrumbs', 'Welocome User', 'Top Nav' -->
      {% include 'account-top-section' %}
      
      <div class="sp-account-section">
        <div class="container_fluid_inner">
          <div class="grid myaccount orderSection">
            <div class="grid__item myaccount__order-history">
              <div class="order_sec2">
                <h2>{{ 'customer.order.title' | t: name: order.name }}</h2>
                <!-- {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%} -->
                {%- assign order_date = order.created_at | date: format: 'abbreviated_date' -%}
                <p>{{ 'customer.order.date_html' | t: date: order_date | replace: 'Placed on', '' }}</p>
              </div>
              {%- if order.cancelled -%}
                <div class="order--cancelled">
                  {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
                  <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
                  <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
                </div>
              {%- endif -%}

              <div class="order-table">
                {%- for line_item in order.line_items -%}
                <div class="order-product-details-row" id="{{ line_item.key }}">
                  <div class="order-product-image-column">
                    <div class="order-product-image-holder">{{ line_item.image | img_url: '200x200' | img_tag }}</div>
                  </div>
                  <div class="order-product-details-column">
                    <div class="order-product-details-holder">
                      <h2>{{ line_item.product.title | link_to: line_item.product.url }}</h2>
                      {% if line_item.options_with_values.size > 0 %}
                      <ul class="order-product-varrients">
                        {% for option in line_item.options_with_values %}
                        {% if option.name =='Color' %}
                        <li class="v_{{ option.name }}">
                          <span class="cart-gld-label">Gold {{ option.name }}:</span><span class="cart-gld-text {{ option.value | downcase  | replace: ' ', '_' }}"><span class="gold_colr">18k</span>{{ option.value }}</span>
                        </li>
                        {% elsif option.name =='Size' %}
                        <li class="v_{{ option.name }}">
                          <div class="v_item_inner"><span>Ring {{ option.name }} : </span> <span>{{ option.value }}</span></div>
                        </li>
                        {% else %}
                        <li class="v_{{ option.name }}">
                          <div class="v_item_inner"><span>{{ option.name }} : </span> <span>{{ option.value }}</span></div>
                        </li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                      {% endif %}
                      <div class="order_quentity">QUANTITY: <span>{{ line_item.quantity }}</span></div>
                      <div class="order_price_sec">
                        <div class="order_price">
                          {%- if line_item.original_line_price != line_item.final_line_price -%}
                            <dl>
                              <dt>
                                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                              </dt>
                              <dd>
                                <s>{{ line_item.original_line_price | money }}</s>
                              </dd>
                              <dt>
                                <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                              </dt>
                              <dd>
                                <span class="order-discount">{{ line_item.final_line_price | money }}</span>
                              </dd>
                            </dl>
                          {%- else -%}
                            {{ line_item.original_line_price | money }}
                          {%- endif -%}
                        </div>
                        <div class="order_incluse_tex">{{ 'Price is Inclusive of Taxes' }}</div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                {%- endfor -%}
                <div class="order_status"><span>{{ 'Status:' }}</span> {{ order.fulfillment_status_label | upcase }}</div>
                <div class="order_fullfill_details">Fulfilled July 21, 2021 ECOM. {{ order.name }}</div>
                <div class="payment_details_sec">
                  <div class="payment_details_row paymentmode_row">
                    <div class="payment_details_col">Payment Mode</div>
                    <div class="payment_details_col">Online Payment</div>
                  </div>
                  <div class="payment_details_row subtotal_row">
                    <div class="payment_details_col">{{ 'customer.order.subtotal' | t }}</div>
                    <div class="payment_details_col">{{ order.line_items_subtotal_price | money }}</div>
                  </div>
                  {%- for shipping_method in order.shipping_methods -%}
                  <div class="payment_details_row shipping_row">
                    <div class="payment_details_col">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</div>
                    <div class="payment_details_col">{{ shipping_method.price | money }}</div>
                  </div>
                  {%- endfor -%}
                  {%- for tax_line in order.tax_lines -%}
                  <div class="payment_details_row tex_row">
                    <div class="payment_details_col">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</div>
                    <div class="payment_details_col">{{ tax_line.price | money }}</div>
                  </div>
                  {%- endfor -%}
                  <div class="payment_details_row total_row">
                    <div class="payment_details_col">{{ 'customer.order.total' | t }}</div>
                    <div class="payment_details_col">{{ order.total_price | money_with_currency }}</div>
                  </div>
                </div>
                <div class="order_address_details">
                  <div class="order_address_col shipping_address">
                    <span class="address_title">{{ 'customer.order.shipping_address' | t }}</span>
                    {{ order.shipping_address | format_address }}
                  </div>
                  <div class="order_address_col billing_address">
                    <span class="address_title">{{ 'customer.order.billing_address' | t }}</span>
                    {{ order.billing_address | format_address }}
                  </div>
                </div>

              </div>
              {%- comment -%}
              <table class="order-table">
                <thead>
                  <tr>
                    <th scope="col">{{ 'customer.order.product' | t }}</th>
                    <th scope="col">{{ 'customer.order.sku' | t }}</th>
                    <th class="text-right" scope="col">{{ 'customer.order.price' | t }}</th>
                    <th class="text-right" scope="col">{{ 'customer.order.quantity' | t }}</th>
                    <th class="text-right" scope="col">{{ 'customer.order.total' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  {%- for line_item in order.line_items -%}
                    <tr id="{{ line_item.key }}">
                      <th class="order-table__product" scope="row" data-label="{{ 'customer.order.product' | t }}">
                        <div>
                          {{ line_item.title | link_to: line_item.product.url }}
                          {%- assign property_size = line_item.properties | size -%}
                          {% unless line_item.selling_plan_allocation == nil and property_size == 0 %}
                            <div class="item-props">
                              {% unless line_item.selling_plan_allocation == nil  %}
                                <span class="item-props__property">
                                  {{ line_item.selling_plan_allocation.selling_plan.name }}
                                </span>
                              {% endunless %}
                              {% if property_size != 0 %}
                                {% for property in line_item.properties %}
                                  {% assign property_first_char = property.first | slice: 0 %}
                                  {% if property.last != blank and property_first_char != '_' %}
                                    <span class="item-props__property">
                                      {{ property.first }}:&nbsp;
                                      {%- if property.last contains '/uploads/' -%}
                                        <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </span>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                            </div>
                          {% endunless %}
                          {%- if line_item.line_level_discount_allocations != blank -%}
                            <ul class="order-discount order-discount--list order-discount--title" aria-label="{{ 'customer.order.discount' | t }}">
                              {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                                <li class="order-discount__item">
                                  {% include 'icon-saletag' %}{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </div>
                        {%- if line_item.fulfillment -%}
                          <div class="note">
                            {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                            {{ 'customer.order.fulfilled_at_html' | t: date: created_at }}
                            <div>
                              {%- if line_item.fulfillment.tracking_url -%}
                                <a href="{{ line_item.fulfillment.tracking_url }}">
                                  {{ 'customer.order.track_shipment' | t }}
                                </a>
                              {%- endif -%}
                              <div>
                                {{ line_item.fulfillment.tracking_company }}
                                {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                              </div>
                            </div>
                          </div>
                        {%- endif -%}
                      </th>
                      <td data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
                      <td class="text-right" data-label="{{ 'customer.order.price' | t }}">
                        <dl>
                          {%- if line_item.original_price != line_item.final_price -%}
                            <dt>
                              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                            </dt>
                            <dd>
                              <s>{{ line_item.original_price | money }}</s>
                            </dd>
                            <dt>
                              <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                            </dt>
                            <dd>
                              <span class="order-discount">{{ line_item.final_price | money }}</span>
                            </dd>
                          {%- else -%}
                            <dt>
                              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                            </dt>
                            <dd>
                              {{ line_item.original_price | money }}
                            </dd>
                          {%- endif -%}

                          {%- if line_item.unit_price_measurement -%}
                            <dt>
                              <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
                            </dt>
                            <dd>
                              <span class="price-unit-price">
                                {%- capture unit_price_separator -%}
                                  <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                                {%- endcapture -%}
                                {%- capture unit_price_base_unit -%}
                                  {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                    {{- line_item.unit_price_measurement.reference_value -}}
                                  {%- endif -%}
                                  {{ line_item.unit_price_measurement.reference_unit }}
                                {%- endcapture -%}

                                <span data-unit-price>{{ line_item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                              </span>
                            </dd>
                          {%- endif -%}
                        </dl>
                      </td>
                      <td class="text-right" data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                      <td class="text-right" data-label="{{ 'customer.order.total' | t }}">
                        {%- if line_item.original_line_price != line_item.final_line_price -%}
                          <dl>
                            <dt>
                              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                            </dt>
                            <dd>
                              <s>{{ line_item.original_line_price | money }}</s>
                            </dd>
                            <dt>
                              <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                            </dt>
                            <dd>
                              <span class="order-discount">{{ line_item.final_line_price | money }}</span>
                            </dd>
                          </dl>
                        {%- else -%}
                          {{ line_item.original_line_price | money }}
                        {%- endif -%}
                      </td>
                    </tr>
                  {%- endfor -%}
                </tbody>
                <tfoot>
                  <tr>
                    <th class="small--hide" scope="row" colspan="4">{{ 'customer.order.subtotal' | t }}</th>
                    <td class="text-right" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
                  </tr>

                  {%- if order.cart_level_discount_applications != blank -%}
                    <tr>
                      {%- for discount_application in order.cart_level_discount_applications -%}
                        <th class="small--hide" scope="row" colspan="4">
                          {{ 'customer.order.discount' | t }}
                          <span class="order-discount order-discount--title">
                            {% include 'icon-saletag' %}{{- discount_application.title -}}
                          </span>
                        </th>
                        <td class="text-right" data-label="{{ 'customer.order.discount' | t }}">
                          <div class="order-discount-wrapper">
                            <span class="order-discount order-discount--title text-left medium-up--hide">
                              {% include 'icon-saletag' %}{{- discount_application.title -}}
                            </span>
                            <span class="order-discount">-{{ discount_application.total_allocated_amount | money }}</span>
                          </div>
                        </td>
                      {%- endfor -%}
                    </tr>
                  {%- endif -%}

                  {%- for shipping_method in order.shipping_methods -%}
                    <tr>
                      <th class="small--hide" scope="row" colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</th>
                      <td class="text-right" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                    </tr>
                  {%- endfor -%}

                  {%- for tax_line in order.tax_lines -%}
                    <tr>
                      <th class="small--hide" scope="row" colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</th>
                      <td class="text-right" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                    </tr>
                  {%- endfor -%}

                  <tr>
                    <th class="small--hide" scope="row" colspan="4">{{ 'customer.order.total' | t }}</th>
                    <td class="text-right" data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money_with_currency }}</td>
                  </tr>
                </tfoot>
              </table>
              {%- endcomment -%}
            </div>

            {%- comment -%}
            <div class="grid__item myaccount__account-details">
              <h3>{{ 'customer.order.billing_address' | t }}</h3>

              <p><strong>{{ 'customer.order.payment_status' | t }}:</strong> {{ order.financial_status_label }}</p>

              {{ order.billing_address | format_address }}

              <h3>{{ 'customer.order.shipping_address' | t }}</h3>

              <p><strong>{{ 'customer.order.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</p>

              {{ order.shipping_address | format_address }}
            </div>
            {%- endcomment -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>