<div class="register-page-wrapper login-page-wrapper">
  <div class="dia-container">

    {% assign forgetPasswordImage = settings.account_right_image %}
    <div class="reset-password forget-form-wrapper customer-form" id="reset-pass">
      <div class="register-page-inner-wrapper">
        <div class="register-page-two-col-row {% if forgetPasswordImage == blank %}has_not_right_image{% endif %}">
          <div class="register-form-column">
            <div class="register-form-column-inner">
              <div class="form-wrapper form-flex-end">
                <div class="custom-sec-header2">
                  <div class="heading">Create New Password</div>
                  <p class="email-reset hide">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
                </div>

                {% assign formId = 'reset_password_form' %}
                {%- form 'reset_customer_password', class: 'form form-validation-reset form-wrapper', data-form: '', id: formId -%}

                {%- if form.errors -%}
                <div class="form-message form-message--error">
                  <h2 class="h3 form-message__title " tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
                  {{ form.errors | default_errors }}
                </div>
                {%- endif -%}
                
                <div class="form__input-wrapper{% if form.errors contains 'form' %} form__input-wrapper--error{% endif %}" data-form-input-wrapper>
                  <span class="input_icon">
                    {% include 'input-lock-icon' %}
                  </span>
                    {% include 'show-password' %}
                    <input
                         type="password"
                         value=""
                         name="customer[password]"
                         id="ResetPassword"
                         class="form__input"
                         autocomplete="off"
                         placeholder="New Password"
                         aria-required="true"
                         required
                         {% if form.errors contains 'password_confirmation' %}
                         aria-invalid="true"
                         {% endif %}
                         >
                  <span class="msg-error"></span>
                </div>

                <div class="form__input-wrapper{% if form.errors contains 'form' %} form__input-wrapper--error{% endif %}" data-form-input-wrapper>
                  <span class="input_icon">
                    {% include 'input-lock-icon' %}
                  </span>
                  <input
                         type="password"
                         value=""
                         name="customer[password_confirmation]"
                         id="PasswordConfirmation"
                         class="form__input"
                         autocomplete="off"
                         placeholder="Confirm New Password"
                         aria-required="true"
                         required
                         {% if form.errors contains 'password_confirmation' %}
                         aria-invalid="true"
                         {% endif %}
                         >
                  <span class="msg-error"></span>
                </div>
                
                <div class="btn-actions-wrapper">
                  <button type="button" class="customer__button glb-btn">
                    <span>{{ ' Save '}}</span>
                  </button>
                </div>
        
              {%- endform -%}

              </div>
            </div>
          </div>
          {% if forgetPasswordImage %}
            <div class="register-image-column">
              <div class="register-image-column">
                <div class="register_image_box">
                  <img src="{{ forgetPasswordImage | img_url: 'master' }}" alt="Image">
                </div>
              </div>
            </div>
            {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(event) {

    /*form validation start*/

    function validateCreatePassword($this) {
      var passw =  /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,16}$/; 
       var thisPassword = $this.find('input[name="customer[password]"]').val();
      console.log(thisPassword);
      if (thisPassword == '' || thisPassword == null) {
        $this.find('input[name="customer[password]"]').addClass('form-error').next('.msg-error').text("Enter Your Valid Password").css('display','block');
      } else {
        console.log('34')
        if(thisPassword.match(passw)){
          console.log('matchrejecx');
          $this.find('input[name="customer[password]"]').removeClass('form-error').next('.msg-error').empty().css('display','none');
        }else {
          console.log('12')
          $this.find('input[name="customer[password]"]').addClass('form-error').next('.msg-error').text("Enter Password at least 8 characters, one lowercase letter, one uppercase letter, one numeric digit, and one special character").css('display','block');
          return false;
        } 
      }
    }
    function validateResetPassword($this) {
      var passw =  /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,16}$/; 
      var thisPassword = $this.find('input[name="customer[password]"]').val();
      var thisConfirmPassword = $this.find('input[name="customer[password_confirmation]"]').val();
      if(thisConfirmPassword == '' || thisConfirmPassword == null || thisConfirmPassword != thisPassword) {
        $this.find('input[name="customer[password_confirmation]"]').addClass('form-error').next('.msg-error').text("Password not matched").css('display','block');
      } else {
        $this.find('input[name="customer[password]"], input[name="customer[password_confirmation]"]').removeClass('form-error').next('.msg-error').empty().css('display','none');
      }
      if(thisPassword.match(passw)){
          console.log('matchrejecx');
          $this.find('input[name="customer[password]"]').removeClass('form-error').next('.msg-error').empty().css('display','none');
        }else {
          console.log('12')
          $this.find('input[name="customer[password]"]').addClass('form-error').next('.msg-error').text("Enter Password at least 8 characters, one lowercase letter, one uppercase letter, one numeric digit, and one special character").css('display','block');
          return false;
        } 
    }
    $(document).on('click', 'button[type="button"]', function(e) {
      var $this = $(this).closest('form');
      //Write here your validations
      //And use this to prevent the form from submiting in case validations are not met.
      if($this.hasClass('form-validation-reset')) {
        validateCreatePassword($this)
        validateResetPassword($this);
      } 
      if($this.find('input.form-error').length > 0) {
        return false;
      } else {
        $this.submit();
      }
      removeMessage();
    });
    $('form').on('keyup', 'input', function() {
      $(this).removeClass('form-error').next('.msg-error').css('display','none');
    });
    function removeMessage(){    
      setTimeout(function(){
        $('.msg-error').css('display','none');
        $('form input').removeClass('form-error');
      },5000)
    }
    /*form validation end*/
  });
</script>