<div class="description-content">
    <div class="description-inner-box">
        {% for block in section.blocks %} 
            <div class="inner-section">
                <img class="small-icons" src="{{ block.settings.small-img | img_url:"master" }}"/>
                <p class="small-heading">{{ block.settings.text-1 }}</p>
                <p class="small-content">{{ block.settings.text-2 }}</p>
                <a class="link-text" href="{{ block.settings.content-link }}">{{ block.settings.link-text }}</a>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
  {
    "name": "Description Content",
    "max_blocks": 3,
	
    "blocks": [
      {
        "type": "addBlock",
        "name": "Blocks",
        "limit": 3,
        "settings": [
          {
            "id": "small-img",
            "type": "image_picker",
            "label": "Icons"
          },
          {
            "id": "text-1",
            "type": "text",
            "label": "Heading Text"
          },
          {
            "id": "text-2",
            "type": "text",
            "label": "Subheading Content"
          },
          {
            "id": "link-text",
            "type": "text",
            "label": "Text for link"
          },
          {
            "id": "content-link",
            "type": "url",
            "label": "URL"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
.description-content{padding-right:100px;padding-left:100px;padding-top:100px;padding-bottom:75px;}
.description-inner-box{display: flex;justify-content: space-around;}
.small-icons{display: block;text-align: center;margin: 0 auto 50px;}
.inner-section{width:30%;}
p.small-heading{padding-bottom:50px;margin-bottom:0px;font-family: Spectral;font-style: normal;font-weight: 275;font-size: 38px;line-height: 108%;text-align: center;text-transform: uppercase;color: #6C1D45;}
p.small-content{padding-bottom:50px;margin-bottom:0px;font-family: Montserrat;font-style: normal;font-weight: 300;font-size: 26px;line-height: 108%;text-align: center;color: #000000;}
a.link-text{text-align: center;display: block;text-decoration: underline;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 18px;line-height: 108%;color: #6C1D45;}

</style>