<div class="description-content">
    <div class="description-inner-box">
        {% for block in section.blocks %} 
            <div class="inner-section">
                <img class="small-icons" src="{{ block.settings.small-img | img_url:"master" }}"/>
                <p class="small-heading">{{ block.settings.text-1 }}</p>
                <p class="small-content-two">{{ block.settings.text-2 }}</p>
                <a class="link-text" href="{{ block.settings.content-link }}">{{ block.settings.link-text }}</a>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
  {
    "name": "Description Content",
    "max_blocks": 3,
	
    "blocks": [
      {
        "type": "addBlock",
        "name": "Blocks",
        "limit": 3,
        "settings": [
          {
            "id": "small-img",
            "type": "image_picker",
            "label": "Icons"
          },
          {
            "id": "text-1",
            "type": "text",
            "label": "Heading Text"
          },
          {
            "id": "text-2",
            "type": "text",
            "label": "Subheading Content"
          },
          {
            "id": "link-text",
            "type": "text",
            "label": "Text for link"
          },
          {
            "id": "content-link",
            "type": "url",
            "label": "URL"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
.description-content{padding-right:100px;padding-left:100px;padding-top:100px;padding-bottom:75px;}
.description-inner-box{display: flex;justify-content: space-around;}
.small-icons{display: block;text-align: center;margin: 0 auto 50px;}
.inner-section{width:30%;}
p.small-heading{padding-bottom:50px;margin-bottom:0px;font-family: 'Spectral', serif;font-style: normal;font-weight: 200;font-size: 38px;line-height: 108%;text-align: center;text-transform: uppercase;color: #6C1D45;}
p.small-content-two{line-height: 1.8;;padding-bottom:50px;margin-bottom:0px;font-family: 'Montserrat', sans-serif;font-style: normal;font-weight: 300;font-size: 26px;line-height: 108%;text-align: center;color: #000000;}
a.link-text{text-align: center;display: block;text-decoration: underline;font-family: 'Montserrat', sans-serif;font-style: normal;font-weight: 500;font-size: 18px;line-height: 108%;color: #6C1D45;}

@media screen and (max-width: 767px){
.description-content {padding-right: 10px;padding-left: 10px;padding-top: 50px;padding-bottom: 25px;}
.description-inner-box{display:block;}
.inner-section {width: 100%;margin-bottom: 25px;}
.small-icons {display: block;text-align: center;margin: 0 auto 25px;}
p.small-heading{font-size:18px !important;padding-bottom:10px !important;}
p.small-content-two{line-height: 1.8;font-size: 15px !important;padding-bottom: 15px !important;line-height: 150% !important;}
a.link-text{font-size:15px !important;}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .description-content {padding-right: 25px;padding-left: 25px;padding-top: 50px;padding-bottom: 75px;}
  .description-inner-box{display:block;}
  .inner-section {width: 100%;margin-bottom: 25px;}
  .small-icons {display: block;text-align: center;margin: 0 auto 25px;width: 50px;}
  p.small-heading{font-size:30px;padding-bottom:15px;}
  p.small-content-two{line-height: 1.8;font-size:18px;padding-bottom:15px !important;}
  a.link-text{font-size:14px;}
}

@media screen and (min-width: 1025px) and (max-width: 1220px){
  .description-content {padding-right: 25px;padding-left: 25px;padding-top: 50px;padding-bottom: 75px;}
  .description-inner-box{display: flex;justify-content: space-around;}
  .inner-section {width: 30%;margin-bottom: 25px;}
  .small-icons {display: block;text-align: center;margin: 0 auto 25px;width: 50px;}
  p.small-heading{font-size:30px;padding-bottom:15px;min-height: 80px;}
  p.ssmall-content-two{line-height: 1.8;font-size:18px;padding-bottom:15px !important;}
  a.link-text{font-size:14px;}
}

@media screen and (min-width: 1221px) and (max-width: 1440px){
  .description-content {padding-right: 25px;padding-left: 25px;padding-top: 50px;padding-bottom: 75px;}
  .description-inner-box{display: flex;justify-content: space-around;}
  .inner-section {width: 30%;margin-bottom: 25px;}
  .small-icons {display: block;text-align: center;margin: 0 auto 25px;width: 50px;}
  p.small-heading{font-size:30px;padding-bottom:15px;min-height: 80px;}
  p.small-content-two{line-height: 1.8;font-size:16px;padding-bottom:15px !important;}
  a.link-text{font-size:16px;}
}

@media screen and (min-width: 1441px) and (max-width: 1900px){
  .description-content {padding-right: 25px;padding-left: 25px;padding-top: 50px;padding-bottom: 0px;}
  .description-inner-box{display: flex;justify-content: space-around;}
  .inner-section {width: 30%;margin-bottom: 25px;}
  .small-icons {display: block;text-align: center;margin: 0 auto 25px;width: 50px;}
  p.small-heading{font-size:30px;padding-bottom:15px;min-height: 80px;}
  p.small-content-two{font-size:16px;padding-bottom:15px !important;}
  a.link-text{font-size:14px;}
}

</style>