<div class="enroll-banner">
    <div class="enroll-container">
        <p class="enroll-inner-heading">{{ section.settings.banner_heading }}</p>
        <p class="enroll-inner-subheading">{{ section.settings.banner_subheading }}</p>
        <button id="enroll-btn" class="enroll-btn">{{ section.settings.button_text }}</button>
    </div>
</div>

<div id="enroll-registration-form" class="enroll-as-embassador-form">
 <div class="embassador-form-body">
   
  <div class="embassador-form-head">
   <p class="form-heading">Enroll as ambassador</p>
   <p class="form-subheading">Feel free to contact us any time. We will get back to you as soon as we can!</p>
   
   <span id="close-popup" class="cross-img">
     <img src="https://cdn.shopify.com/s/files/1/2428/5565/files/popup-close.png" alt="">
   </span>

  </div>

<div class="embassador-form-registration">
<form method="post" action=" " id="ambassador-form" accept-charset="UTF-8" class="contact-form" onsubmit="" return false;">
<input type="hidden" name="form_type" value="contact">
<input type="hidden" name="utf8" value="✓">
  <div class="embassador-form-content">
    <div class="form-inner-content">
      <label for="first name">First Name</label>
      <input id="first_name" type="text" value="" name="first name" required>
      <span class="error-1">Please enter first name</error>
    </div>
    <div class="form-inner-content">
      <label for="last name">Last Name</label>
      <input id="last_name" type="text" value="" name="last name" required>
      <span class="error-1">Please enter last name</error>
    </div>
    <div class="form-inner-content">
      <label for="email">Email</label>
      <input id="email" type="text" value="" name="email" required>
      <span class="error-1">Please enter email</error>
      <span class="error-2">Please enter valid email id</error>
    </div>
    <div class="form-inner-content">
      <label for="company name">Company Name</label>
      <input id="company_name" type="text" value="" name="company name" required>
      <span class="error-1">Please enter company name</error>
    </div>
    <div class="form-inner-content">
      <label for="address">Address</label>
      <input id="address" type="text" value="" name="address" required>
      <span class="error-1">Please enter address</error>
    </div>
    <div class="form-inner-content">
      <label for="city">City</label>
      <input id="city" type="text" value="" name="city" required>
      <span class="error-1">Please enter city name</error>
    </div>
    <div class="form-inner-content">
      <label for="country">Country</label>
      <select id="country" type="text" value="" name="country" required>
          <option value="Afghanistan">Afghanistan</option>
          <option value="Albania">Albania</option>
          <option value="Algeria">Algeria</option>
          <option value="American Samoa">American Samoa</option>
          <option value="Andorra">Andorra</option>
          <option value="Angola">Angola</option>
          <option value="Anguilla">Anguilla</option>
          <option value="Antartica">Antarctica</option>
          <option value="Antigua and Barbuda">Antigua and Barbuda</option>
          <option value="Argentina">Argentina</option>
          <option value="Armenia">Armenia</option>
          <option value="Aruba">Aruba</option>
          <option value="Australia">Australia</option>
          <option value="Austria">Austria</option>
          <option value="Azerbaijan">Azerbaijan</option>
          <option value="Bahamas">Bahamas</option>
          <option value="Bahrain">Bahrain</option>
          <option value="Bangladesh">Bangladesh</option>
          <option value="Barbados">Barbados</option>
          <option value="Belarus">Belarus</option>
          <option value="Belgium">Belgium</option>
          <option value="Belize">Belize</option>
          <option value="Benin">Benin</option>
          <option value="Bermuda">Bermuda</option>
          <option value="Bhutan">Bhutan</option>
          <option value="Bolivia">Bolivia</option>
          <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
          <option value="Botswana">Botswana</option>
          <option value="Bouvet Island">Bouvet Island</option>
          <option value="Brazil">Brazil</option>
          <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
          <option value="Brunei Darussalam">Brunei Darussalam</option>
          <option value="Bulgaria">Bulgaria</option>
          <option value="Burkina Faso">Burkina Faso</option>
          <option value="Burundi">Burundi</option>
          <option value="Cambodia">Cambodia</option>
          <option value="Cameroon">Cameroon</option>
          <option value="Canada">Canada</option>
          <option value="Cape Verde">Cape Verde</option>
          <option value="Cayman Islands">Cayman Islands</option>
          <option value="Central African Republic">Central African Republic</option>
          <option value="Chad">Chad</option>
          <option value="Chile">Chile</option>
          <option value="China">China</option>
          <option value="Christmas Island">Christmas Island</option>
          <option value="Cocos Islands">Cocos (Keeling) Islands</option>
          <option value="Colombia">Colombia</option>
          <option value="Comoros">Comoros</option>
          <option value="Congo">Congo</option>
          <option value="Congo">Congo, the Democratic Republic of the</option>
          <option value="Cook Islands">Cook Islands</option>
          <option value="Costa Rica">Costa Rica</option>
          <option value="Cota D'Ivoire">Cote d'Ivoire</option>
          <option value="Croatia">Croatia (Hrvatska)</option>
          <option value="Cuba">Cuba</option>
          <option value="Cyprus">Cyprus</option>
          <option value="Czech Republic">Czech Republic</option>
          <option value="Denmark">Denmark</option>
          <option value="Djibouti">Djibouti</option>
          <option value="Dominica">Dominica</option>
          <option value="Dominican Republic">Dominican Republic</option>
          <option value="East Timor">East Timor</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Egypt">Egypt</option>
          <option value="El Salvador">El Salvador</option>
          <option value="Equatorial Guinea">Equatorial Guinea</option>
          <option value="Eritrea">Eritrea</option>
          <option value="Estonia">Estonia</option>
          <option value="Ethiopia">Ethiopia</option>
          <option value="Falkland Islands">Falkland Islands (Malvinas)</option>
          <option value="Faroe Islands">Faroe Islands</option>
          <option value="Fiji">Fiji</option>
          <option value="Finland">Finland</option>
          <option value="France">France</option>
          <option value="France Metropolitan">France, Metropolitan</option>
          <option value="French Guiana">French Guiana</option>
          <option value="French Polynesia">French Polynesia</option>
          <option value="French Southern Territories">French Southern Territories</option>
          <option value="Gabon">Gabon</option>
          <option value="Gambia">Gambia</option>
          <option value="Georgia">Georgia</option>
          <option value="Germany">Germany</option>
          <option value="Ghana">Ghana</option>
          <option value="Gibraltar">Gibraltar</option>
          <option value="Greece">Greece</option>
          <option value="Greenland">Greenland</option>
          <option value="Grenada">Grenada</option>
          <option value="Guadeloupe">Guadeloupe</option>
          <option value="Guam">Guam</option>
          <option value="Guatemala">Guatemala</option>
          <option value="Guinea">Guinea</option>
          <option value="Guinea-Bissau">Guinea-Bissau</option>
          <option value="Guyana">Guyana</option>
          <option value="Haiti">Haiti</option>
          <option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
          <option value="Holy See">Holy See (Vatican City State)</option>
          <option value="Honduras">Honduras</option>
          <option value="Hong Kong">Hong Kong</option>
          <option value="Hungary">Hungary</option>
          <option value="Iceland">Iceland</option>
          <option value="India">India</option>
          <option value="Indonesia">Indonesia</option>
          <option value="Iran">Iran (Islamic Republic of)</option>
          <option value="Iraq">Iraq</option>
          <option value="Ireland">Ireland</option>
          <option value="Israel">Israel</option>
          <option value="Italy">Italy</option>
          <option value="Jamaica">Jamaica</option>
          <option value="Japan">Japan</option>
          <option value="Jordan">Jordan</option>
          <option value="Kazakhstan">Kazakhstan</option>
          <option value="Kenya">Kenya</option>
          <option value="Kiribati">Kiribati</option>
          <option value="Democratic People's Republic of Korea">Korea, Democratic People's Republic of</option>
          <option value="Korea">Korea, Republic of</option>
          <option value="Kuwait">Kuwait</option>
          <option value="Kyrgyzstan">Kyrgyzstan</option>
          <option value="Lao">Lao People's Democratic Republic</option>
          <option value="Latvia">Latvia</option>
          <option value="Lebanon" selected>Lebanon</option>
          <option value="Lesotho">Lesotho</option>
          <option value="Liberia">Liberia</option>
          <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
          <option value="Liechtenstein">Liechtenstein</option>
          <option value="Lithuania">Lithuania</option>
          <option value="Luxembourg">Luxembourg</option>
          <option value="Macau">Macau</option>
          <option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
          <option value="Madagascar">Madagascar</option>
          <option value="Malawi">Malawi</option>
          <option value="Malaysia">Malaysia</option>
          <option value="Maldives">Maldives</option>
          <option value="Mali">Mali</option>
          <option value="Malta">Malta</option>
          <option value="Marshall Islands">Marshall Islands</option>
          <option value="Martinique">Martinique</option>
          <option value="Mauritania">Mauritania</option>
          <option value="Mauritius">Mauritius</option>
          <option value="Mayotte">Mayotte</option>
          <option value="Mexico">Mexico</option>
          <option value="Micronesia">Micronesia, Federated States of</option>
          <option value="Moldova">Moldova, Republic of</option>
          <option value="Monaco">Monaco</option>
          <option value="Mongolia">Mongolia</option>
          <option value="Montserrat">Montserrat</option>
          <option value="Morocco">Morocco</option>
          <option value="Mozambique">Mozambique</option>
          <option value="Myanmar">Myanmar</option>
          <option value="Namibia">Namibia</option>
          <option value="Nauru">Nauru</option>
          <option value="Nepal">Nepal</option>
          <option value="Netherlands">Netherlands</option>
          <option value="Netherlands Antilles">Netherlands Antilles</option>
          <option value="New Caledonia">New Caledonia</option>
          <option value="New Zealand">New Zealand</option>
          <option value="Nicaragua">Nicaragua</option>
          <option value="Niger">Niger</option>
          <option value="Nigeria">Nigeria</option>
          <option value="Niue">Niue</option>
          <option value="Norfolk Island">Norfolk Island</option>
          <option value="Northern Mariana Islands">Northern Mariana Islands</option>
          <option value="Norway">Norway</option>
          <option value="Oman">Oman</option>
          <option value="Pakistan">Pakistan</option>
          <option value="Palau">Palau</option>
          <option value="Panama">Panama</option>
          <option value="Papua New Guinea">Papua New Guinea</option>
          <option value="Paraguay">Paraguay</option>
          <option value="Peru">Peru</option>
          <option value="Philippines">Philippines</option>
          <option value="Pitcairn">Pitcairn</option>
          <option value="Poland">Poland</option>
          <option value="Portugal">Portugal</option>
          <option value="Puerto Rico">Puerto Rico</option>
          <option value="Qatar">Qatar</option>
          <option value="Reunion">Reunion</option>
          <option value="Romania">Romania</option>
          <option value="Russia">Russian Federation</option>
          <option value="Rwanda">Rwanda</option>
          <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option> 
          <option value="Saint LUCIA">Saint LUCIA</option>
          <option value="Saint Vincent">Saint Vincent and the Grenadines</option>
          <option value="Samoa">Samoa</option>
          <option value="San Marino">San Marino</option>
          <option value="Sao Tome and Principe">Sao Tome and Principe</option> 
          <option value="Saudi Arabia">Saudi Arabia</option>
          <option value="Senegal">Senegal</option>
          <option value="Seychelles">Seychelles</option>
          <option value="Sierra">Sierra Leone</option>
          <option value="Singapore" selected>Singapore</option>
          <option value="Slovakia">Slovakia (Slovak Republic)</option>
          <option value="Slovenia">Slovenia</option>
          <option value="Solomon Islands">Solomon Islands</option>
          <option value="Somalia">Somalia</option>
          <option value="South Africa">South Africa</option>
          <option value="South Georgia">South Georgia and the South Sandwich Islands</option>
          <option value="Span">Spain</option>
          <option value="SriLanka">Sri Lanka</option>
          <option value="St. Helena">St. Helena</option>
          <option value="St. Pierre and Miguelon">St. Pierre and Miquelon</option>
          <option value="Sudan">Sudan</option>
          <option value="Suriname">Suriname</option>
          <option value="Svalbard">Svalbard and Jan Mayen Islands</option>
          <option value="Swaziland">Swaziland</option>
          <option value="Sweden">Sweden</option>
          <option value="Switzerland">Switzerland</option>
          <option value="Syria">Syrian Arab Republic</option>
          <option value="Taiwan">Taiwan, Province of China</option>
          <option value="Tajikistan">Tajikistan</option>
          <option value="Tanzania">Tanzania, United Republic of</option>
          <option value="Thailand">Thailand</option>
          <option value="Togo">Togo</option>
          <option value="Tokelau">Tokelau</option>
          <option value="Tonga">Tonga</option>
          <option value="Trinidad and Tobago">Trinidad and Tobago</option>
          <option value="Tunisia">Tunisia</option>
          <option value="Turkey">Turkey</option>
          <option value="Turkmenistan">Turkmenistan</option>
          <option value="Turks and Caicos">Turks and Caicos Islands</option>
          <option value="Tuvalu">Tuvalu</option>
          <option value="Uganda">Uganda</option>
          <option value="Ukraine">Ukraine</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="United States">United States</option>
          <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
          <option value="Uruguay">Uruguay</option>
          <option value="Uzbekistan">Uzbekistan</option>
          <option value="Vanuatu">Vanuatu</option>
          <option value="Venezuela">Venezuela</option>
          <option value="Vietnam">Viet Nam</option>
          <option value="Virgin Islands (British)">Virgin Islands (British)</option>
          <option value="Virgin Islands (U.S)">Virgin Islands (U.S.)</option>
          <option value="Wallis and Futana Islands">Wallis and Futuna Islands</option>
          <option value="Western Sahara">Western Sahara</option>
          <option value="Yemen">Yemen</option>
          <option value="Serbia">Serbia</option>
          <option value="Zambia">Zambia</option>
          <option value="Zimbabwe">Zimbabwe</option>
      </select>
    </div>
    <div class="form-inner-content">
      <label for="postal code">Postal/Zip Code</label>
      <input id="postal_code" type="text" value="" name="postal code" required>
      <span class="error-1">Please enter postal code</error>
      <span class="error-2">Please enter valid postal code</error>
    </div>
    <div class="form-inner-content">
      <label for="phone">Phone</label>
      <input id="phone" class="contactPhoneNumer" type="text" value="" name="phone" required>
    </div>
    <div class="form-inner-content">
      <label for="alternate phone">Alternate Phone</label>
      <input id="alternate_phone" type="text" value="" name="alternate phone" >
    </div>

    <div class="form-full">
      <label for="message">Message</label>
      <input id="textarea" type="text" value="" name="textarea" required>
    </div>
  </div>

  <div class="embassador-form-button">
    <button id="form_submit" class="form-submit" type="submit">Submit</button>
  </div>
  </form>
</div>

 </div>
</div>


{% schema %}
{
  "name": "Enroll banner Content",
  "settings": [
    {
      "id": "enroll_banner_desktop",
      "type": "image_picker",
      "label": "Enroll Banner Desktop"
    },
    {
      "id": "enroll_banner_mobile",
      "type": "image_picker",
      "label": "Enroll Banner Desktop"
    },
    {
      "id": "banner_heading",
      "type": "text",
      "label": "Heading over banner"
    },
    {
      "id": "banner_subheading",
      "type": "text",
      "label": "Sub-heading over banner"
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "Button Text"
    },
    {
      "id": "button_link",
      "type": "url",
      "label": "Button Link"
    }
  ]
}
{% endschema %}

<script type="text/javascript">
  $(document).on('click', '#enroll-btn', function(){
    console.log('first');
    $('#enroll-registration-form').show();
  });
  $(document).on('click', '#close-popup', function(){
    console.log('second');
    $('#enroll-registration-form').hide();
  });

  var input = document.querySelector(".contactPhoneNumer");
    window.intlTelInput(input,({
    initialCountry: "SG"
  }));

  $(document).ready(function() {
    $('.iti__flag-container').click(function() { 
      $('.contactPhoneNumer').val('');
    var countryCode = $('.iti__selected-flag').attr('title');
    var countryCode = countryCode.replace(/[^0-9]/g,'')
    //$('.iti--allow-dropdown .contactPhoneNumer').val("");
    $('.contactPhoneNumer').val("+"+countryCode+" "+ $('.contactPhoneNumer').val());
    });
  });

  $(document).ready(function() {
    $('.contactPhoneNumer').keypress(function(e) {
      var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
      if (verified) {e.preventDefault();}
    });
  });

  /* Validation */
  $(document).on('click', '#form_submit', function(){
    if($('#first_name').val()=='')
      {
          $('.error-1').css("display" , "block");
          return false;
      }
      if($('#last_name').val()=='')
      {
          $('.error-1').css("display" , "block");
          return false;
      }
      if($('#email').val()=='')
      {
          $('.error-1').css("display" , "block");
          return false;
      }else if(!isValidEmail($('#email').val()))
      {
          $('.error-2').css("display" , "block");
          return false;
      }
      if($('#company_name').val()=='')
      {
          $('.error-1').css("display" , "block");
          return false;
      }
      if($('#address').val()=='')
      {
          $('.error-1').css("display" , "block");
          return false;
      }
      if($('#city').val()=='')
      {
          $('.error-1').css("display" , "block");
          return false;
      }
      if($('#postal_code').val()=='')
      {
          $('.error-1').css("display" , "block");
          return false;
      }else if(!isValidZip($('#postal_code').val()))
      {
          $('.error-2').css("display" , "block");
          return false;
      }
      if($('#phone').val()=='')
      {
          $('.error-1').css("display" , "block");
          return false;
      }
  });


function isValidZip(zip) {
   var pattern = new RegExp(/^([0-9]{5})(-[0-9]{4})?$/i);
  return pattern.test(zip);
 };
 function isValidEmail(email) {
   var pattern = new RegExp(/^([0-9]{5})(-[0-9]{4})?$/i);
  return pattern.test(email);
 };
</script>

<style>
p.enroll-inner-heading{max-width:490px;font-family: Spectral;font-style: normal;font-weight: 275;font-size: 45px;line-height: 108%;text-transform: uppercase;color: #FFFFFF;padding-bottom:90px; margin-bottom:0px;}
p.enroll-inner-subheading{max-width:530px;padding-bottom:90px;margin-bottom:0px;font-family: 'Montserrat', sans-serif;font-style: normal;font-weight: 300;font-size: 26px;line-height: 108%;color: #FFFFFF;}
.enroll-btn{background: #6679CC;border: 1px solid #6679CC;padding:23px 32px;text-align: center;font-family: 'Montserrat', sans-serif;font-style: normal;font-weight: normal;font-size: 22px;line-height: 108%;text-transform: uppercase;color: #FFFFFF;}
.enroll-container{padding-top:296px;padding-left:100px;}

/* For registartion form */
.enroll-as-embassador-form{display:none;background: rgba(0,0,0,.7);height: 100%;position: fixed;text-align: center;top: 0;width: 100%;z-index:99999999;overflow: auto;padding: 50px 0;left: 0;}
.embassador-form-body{width: 1130px;background: #fff;margin: 8% auto;padding-bottom: 65px;height: auto;}
.embassador-form-head{padding: 100px 50px 30px;align-items: center;margin-bottom: 0px;}
p.form-heading{font-family: Spectral;font-style: normal;font-weight: normal;font-size: 45px;line-height: 108%;text-transform: uppercase;color: #6C1D45;margin-bottom:0px;padding-bottom:30px;text-align:center;}
p.form-subheading{margin-bottom:0px;max-width:384px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 16px;line-height: 108%;text-align: center;color: #000000;margin:0 auto;}
.embassador-form-content{display: flex;padding:44px 0px 30px 35px;flex-wrap: wrap;}
.form-inner-content {width: 480px;text-align: left;margin-left: 15px;margin-right: 15px;padding-bottom: 30px;margin-bottom: 0px;}
.form-inner-content label{text-align: left;padding-bottom: 20px;margin-bottom: 0px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 18px;line-height: 150%;letter-spacing: 0.5px;color: rgba(0, 0, 0, 0.7);}
.form-inner-content input{width: 100%;background: #FFFFFF;border: 1px solid rgba(0, 0, 0, 0.1);}
.form-inner-content select{width: 100%;border: 1px solid rgba(0, 0, 0, 0.1);}
.form-full{width:100%;margin-left: 15px;margin-right: 15px;}
.form-full label{text-align:left;padding-bottom: 20px;margin-bottom: 0px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 18px;line-height: 150%;letter-spacing: 0.5px;color: rgba(0, 0, 0, 0.7);}
.form-full input{width:100%;height:120px;}
button.form-submit{border:0px;background:#6679CC;max-width: 289px;width: 100%;height: 42px;float: left;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 18px;line-height: 24px;text-align: center;letter-spacing: 1px;text-transform: uppercase;color: #FFFFFF;}
.embassador-form-button{margin-left:50px;}
span.cross-img{float: right;position: relative;top: -150px;cursor: pointer;}
span.cross-img img{width: 25px;}
span.error-1, span.error-2{display:none;font-size: 12px;color: red;font-weight: 400;line-height: 30px;font-family: 'Montserrat';}


@media screen and (min-width: 768px){
.enroll-banner{ background:url({{ section.settings.enroll_banner_desktop | img_url: 'master' }});background-size: cover;background-repeat:no-repeat;height: 780px;margin-top:50px;} 
}	

@media screen and (max-width: 767px){
.enroll-banner{background:url({{ section.settings.enroll_banner_desktop | img_url: 'master' }});background-repeat:no-repeat;height: 250px;background-size: cover;margin-top:25px;}
.enroll-container {padding-top: 25px;padding-left: 10px;}
p.enroll-inner-heading{max-width: 250px;font-size: 25px;padding-bottom: 15px;}
p.enroll-inner-subheading {max-width: 230px;padding-bottom: 15px;margin-bottom: 0px;font-size: 15px;}
.enroll-btn {padding: 11px 11px;font-size: 11px;}

/**/
.enroll-as-embassador-form{padding:25px 0;}
  .embassador-form-body {width: 320px;padding-bottom: 55px;height: auto;}
  .embassador-form-head {padding: 25px 15px 10px;align-items: center;margin-bottom: 0px;}
  p.form-heading{font-size: 18px;margin-bottom: 0px;padding-bottom: 8px;}
  p.form-subheading{font-size:12px;}
  span.cross-img{top:-68px;}
  span.cross-img img {width: 15px;}
  .embassador-form-content {display: flex;padding: 10px 0px 15px 0px;flex-wrap: wrap;justify-content: center;align-items: center;}
  .form-inner-content {width: 100%;text-align: left;margin-left: 15px;margin-right: 0px;padding-bottom: 15px;margin-bottom: 0px;max-width: 320px;}
  .form-inner-content label{padding-bottom: 6px;margin-bottom: 0px;font-size: 12px;}
  .form-inner-content input{width:100%;}
  .form-full {width: 100%;margin-left: 15px;margin-right: 0px;max-width: 320px;}
  .form-full label{padding-bottom: 6px;margin-bottom: 0px;font-size:12px;}
  .embassador-form-button {margin-left: 50px;}
  button.form-submit{max-width: 150px;font-size:14px;margin-left:10px;}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .enroll-banner{height:580px;}
  .enroll-container {padding-top: 150px;padding-left: 50px;}
  p.enroll-inner-heading {max-width: 390px;font-size: 32px;padding-bottom: 50px;margin-bottom: 0px;}
  p.enroll-inner-subheading {max-width: 330px;padding-bottom: 50px;font-size: 18px;}
  .enroll-btn {padding: 18px 18px;font-size: 16px;}

  /**/
  .enroll-as-embassador-form{padding:25px 0;}
  .embassador-form-body {width: 700px;padding-bottom: 55px;height: auto;}
  .embassador-form-head {padding: 50px 25px 30px;align-items: center;margin-bottom: 0px;}
  p.form-heading{font-size:32px;margin-bottom: 0px;padding-bottom: 15px;}
  p.form-subheading{font-size:14px;}
  span.cross-img{top:-95px;}
  .embassador-form-content {display: flex;padding: 25px 0px 15px 25px;flex-wrap: wrap;justify-content: center;align-items: center;}
  .form-inner-content {width: 550px;text-align: left;margin-left: 15px;margin-right: 15px;padding-bottom: 15px;margin-bottom: 0px;}
  .form-inner-content label{padding-bottom: 12px;margin-bottom: 0px;font-size:16px;}
  .form-inner-content input{width:100%;}
  .form-full {width: 100%;margin-left: 15px;margin-right: 15px;max-width: 550px;}
  .form-full label{padding-bottom: 12px;margin-bottom: 0px;font-size:16px;}
  .embassador-form-button {margin-left: 50px;}
  button.form-submit{max-width: 200px;font-size:16px;margin-left:10px;}
}

@media screen and (min-width: 1025px) and (max-width: 1220px){
  .enroll-banner{height:580px;}
  .enroll-container {padding-top: 150px;padding-left: 50px;}
  p.enroll-inner-heading {max-width: 390px;font-size: 32px;padding-bottom: 50px;margin-bottom: 0px;}
  p.enroll-inner-subheading {max-width: 400px;padding-bottom: 50px;font-size: 21px;}
  .enroll-btn {padding: 18px 18px;font-size: 14px;}
}

@media screen and (min-width: 1221px) and (max-width: 1440px){
  .enroll-banner{height:580px;}
  .enroll-container {padding-top: 150px;padding-left: 50px;}
  p.enroll-inner-heading {max-width: 390px;font-size: 32px;padding-bottom: 50px;margin-bottom: 0px;}
  p.enroll-inner-subheading {max-width: 400px;padding-bottom: 50px;font-size: 21px;}
  .enroll-btn {padding: 18px 18px;font-size: 14px;}
}

@media screen and (min-width: 1441px) and (max-width: 1900px){
  .enroll-banner{height:580px;}
  .enroll-container {padding-top: 150px;padding-left: 50px;}
  p.enroll-inner-heading {max-width: 390px;font-size: 30px;padding-bottom: 50px;margin-bottom: 0px;}
  p.enroll-inner-subheading {max-width: 400px;padding-bottom: 50px;font-size: 16px;}
  .enroll-btn {padding: 18px 18px;font-size: 16px;}
}
</style>
