<div class="contact-us-section-wrapper" >

    <!-- Contact Details -->
    {% capture contactDetails %}
        <h6>STORE ADDRESS</h6>
        <ul class="contcat-address-details">
            {%- if section.settings.address -%}
            <li class="address-item">
                <span class="icon_s">{% include 'contact-location-icon' %}</span>
                <span class="text">{{ section.settings.address }}</span>
            </li>
            {%- endif -%}

            {%- if section.settings.email_address -%}
            <li class="email-item">
                <span class="icon_s">{% include 'contact-email-icon' %}</span>
                <span class="text"><a href="mailto:{{ section.settings.email_address }}">{{ section.settings.email_address }}</a></span>
            </li>
            {%- endif -%}

            {%- if section.settings.phone_number -%}
            <li class="phone-item">
                <span class="icon_s">{% include 'contact-phone-icon' %}</span>
                <span class="text">{{ section.settings.phone_number }}</span>
            </li>
            {%- endif -%}
        </ul>
    {% endcapture %}

    <div class="contact-us-top-row">
        {%- if section.settings.title != blank -%}<h3>{{ section.settings.title }}</h3>{%- endif -%}
        <div class="hide_mobile">{{ contactDetails }}</div>
        <div class="custom-tabber show_mobile">
            <div class="tabber-nav">
                <ul>
                    <li class="active"><a href="#queries">QUERIES</a></li>
                    <li><a href="#location-map">LOCATION ON MAP</a></li>
                </ul>
            </div>
        </div>
        <div class="custom-row contact-tabber-panal-wrapper">
            <div class="custom-col-6 contact-tabber-panal show_tab" id="queries">
                {% if section.settings.other_queries_title != blank or section.settings.other_queries_description != blank %}
                <div class="contact_to_sec">
                    {% if section.settings.other_queries_title != blank %}<h4>{{ section.settings.other_queries_title }}</h4>{% endif %}
                    {% if section.settings.other_queries_description != blank %}<p>{{ section.settings.other_queries_description }}</p>{% endif %}
                </div>
                {% endif %}

                <div class="contact-form sp-form cft">
                    {%- assign formId = 'ContactForm' -%}
                    {% form 'contact', id: formId %}
                        {% include 'form-status', form: form, form_id: formId %}
                        <div class="custom-form-group">
                            <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
                            <input class="input-box required" type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                            <span class="msg-error"></span>
                        </div>

                        <div class="custom-form-group">
                            <label for="{{ formId }}-email">{{ 'contact.form.email' | t }}</label>
                            <input class="input-box required"
                            type="email"
                            id="{{ formId }}-email"
                            name="contact[email]"
                            autocorrect="off"
                            autocapitalize="off"
                            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                            
                            {%- if form.errors contains 'email' -%}
                                class="input--error"
                                aria-invalid="true"
                                aria-describedby="{{ formId }}-email-error"
                            {%- endif -%}
                            >
                            {%- if form.errors contains 'email' -%}
                            <span id="{{ formId}}-email-error" class="input-error-message">
                                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                                {% include 'icon-error' %}
                                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                            </span>
                            {%- endif -%}
                            <span class="msg-error"></span>
                        </div>
            
                        <div class="custom-form-group">
                            <label for="{{ formId }}-phone">Phone No.</label>
                            <input class="input-box required contactPhoneNumer" type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="16" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                            <span class="msg-error"></span>
                        </div>

                        <div class="custom-form-group">
                            <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
                            <textarea maxlength="250" class="input-box required" rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                            <span class="msg-error"></span>
                        </div>
                        <div class="actions">
                            <button type="button" class="glb-btn">Submit</button>
                        </div>
                    {% endform %}
                </div>

            </div>
            <div class="custom-col-6 contact-tabber-panal" id="location-map">
                {% if section.settings.location_map_title != blank or section.settings.location_map_description != blank %}
                <div class="contact_to_sec">
                    {% if section.settings.location_map_title != blank %}<h4>{{ section.settings.location_map_title }}</h4>{% endif %}
                    {% if section.settings.location_map_description != blank %}<p>{{ section.settings.location_map_description }}</p>{% endif %}
                </div>
                {% endif %}
                <div class="map">
                    <iframe class="lazyload" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63821.34699671937!2d103.80108074197707!3d1.272614612369238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1eba1de9aab7%3A0xa734a37423d62fdb!2sAryamond%20Pte.%20Limited!5e0!3m2!1sen!2sin!4v1626696544620!5m2!1sen!2sin" width="100%" height="487px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="show_mobile">{{ contactDetails }}</div>
            </div>
        </div>
    </div>
</div>

<style>
.form-message.form-message--success{display:block !important;}
</style>

<script>
var input = document.querySelector(".contactPhoneNumer");
window.intlTelInput(input,({
initialCountry: "SG"
}));

$(document).ready(function() {
$('.iti__flag-container').click(function() { 
    $('.contactPhoneNumer').val('');
var countryCode = $('.iti__selected-flag').attr('title');
var countryCode = countryCode.replace(/[^0-9]/g,'')
//$('.iti--allow-dropdown .contactPhoneNumer').val("");
$('.contactPhoneNumer').val("+"+countryCode+" "+ $('.contactPhoneNumer').val());
});
});

$(document).ready(function() {
$('.contactPhoneNumer').keypress(function(e) {
    var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
    if (verified) {e.preventDefault();}
});
});

$(document).ready(function() {
        $('#ContactForm').submit(function() {
            $('.form-message--success').show();
        });
    });


document.addEventListener('DOMContentLoaded', function(event) {
    // // contact form validation
    // $("input[type='tel']").on('input', function(e) {
    //     $(this).val($(this).val().replace(/[^0-9]/g, ''));
    // }); 

    // function $validateForm($this) {
    //     var firstName = $this.find('input[name="contact[Name]"]').val().trim();
    //     var nameRegx = /^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z0-9]*)*$/;
    //     var thisPhone = $this.find('input[name="contact[Phone Number]"]').val().trim();
    //     var regmm='^[0-9]{10}$';
    //     var regmob = new RegExp(regmm);
    //     if (firstName == "" || firstName == null ) {
    //         $this.find('input[name="contact[Name]"]').addClass('form-error').next('.msg-error').text("Enter Your Name Name").css('display','block');
    //     } else if (nameRegx.test(firstName) == false ){
    //         $this.find('input[name="contact[Name]"]').addClass('form-error').next('.msg-error').text("Please Enter Valid Name").css('display','block');
    //     } else {
    //         $this.find('input[name="contact[Name]"]').removeClass('form-error').next('.msg-error').empty().css('display','none');
    //     }
    //     if (thisPhone.length != 10 || thisPhone == null || regmob.test(thisPhone) == false) {
    //         $this.find('input[name="contact[Phone Number]"]').addClass('form-error').next('.msg-error').text("Enter Your Valid Phone Number").css('display','block');
    //     } else {
    //         $this.find('input[name="contact[Phone Number]"]').removeClass('form-error').next('.msg-error').empty().css('display','none');
    //     }
    // }
    // function $validateEmail($this) {
    //     var thisEmail = $this.find('input[name="contact[email]"]').val();
    //     const reg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    //     var proceed =  reg.test(thisEmail);
    //     if (thisEmail == "" || thisEmail == null || proceed == false) {
    //         $this.find('input[name="contact[email]"]').addClass('form-error').next('.msg-error').text("Enter Your Valid Email Address").css('display','block');
    //     } else {
    //         $this.find('input[name="contact[email]"]').removeClass('form-error').next('.msg-error').empty().css('display','none');
    //     }
    // }
    
    // $(document).on('click', 'button[type="button"]', function(e) {
    //     var $this = $(this).closest('form');

    //     // remove Error Msg After 3s
    //     removeError();

    //     //Write here your validations
    //     //And use this to prevent the form from submiting in case validations are not met.
    //     if($this.hasClass('contact-form')) {
    //         $validateForm($this);
    //         $validateEmail($this);
    //     }
    //     if($this.find('input.form-error').length > 0) {
    //         return false;
    //     } else {
    //         $this.submit();
    //     }
    // });
    // $('form').on('keyup', 'input', function() {
    //     $(this).removeClass('form-error').next('.msg-error').css('display','none');
    // });

    // // Remove Message After 3s
    // function removeSuccessMessage() {
    //     setTimeout(function(){
    //         var uri = window.location.toString();
    //         if (uri.indexOf("?contact_posted") > 0) {
    //             var clean_uri = uri.substring(0, uri.indexOf("?"));
    //             window.history.replaceState({}, document.title, clean_uri);
    //         }
    //         $('.form-message').remove();
    //     },3000)
    // }
    // removeSuccessMessage();

    // function removeError() {
    //     setTimeout(function(){
    //         $('.msg-error').css('display','none');
    //         $('.sp-form .input-box').removeClass('form-error');
    //     },3000)
    // }

});

</script>


{% schema %}
{
    "name": "Contact Us",
    "settings": [
        {
            "type": "text",
            "label": "Title",
            "id": "title",
            "default": "Singapore"
        },
        {
            "type": "text",
            "label": "Address",
            "id": "address",
            "default": "Aryamond Singapore PTE. Limited <br>Wisma Atria <br>#02-06/07 <br>435 Orchard Road <br>Singapore 238877"
        },
        {
            "type": "text",
            "label": "Emial Address",
            "id": "email_address",
            "default": "info@diamond2.sg"
        },
        {
            "type": "text",
            "label": "Phone Number",
            "id": "phone_number",
            "default": "65 4444 26XX"
        },
        {
            "type": "header",
            "content": "Other Queries"
        },
        {
            "type": "text",
            "label": "Title",
            "id": "other_queries_title",
            "default": "Other Queries"
        },
        {
            "type": "text",
            "label": "Description",
            "id": "other_queries_description",
            "default": "Feel free to contact us any time. We will get back to you as soon as we can!"
        },
        {
            "type": "header",
            "content": "Location on Map"
        },
        {
            "type": "text",
            "label": "Title",
            "id": "location_map_title",
            "default": "Location on Map"
        },
        {
            "type": "text",
            "label": "Description",
            "id": "location_map_description",
            "default": "Nulla tempus sollicitudin dui, ut vehicula lacus porta vel. Duis urna ligula, luctus at feugiat a lacinia ut sem. Quisque sit ."
        }
    ]
    
}
{% endschema %} 