<div class="contact-us-section-wrapper">
    <div class="contact-us-top-row">
        {%- if section.settings.title != blank -%}<h3>{{ section.settings.title }}</h3>{%- endif -%}
        <h6>OFFICE ADDRESS</h6>
        <ul class="contcat-address-details">
            {%- if section.settings.address -%}
            <li class="address-item">
                <span class="icon_s">{% include 'contact-location-icon' %}</span>
                <span class="text">{{ section.settings.address }}</span>
            </li>
            {%- endif -%}

            {%- if section.settings.email_address -%}
            <li class="email-item">
                <span class="icon_s">{% include 'contact-email-icon' %}</span>
                <span class="text"><a href="mailto:{{ section.settings.email_address }}">{{ section.settings.email_address }}</a></span>
            </li>
            {%- endif -%}

            {%- if section.settings.phone_number -%}
            <li class="phone-item">
                <span class="icon_s">{% include 'contact-phone-icon' %}</span>
                <span class="text"><a href="tel:{{ section.settings.phone_number }}">{{ section.settings.phone_number }}</a></span>
            </li>
            {%- endif -%}
        </ul>
        <div class="custom-row">
            <div class="custom-col-6">
                {% if section.settings.other_queries_title != blank or section.settings.other_queries_description != blank %}
                <div class="contact_to_sec">
                    {% if section.settings.other_queries_title != blank %}<h4>{{ section.settings.other_queries_title }}</h4>{% endif %}
                    {% if section.settings.other_queries_description != blank %}<p>{{ section.settings.other_queries_description }}</p>{% endif %}
                </div>
                {% endif %}

                <div class="contact-form sp-form">
                    {%- assign formId = 'ContactForm1' -%}
                    <form method="post" action="/contact#ContactForm1" id="ContactForm1" accept-charset="UTF-8" class="contact-form" >
            
                        <div class="custom-form-group">
                            <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
                            <input class="input-box required" type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                            <span class="error_msg"></span>
                        </div>

                        <div class="custom-form-group">
                            <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
                            <input class="input-box required"
                            type="email"
                            id="{{ formId }}-email"
                            name="contact[email]"
                            autocorrect="off"
                            autocapitalize="off"
                            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                            aria-required="true"
                            {%- if form.errors contains 'email' -%}
                                class="input--error"
                                aria-invalid="true"
                                aria-describedby="{{ formId }}-email-error"
                            {%- endif -%}
                            >
                            {%- if form.errors contains 'email' -%}
                            <span id="{{ formId}}-email-error" class="input-error-message">
                                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                                {% include 'icon-error' %}
                                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                            </span>
                            {%- endif -%}
                            <span class="error_msg"></span>
                        </div>
            
                        <div class="custom-form-group">
                            <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
                            <input class="input-box required" type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                            <span class="error_msg"></span>
                        </div>

                        <div class="custom-form-group">
                            <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
                            <textarea class="input-box required" rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                            <span class="error_msg"></span>
                        </div>
                        <div class="actions">
                            <input type="submit" class="glb-btn" value="Submit">
                        </div>
                    </form>
                </div>

            </div>
            <div class="custom-col-6">
                {% if section.settings.location_map_title != blank or section.settings.location_map_description != blank %}
                <div class="contact_to_sec">
                    {% if section.settings.location_map_title != blank %}<h4>{{ section.settings.location_map_title }}</h4>{% endif %}
                    {% if section.settings.location_map_description != blank %}<p>{{ section.settings.location_map_description }}</p>{% endif %}
                </div>
                {% endif %}
                <div class="map">
                    <iframe class="lazyload" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63821.34699671937!2d103.80108074197707!3d1.272614612369238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1eba1de9aab7%3A0xa734a37423d62fdb!2sAryamond%20Pte.%20Limited!5e0!3m2!1sen!2sin!4v1626696544620!5m2!1sen!2sin" width="100%" height="487px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>



{% schema %}
{
    "name": "Contact Us",
    "settings": [
        {
            "type": "text",
            "label": "Title",
            "id": "title",
            "default": "Singapore"
        },
        {
            "type": "text",
            "label": "Address",
            "id": "address",
            "default": "Aryamond Singapore PTE. Limited <br>Wisma Atria <br>#02-06/07 <br>435 Orchard Road <br>Singapore 238877"
        },
        {
            "type": "text",
            "label": "Emial Address",
            "id": "email_address",
            "default": "info@diamond2.sg"
        },
        {
            "type": "text",
            "label": "Phone Number",
            "id": "phone_number",
            "default": "65 4444 26XX"
        },
        {
            "type": "header",
            "content": "Other Queries"
        },
        {
            "type": "text",
            "label": "Title",
            "id": "other_queries_title",
            "default": "Other Queries"
        },
        {
            "type": "text",
            "label": "Description",
            "id": "other_queries_description",
            "default": "Feel free to contact us any time. We will get back to you as soon as we can!"
        },
        {
            "type": "header",
            "content": "Location on Map"
        },
        {
            "type": "text",
            "label": "Title",
            "id": "location_map_title",
            "default": "Location on Map"
        },
        {
            "type": "text",
            "label": "Description",
            "id": "location_map_description",
            "default": "Nulla tempus sollicitudin dui, ut vehicula lacus porta vel. Duis urna ligula, luctus at feugiat a lacinia ut sem. Quisque sit ."
        }
    ]
    
}
{% endschema %} 