{% if section.settings.enable_comparison_table %}
<div class="factual-comparison-section-wrapper global_section_bg">
	<div class="dia-container">
		<div class="dia-small-container">
			{%- if section.settings.heading != blank -%}
            <div class="factual-comparison-top-header text-center">
				<h2>{{ section.settings.heading }}</h2>
			</div>
            {%- endif -%}

            <div class="factual-comparison-table">
				<table>
					<thead>
						<tr>
							<th>Properties</th>
							<th>Diamond2</th>
							<th>Natural<br/>Diamond</th>
							<th>Lab-Grown<br/>Diamond</th>
							<th>Cubic Zirconia</th>
							<!-- <th><img src="//cdn.shopify.com/s/files/1/0575/2681/2840/files/Diamond2-main-logo.svg?v=1564371494035090670" width="150"></th> -->
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>LAB-GROWN</td>
							<td>Yes</td>
							<td>No</td>
							<td>Yes</td>
							<td>Yes</td>
						</tr>
						<tr>
							<td>ATOMIC percentage<br/>of CARBON</td>
							<td>50%</td>
							<td colspan="2">about 100%</td>
							<td>0%</td>
						</tr>
						<tr>
							<td>BRILLIANCE</td>
							<td>VERY HIGH</td>
							<td colspan="2">HIGH</td>
							<td>HIGH</td>
						</tr>
						<tr>
							<td>FIRE</td>
							<td>VERY HIGH</td>
							<td colspan="2">HIGH</td>
							<td>HIGH</td>
						</tr>
						<tr>
							<td>thermal<br />Conductivity</td>
							<td>Yes</td>
							<td colspan="2">Yes</td>
							<td>No</td>
						</tr>
						<!-- <tr>
							<td>Density (G/CM)</td>
							<td>3.218 - 3.22</td>
							<td colspan="2">3.5 - 3.53</td>
							<td>5.5 - 5.9</td>
						</tr> -->
						<tr>
							<td>Scratch<br />Resistant</td>
							<td>Very High</td>
							<td colspan="2">Very High</td>
							<td>Medium</td>
						</tr>
						<tr>
							<td>Toughness</td>
							<td>Excellent</td>
							<td colspan="2">Excellent</td>
							<td>Good</td>
						</tr>
						<tr>
							<td>Turn Cloudy Over time</td>
							<td>No</td>
							<td colspan="2">No</td>
							<td>Yes</td>
						</tr>
						<tr>
							<td>Color</td>
							<td>D to J</td>
							<td colspan="2">D to Z</td>
							<td>Mostly Better<br/>Than D</td>
						</tr>
					</tbody>
					<!-- <tbody>
						<tr>
						    <th>{{ section.settings.column_1_title }}</th>
							<th>{%- if section.settings.column_4_logo !=blank -%}<img class="lazyload" data-src="{{ section.settings.column_4_logo | img_url: 'master' }}">{%- endif -%}</th>
						    <th>{{ section.settings.column_2_title }}</th>
						    <th>{{ section.settings.column_3_title }}</th>
						    
						</tr>
                        {%- for item in section.blocks -%}
                        {%- if item.settings.column_1_text !=blank or item.settings.column_2_text !=blank or item.settings.column_3_text !=blank or item.settings.column_4_text !=blank -%}
						<tr>
						    <td>{{ item.settings.column_1_text }}</td>
						    <td>{{ item.settings.column_4_text }}</td>
							<td>{{ item.settings.column_2_text }}</td>
						    <td>{{ item.settings.column_3_text }}</td>
						    
						</tr>
                        {%- endif -%}
                        {%- endfor -%}
					</tbody> -->
				</table>
			</div>

		</div>
	</div>
</div> 
{% endif %}

{% schema %}
  {
    "name": "Factual Comparison",
    "settings": [
		{
			"type": "checkbox",
			"id": "enable_comparison_table",
			"label": "Enable Section",
			"default": true
		},
    	{
    		"type": "text",
    		"label": "Heading",
    		"id": "heading",
    		"default": "Comparision with Diamons"
    	},
        {
    		"type": "text",
    		"label": "Column 1 Title",
    		"id": "column_1_title",
    		"default": "gemstone <br>grade"
    	},
        {
    		"type": "text",
    		"label": "Column 2 Title",
    		"id": "column_2_title",
    		"default": "natural <br>diamond"
    	},
        {
    		"type": "text",
    		"label": "Column 3 Title",
    		"id": "column_3_title",
    		"default": "lab-grown <br>diamond"
    	},
        {
    		"type": "image_picker",
    		"label": "Column 4 Logo",
    		"id": "column_4_logo"
    	}
    ],

    "blocks": [
        {
            "type": "text",
            "name": "Table Item",
            "settings": [
                {
                    "type": "text",
                    "label": "Column 1 Text",
                    "id": "column_1_text"
                },
                {
                    "type": "text",
                    "label": "Column 2 Text",
                    "id": "column_2_text"
                },
                {
                    "type": "text",
                    "label": "Column 3 Text",
                    "id": "column_3_text"
                },
                {
                    "type": "text",
                    "label": "Column 4 Text",
                    "id": "column_4_text"
                }
            ]
        }
    ]
  }
{% endschema %}