{%- assign social_icons = false -%}
{%- assign inline_list = false -%}
{%- assign locale_selector = false -%}
{%- assign country_selector = false -%}
{%- assign show_payment_icons = false -%}
{%- assign show_selectors = false -%}


{%- assign show_country_selector = section.settings.show_currency_selector  -%}
{%- if show_country_selector and localization.available_countries.size > 1 -%}
  {%- assign country_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{%- if section.settings.show_payment_icons -%}
  {%- unless shop.enabled_payment_types == empty -%}
    {%- assign show_payment_icons = true -%}
  {%- endunless -%}
{%- endif -%}

{%- if country_selector or locale_selector -%}
  {%- assign show_selectors = true -%}
{%- endif -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or request.page_type == 'article'
  or request.page_type == 'blog'
-%}
  {%- assign social_icons = true -%}
{%- endif -%}

{%- assign payment_width_class = "one-half" -%}
{%- if show_selectors -%}
  {%- unless social_icons -%}
    {%- assign payment_width_class = "" -%}
  {%- endunless -%}
{%- endif -%}

{%- assign copyright_show_class = "medium-up--hide" -%}
{%- if social_icons -%}
  {%- unless show_selectors -%}
    {%- assign copyright_show_class = "" -%}
  {%- endunless -%}
{%- endif -%}

{%- case section.blocks.size -%}
  {%- when 1 -%}
    {%- assign footer_item = 'site-footer__item--full-width' -%}
    {%- assign inline_list = true -%}
  {%- when 2 -%}
    {%- assign footer_item = 'site-footer__item--one-half' -%}
    {%- assign inline_list = true -%}
  {%- when 3 -%}
    {%- assign footer_item = 'site-footer__item--one-third' -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'newsletter' -%}
        {%- assign footer_item = 'site-footer__item--one-quarter' -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- when 4 -%}
    {%- assign footer_item = 'site-footer__item--one-quarter' -%}
  {%- when 5 -%}
    {%- assign footer_item = 'site-footer__item--one-fifth' -%}
{%- endcase -%}

{%- capture payment_icon_markup -%}
  {%- if show_payment_icons -%}
    <div class="grid__item site-footer__payment-icons">
      <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
      <ul class="payment-icons list--inline site-footer__icon-list">
        {%- for type in shop.enabled_payment_types -%}
          <li class="payment-icon">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endcapture -%}

<footer class="site-footer critical-hidden" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  {% if section.settings.show_footer_logo %}
   <div class="footer-bottom-logo">
    {% if section.settings.footer_logo != blank%}
    <span>
      <img src="{{ section.settings.footer_logo | img_url: '45x'}}" alt="" class="lazyload" />
    </span>
    {% endif %}    
  </div>
  {% endif %}
  <div class="dia-container">
    <div class="site-footer__content">
      {%- for block in section.blocks -%}

        <div data-content="{{ block.type }}" class="site-footer__item
                    {% if section.blocks.size == 1 %} site-footer__item--center{% endif %}
                    {{ footer_item }}
                    {% if block.type == 'newsletter' and section.blocks.size == 3 %}site-footer-newsletter__one-half{% endif %}"
             {{ block.shopify_attributes }}>
          <div class="site-footer__item-inner site-footer__item-inner--{{ block.type }}">

            {%- if block.type == 'newsletter' %}
              {%- if block.settings.title -%}
                <p class="h4">{{ block.settings.title | escape }}</p>
                {% if block.settings.newsletter_desc != blank %}
                {{ block.settings.newsletter_desc }}
                {% endif %}
              {%- endif -%}
            {% endif %}


            {%- case block.type -%}
              {%- when 'newsletter' -%}
                <div class="site-footer__newsletter
                          {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
                  {%- assign formId = 'ContactFooter' -%}
                  {% form 'customer', id: formId, novalidate: 'novalidate' %}
                    {%- if form.posted_successfully? -%}
                      <p class="form-message form-message--success" tabindex="-1" data-form-status>
                        {{ 'general.newsletter_form.confirmation' | t }}
                      </p>
                    {%- endif -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="input-group {% if form.errors %} input-group--error{% endif %}">
                      <input type="email"
                        name="contact[email]"
                        id="{{ formId }}-email"
                        class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
                        value="{{ form.email }}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-required="true"
                        required
                        autocorrect="off"
                        autocapitalize="off"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="{{ formId }}-email-error"
                          data-form-status
                        {% endif %}>
                      <span class="input-group__btn">
                        <button type="submit" class="btn newsletter__submit" name="commit" >
                          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                        </button>
                      </span>
                    </div>
                    {% if form.errors contains 'email' %}
                      <span id="{{ formId }}-email-error" class="input-error-message">
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        {% include 'icon-error' %}
                        <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                      </span>
                    {% endif %}
                  {% endform %}
                </div>
                {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
                {%- if social_icons -%}
                  <div class="footer-social__icns">
                    <div class="footer-social-icns-label">
                      <span class="small-text">Follow us</span>
                      <span>Be Social</span>
                    </div>
                  <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
                    {%- for social in socials -%}
                      {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
                      {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
                      {%- if settings[social_link] != blank -%}
                        <li class="social-icons__item">
                          <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
                            {%- include icon_link -%}
                            <span class="icon__fallback-text">{{ social }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                    {%- endfor -%}

                    {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
                      <li>
                        <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                          {% include 'icon-rss' %}
                          <span class="icon__fallback-text">RSS</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              {% endif %}

              {%- when 'link_list' -%}
                {%- assign footer_linklist = block.settings.menu -%}
                  <ul class="site-footer__linklist
                            {% if inline_list %}list--inline{% endif %}">
                    {%- for link in linklists[footer_linklist].links -%}
                      <li class="site-footer__linklist-item" data-level="level-0">
                        <a href="{{ link.url }}"
                          {% if link.current %} aria-current="page"{% endif %}
                        >
                          {{ link.title | escape }}
                        </a>
                        {% if link.links != blank %}
                        <ul class="site-footer__sub-linklist">
                          {% for childlink in link.links %}
                            <li class="site-footer__sub-linklist-item" data-level="level-1">
                              <a href="{{ childlink.url }}" aria-label="{{ childlink.title }}">{{ childlink.title}}</a>
                            </li>
                        {% endfor %}
                        </ul>                        
                        {% endif %}
                      </li>
                    {%- endfor -%}
                  </ul>

            {%- endcase -%}

          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>

  
{%- comment -%}
  <div class="page-width">
    <div class="grid grid--no-gutters small--text-center grid--footer-float-right">
      {%- if show_selectors -%}
        <div class="grid__item one-half small--one-whole">
          {%- form 'localization', class: 'selectors-form', data-disclosure-form: '' -%}
            {%- if locale_selector -%}
              <div class="selectors-form__item">
                <h2 class="visually-hidden" id="lang-heading">
                  {{ 'general.language.dropdown_label' | t }}
                </h2>

                <div class="disclosure" data-disclosure-locale>
                  <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                    {{ localization.language.endonym_name }}
                  </button>
                  <ul id="lang-list" class="disclosure-list" data-disclosure-list>
                    {% for language in localization.available_languages %}
                      <li class="disclosure-list__item {% if language.iso_code == localization.language.iso_code %}disclosure-list__item--current{% endif %}">
                        <a class="disclosure-list__option" href="#" lang="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %} data-value="{{ language.iso_code }}" data-disclosure-option>
                          {{ language.endonym_name }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {%- endif -%}

            {%- if country_selector -%}
              <div class="selectors-form__item">
                <h2 class="visually-hidden" id="country-heading">
                  {{ 'general.country.dropdown_label' | t }}
                </h2>
                {%- assign current_currency_symbol = localization.country.currency.symbol -%}
                {%- assign current_currency_iso_code = localization.country.currency.iso_code -%}
                <div class="disclosure" data-disclosure-country>
                  <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="country-list" aria-describedby="country-heading" data-disclosure-toggle>
                    {%- if current_currency_symbol -%}
                      {{ localization.country.name }} ({{ current_currency_iso_code }} {{ current_currency_symbol }})
                    {%- else -%}
                      {{ localization.country.name }} ({{ current_currency_iso_code }})
                    {%- endif -%}
                  </button>
                  <ul id="country-list" class="disclosure-list" data-disclosure-list>
                    {% for country in form.available_countries %}
                      {%- assign currency_symbol = country.currency.symbol -%}
                      {%- assign currency_iso_code = country.currency.iso_code -%}
                      <li class="disclosure-list__item {% if country.iso_code == localization.country.iso_code %}disclosure-list__item--current{% endif %}">
                        <a class="disclosure-list__option" href="#" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                          {%- if currency_symbol -%}
                            {{ country.name }} ({{ currency_iso_code }} {{ currency_symbol }})
                          {%- else -%}
                            {{ country.name }} ({{ currency_iso_code }})
                          {%- endif -%}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="country_code" id="CountrySelector" value="{{ localization.country.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>
      {%- else -%}
        <div class="grid__item small--hide {{ payment_width_class }} {% if show_payment_icons %}site-footer-item-center-vertically{% endif %}">{{ payment_icon_markup }}</div>
      {%- endif -%}

      <div class="grid__item {% if show_selectors or show_payment_icons %}one-half{% endif %} small--one-whole site-footer-item-tall">
        {%- if social_icons -%}
        
          <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
            {%- for social in socials -%}
              {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
              {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
              {%- if settings[social_link] != blank -%}
                <li class="social-icons__item">
                  <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
                    {%- include icon_link -%}
                    <span class="icon__fallback-text">{{ social }}</span>
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}

            {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
              <li>
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% include 'icon-rss' %}
                  <span class="icon__fallback-text">RSS</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
          
        {%- else -%}
          <div class="small--hide site-footer-item-align-right {% if show_selectors or show_payment_icons %}site-footer-item-center-vertically{% endif %}">
            <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
            <small class="site-footer__copyright-content site-footer__copyright-content-powered-by">{{ powered_by_link }}</small>
          </div>
        {%- endif -%}
      </div>
      

      {%- if show_selectors -%}
        <div class="grid__item small--hide {{ payment_width_class }}">{{ payment_icon_markup }}</div>
      {%- endif -%}

      <div class="grid__item medium-up--hide {{ payment_width_class }} small--one-whole">{{ payment_icon_markup }}</div>

      {%- if social_icons and show_selectors -%}
        <div class="grid__item small--hide site-footer-item-align-right {% if show_payment_icons %}one-half{% endif %}">
          <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
          <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
        </div>
      {%- endif -%}

      <div class="grid__item small--one-whole {{ copyright_show_class }} site-footer-item-align-right">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
        <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
      </div>
    </div>
  </div>
  {%- endcomment -%}
  {% if section.settings.show_entrepreneur %}
    <div class="footer-form__entrepreneur hide_mobile">
      <div class="dia-container">
        <div class="ffe-content-wrapper">
          {% if section.settings.entrepreneur_text != blank %}<div class="ffe-label">{{ section.settings.entrepreneur_text }}</div>{% endif %}
          <div class="ffe-form-wrapper">
            {% include 'entrepreneur-form' %}
          </div>
        </div>
      </div>
    </div>  
  {% endif %}  
  <div class="footer-bottom__nav">
    <div class="dia-container">
      <ul class="footer_bottom__nav--list-items">
        {% if section.settings.footer_bottom_nav != blank %}
          {% assign footer_bottom__nav = section.settings.footer_bottom_nav %}
          {% for link in linklists[footer_bottom__nav].links %}
            <li class="footer_bottom__nav--list-item">
              <a href="{{ link.url }}" aria-label="{{ link.title }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        {% endif %}
        <li class="footer_bottom__nav--list-item">
          <span class="site-footer__copyright-text">&copy; {{ shop.name | link_to: routes.root_url }}&reg; {{ 'now' | date: "%Y" }}</span>
          {%- comment -%}<small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small> {%- endcomment -%}
        </li>
      </ul>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_footer_logo",
      "label": "Show footer logo",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer logo"
    },
    {
      "type": "checkbox",
      "id": "show_entrepreneur",
      "label": "enable entrepreneur form",
      "default": true
    },
    {
      "type": "text",
      "id": "entrepreneur_text",
      "label": "Entreprenur label",
      "default": "Do you wish to become a jewellery entrepreneur today?"
    },
    {
      "type": "link_list",
      "id": "footer_bottom_nav",
      "label": "Footer bootom navigation"
    },
    {
      "type": "header",
      "content": "Payment methods"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": false
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info":"To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region Selector",
      "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show country/region selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": "Newsletter signup",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "newsletter_desc",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}
