

<div class="scl-{{ section.id }} home-scl">
    <div class="dia-container">
        <div class="scl-header"> 
            <div class="mobile_featured_image show_mobile"></div>
            {% if section.settings.scl-heading != blank %}<h2>{{ section.settings.scl-heading }}</h2>{% endif %}
            {% if section.settings.scl-desc != blank %}<div class="scl-desc">{{ section.settings.scl-desc }}</div>{% endif %}
        </div>
        {% if section.blocks.size > 0%}
            <div class="scl-collage">
                {%- for block in section.blocks -%}    
                    {% capture blockIndex %}-{{ forloop.index }}{% endcapture %} 
                    <div class="block-{{ forloop.index }} {% if forloop.index == 2 %}big_block{% endif %} {% if block.settings.scl_image_1 == blank or block.settings.scl_image_2 == blank %} full-width {% endif %}">
                        {% for i in (1..2) %}
                            {% capture blockImg %}scl_image_{{ i }}{% endcapture %}
                            {% capture blockMobImg %}scl_mobile_image_{{ i }}{% endcapture %}
                            {% capture blockTitle %}scl_heading_{{ i }}{% endcapture %}
                            {% capture blockUrl %}scl_link_{{ i }}{% endcapture %}
                            {% if block.settings[blockImg] != blank %}
                            <div class="box-{{ blockIndex }}-{{ forloop.index }} {% if block.settings.scl_image_1 == blank or block.settings.scl_image_2 == blank %} full-width {% endif %}  {{ block.settings[blockTitle] | downcase | handleize }}">
                                {% if block.settings[blockUrl] != blank %}
                                    <a href="{{ block.settings[blockUrl] }}" aria-label="" class="full_link"></a> {% endif %}
                                    <div class="img-box">
                                        <img src="{{ block.settings[blockImg] | img_url: '480x'}}" class="mobile_hide lazyload" alt="" />
                                        {% if block.settings[blockMobImg] !=blank %}
                                        <img src="{{ block.settings[blockMobImg] | img_url: '480x'}}" class="desktop_hide lazyload" alt="" />
                                        {% else %}
                                        <img src="{{ block.settings[blockImg] | img_url: '480x'}}" class="desktop_hide lazyload" alt="" />
                                        {% endif %}
                                    </div>
                                <div class="content-box">
                                    {% if block.settings[blockTitle] != blank %}  <h3> {{ block.settings[blockTitle] }}</h3> {% endif %}
                                    {% if block.settings[blockUrl] != blank %}  <a href="{{ block.settings[blockUrl] }}" aria-label="" class="custom-link"> Discover more ></a> {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %} 
                    </div>
                {%- endfor -%}
            </div>
        {% endif %}
        {% if section.settings.scl_collection_link != blank and section.settings.scl_link_label != blank  %}
        <div class="scl-collection-link">
            <a class="glb-btn" href="{{ section.settings.scl_collection_link }}" aria-label="{{ section.settings.scl_link_label }}">{{ section.settings.scl_link_label }}</a>
        </div>
        {% endif %}
            
    </div>
    
    </div>
    
    {% schema %}
    {
        "name" : "Solitaire",
        "class": "solitaire-col-layout",
        "max_blocks": 3,
        "settings": [
            {
                "type":"text",
                "id":"scl-heading",
                "label":"Section heading"
            },
            {
                "type":"richtext",
                "id":"scl-desc",
                "label":"Section description"
            },
            {
                "type":"text",
                "id":"scl_link_label",
                "label":"Section link"
            },
            {
                "type":"url",
                "id":"scl_collection_link",
                "label":"Section link"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "scl_image_1",
                        "label": "Collection Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "scl_mobile_image_1",
                        "label": "Collection Image (Mobile)"
                    },
                    {
                        "type": "text",
                        "id": "scl_heading_1",
                        "label": "Collection Caption"
                    },
                    {
                        "type": "url",
                        "id": "scl_link_1",
                        "label": "Collection Link"
                    },
                    {
                        "type": "image_picker",
                        "id": "scl_image_2",
                        "label": "Collection Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "scl_mobile_image_2",
                        "label": "Collection Image (Mobile)"
                    },
                    {
                        "type": "text",
                        "id": "scl_heading_2",
                        "label": "Collection Caption"
                    },
                    {
                        "type": "url",
                        "id": "scl_link_2",
                        "label": "Collection Link"
                    }
                ]
            }
        ],
        "presets": [
        {
          "name": "Solitaire",
          "category": "Image"
        }
      ]
    }
    {% endschema %}
    