{%- assign current_variant = product.selected_or_first_available_variant -%}
{% assign productMetafield = product.metafields.global %}
{% assign variantMetafield = current_variant.metafields.current_variant %}

{% assign hide_default_title = false %}
{% if product.options.size <= 1 or product.options.first.title contains 'Default' %}
  {% assign hide_default_title = true %}
{% endif %}

{%- comment -%}
{%- if product.variant.size == 1 and product.has_only_default_variant -%}
{%- assign delivery_days_instock = product.metafields.global.delivery_days_instock -%}
{%- else -%}
{%- assign delivery_days_instock = product.metafields.global.delivery_days_instock -%}
{%- endif -%}
{%- endcomment -%}
{%- capture delivery_days_instock -%}delivery_days_instock{%- endcapture -%}
{%- capture return_policy -%}return_policy{%- endcapture -%}
{%- capture shipping -%}shipping{%- endcapture -%}
{%- capture prod_info_dimension1  -%}prod_info_dimension1 {%- endcapture -%}
{%- capture prod_info_dimension2  -%}prod_info_dimension2{%- endcapture -%}
{%- capture prod_info_rhodium_plated -%}prod_info_rhodium_plated{%- endcapture -%}
{%- capture product_category -%}product_category{%- endcapture -%}
{%- capture jewelery_category -%}jewelery_category{%- endcapture -%}
{%- capture stone_category -%}stone_category{%- endcapture -%}
{%- capture prod_info_stone_coating -%}prod_info_stone_coating{%- endcapture -%}
{%- capture stone_color_granding -%}stone_color_granding{%- endcapture -%}
{%- capture shipping -%}shipping{%- endcapture -%}
{%- capture return_policy -%}return_policy{%- endcapture -%}
{%- capture warranty -%}warranty{% endcapture %}

<div class="product-template__container" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}"
    data-section-type="product" data-enable-history-state="true" data-ajax-enabled="{{ settings.enable_ajax }}">
    <div class="dia-container">
        {% comment %}
        Get first variant, or deep linked one
        {% endcomment %}

        
        {%- assign product_image_zoom_size = '1024x1024' -%}
        {%- assign product_image_scale = '2' -%}
        {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
        {%- assign compare_at_price = current_variant.compare_at_price -%}
        {%- assign price = current_variant.price -%}

        <div class="product-section-row">
            <div class="product-detail-slider-grp" data-product-single-media-group>
                {% if product.media.size > 0 %}
                <div class="product-detail-slider-wrapper">
                    <div class="product-detail-slider-holder">
                        <div class="product-detail-slider">
                            {% for mediaSlide in product.media %}
                             
                            {%- if mediaSlide contains "_PDP" -%}
                            <div class="product-detail-slide {% if section.settings.enable_image_zoom == true %}image_zoom{% endif %}">
                                
                                {% if mediaSlide.media_type == 'image' %}
                                <div class="product-detail-slide-inner" data-scale="1.4">
                                    <div class="product-detail-slide-img-holder" style="background-image: url({{ mediaSlide | img_url:'900x' }});"></div>
                                </div>
                                {% elsif mediaSlide.media_type == 'video' %}
                                <div class="product-detail-slide-inner media_type_video" >
                                    <div class="product-detail-slide-img-holder">
                                        <video loop muted>
                                            {% for video in mediaSlide.sources %}
                                            <source src="{{ video.url }}" type="{{ video.mime_type }}">
                                            {% endfor %}
                                        </video>
                                    </div>
                                </div>
                                {% endif %}
                                
                            </div>
                            {%- endif -%}
                            {% endfor %}
                        </div>
                        <div class="hide_mobile">{% include 'product-badge' %}</div>
                        {% for mediaThumb in product.media %}
                        {% assign videoIndexValue = forloop.index0 %}
                        {% if mediaThumb.media_type == 'video' %}
                        <div class="show_mobile">
                            <div class="mobile-3d-img" data-index="{{ videoIndexValue }}">
                                {% include 'icon-view-360-mobile' %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="product-detail-slider-thumbnail-wrapper hide_mobile">
                        <div class="right-border-line"></div>
                        <div class="product-detail-slider-thumbnail" {% if product.media.size <  5 %} data-size="{{ product.media.size }}"{% endif %}>
                            {% for mediaThumb in product.media %}
                            {%- if mediaThumb contains "_PDP" -%}
                            <div class="product-detail-slider-thumbnail-slide" data-alt="{{ mediaThumb.alt }}">
                                {% if mediaThumb.media_type == 'image' %}  
                                <div class="product-detail-slider-thumbnail-slide-inner">
                                    <div class="img_holder">
                                        <img data-src="{{ mediaThumb | img_url:'150x150' }}" class="lazyload"
                                        alt="{{ mediaThumb.alt }}">
                                    </div>
                                </div>
                                {% elsif mediaThumb.media_type == 'video' %}
                                <div class="product-detail-slider-thumbnail-slide-inner media_thumb">
                                    <div class="img_holder">{{ 'thumb-6.jpg' | asset_url | img_tag :'360 Video' }}</div>
                                </div>
                                {% endif %}
                            </div>
                            {%- endif -%}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if section.settings.show_share_buttons %}
                <div class="product-social-wrapper">
                    <div class="product-social-toggle">
                        {{ 'share-toggle.png' | asset_url | img_tag :'Share Icon' }}
                    </div>
                    <div class="product-social-box">
                        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image:
                        product.featured_media %}
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="product-detail-content-column">
                <div class="product-detail-breadcrumb">
                    <ul>
                        <p style="display: none;">{{ template.suffix }}</p>
                        <li><a href="{{ routes.root_url }}">Home</a></li>
                        {%- if productMetafield[product_category] != blank -%}
                        <li><a href="{{ routes.collections_url }}/{{ productMetafield[product_category] | append: '-collections' | downcase | handleize }}">{{ productMetafield[product_category] }}</a></li>
                        {%- endif -%}
                        {% if template.suffix contains 'loose-stone' %}
                        {% if productMetafield[stone_category] != blank %}
                        <li><span class="breadcrumb_text">{{ productMetafield[stone_category] }}</span></li>
                        {% endif %}
                        {% else %}
                        {% if productMetafield[jewelery_category] != blank %}
                        <li><span class="breadcrumb_text">{{ productMetafield[jewelery_category] }}</span></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div class="product-single__meta">
                    {%- assign current_variant = product.selected_or_first_available_variant -%}
                    <h1 class="product-single__title">{{ product.title }}</h1>
                    {%- if template.suffix contains 'loose-stone' -%}
                    {%- else -%}
                    <div class="product-sku-wrapper">
                        {%- if current_variant.sku != blank -%}
                        <div class="p_sku">SKU: {{ current_variant.sku }}</div>
                        <div class="p_weight_guide"><a href="javascript:void(0);">Carat Weight Guide</a></div>
                        {%- endif -%}
                    </div>
                    {%- endif -%}
                    <div class="product-wishlist">
                        <div class="wishlist-text">SAVE TO WISHLIST</div>
                        <div class="wishlist-icon">
                            {% include 'iocn-wislist' %}
                        </div>
                    </div>
                   
                    {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                    <div class="product__policies rte" data-product-policies>
                        {%- if cart.taxes_included -%}
                        {{ 'products.product.include_taxes' | t }}
                        {%- endif -%}
                        {%- if shop.shipping_policy.body != blank -%}
                        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                        {%- endif -%}
                    </div>
                    {%- endif -%}

                    {% capture "form_classes" -%}
                    product-form product-form-{{ section.id }}
                    {%- if section.settings.enable_payment_button and product.has_only_default_variant %}
                    product-form--payment-button-no-variants {%- endif -%}
                    {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
                    {%- endcapture %}

                    {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
                    {{ form | payment_terms }}

                    {% if template.suffix contains 'loose-stone' and  product.has_only_default_variant %}
                    {% if productMetafield[prod_info_stone_coating] != blank or productMetafield[stone_color_granding] != blank  %}
                    <ul class="stone-granding-options">
                        {% if productMetafield[prod_info_stone_coating] != blank %}
                        <li class="stone_coating">
                            <span class="stone_coating_label">Color - </span>
                            <span class="stone_coating_val">{{ productMetafield[prod_info_stone_coating] }}</span>
                        </li>
                        {% endif %}
                        {% if productMetafield[stone_color_granding] != blank %}
                        <li class="stone_color_granding">
                            <span class="stone_color_granding_label">Clarity - </span>
                            <span class="stone_color_granding_val">{{ productMetafield[stone_color_granding] }}</span>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    {% endif %}

                    {% unless product.has_only_default_variant %}
                    <div class="product-form__controls-group">
                        {% for option in product.options_with_values %}
                        <div class="selector-wrapper js product-form__item pdp-select-item">
                            {% assign indexVal = forloop.index %}

                            {% if option.name contains 'Color' or option.name contains 'Colour' or option.name contains 'COLOUR' %}
                            <label>SELECT GOLD COLOUR</label>
                            <div class="custom-checkbox-list">
                                {% for value in option.values %}
                                <div class="custom-checkbox">
                                    <input class="single-option-selector-{{ section.id }}" id="color-{{ forloop.index }}" type="radio" value="{{ value | escape }}"  data-index="option{{ indexVal }}" name="color" {% if option.selected_value==value %}checked{% endif %}>
                                    <span class="custom_check {{ value | downcase | replace:'gold','' | escape }}">{{ value | slice: 0, 3}}</span>
                                    <label for="color-{{ forloop.index }}">{{ value }}</label>
                                </div>
                                {% endfor %}
                            </div>

                            {% else %}
                            <div class="custom-select-holder">
                                <label for="SingleOptionSelector-{{ forloop.index0 }}">
                                    Select {% if product.metafields.global.jewelery_category != blank %}{{ product.metafields.global.jewelery_category }}{% endif %} {{ option.name }}
                                </label>
                                <select
                                    class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                                    id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                                    {% for value in option.values %}
                                    <option value="{{ value | escape }}" {% if option.selected_value==value %}
                                        selected="selected" {% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if option.name =='Size' %}
                            <!-- Set Ring Size Text in Variable and Pass that value on 'ring-size-poup' -->
                            {% assign ringSizeText = 'Ring Size Guide' %}
                            <div class="ring-size-chart"><a custom-modal="trigger" href="#{{ ringSizeText | downcase | replace: ' ', '_' }}">{{ ringSizeText }}</a></div>
                            
                            {% capture ringSizePopup %}
                                {% include 'ring-size-popup', ring_size_text: ringSizeText %}
                            {% endcapture %}

                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endunless %}

                    <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                        {% for variant in product.variants %}
                        <option data-title="{{ variant.title | handleize }}" data-color="{{ variant.option1 }}" data-size="{{ variant.option2 }}" value="{{ variant.id }}" {%- if variant==current_variant %} selected="selected" {%-endif -%}> {{ variant.title }} {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        </option>
                        {% endfor %}
                    </select>

                    {% if section.settings.show_quantity_selector %}
                    <div class="product-form__controls-group">
                        <div class="product-form__item">
                            <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                            <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1"
                                pattern="[0-9]*" class="product-form__input product-form__input--quantity"
                                data-quantity-input>
                        </div>
                    </div>
                    {% endif %}

                    <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
                        data-error-message-wrapper role="alert">
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        {% include 'icon-error' %}
                        <span class="product-form__error-message" data-error-message>{{
                            'products.product.quantity_minimum_message' | t }}</span>
                    </div>

                    <div class="product-form__controls-group product-form__controls-group--submit">
                        <div class="product-form__item product-form__item--submit
                    {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                    {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}">
                            <button type="submit" name="add" {% unless current_variant.available %} aria-disabled="true"
                                {% endunless %}
                                aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                                class="btn product-form__cart-submit glb-btn{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--secondary-accent{% endif %}"
                                {% if settings.enable_ajax %}aria-haspopup="dialog" {% endif %} data-add-to-cart>

                                <div class="product__price">
                                    {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor
                                    %}
                                </div>

                                <span data-add-to-cart-text>
                                    {% unless current_variant.available %}
                                    {{ 'products.product.sold_out' | t }}
                                    {% else %}
                                    ADD TO BAG
                                    {% endunless %}
                                </span>
                                <span class="hide" data-loader>
                                    {% include 'icon-spinner' %}
                                </span>
                            </button>
                            {% if section.settings.enable_payment_button %}
                            {{ form | payment_button }}
                            {% endif %}
                        </div>
                    </div>
                    {% endform %}

                </div>

                <div class="price_inclusive">Price is Inclusive of Taxes</div>
                <div class="delivery-check-sec">
                    <div class="delivery-check-title">check delivery date</div>
                    <div class="delivery-check-input">
                        <span class="delivery-icon"><svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 15.8925L4.69231 15.5228C4.5 15.3174 0 9.64919 0 6.24003C0 3.28269 2.23077 0.900391 5 0.900391C7.76923 0.900391 10 3.28269 10 6.24003C10 9.64919 5.5 15.3174 5.30769 15.5639L5 15.8925ZM5 1.72187C2.65385 1.72187 0.769231 3.73451 0.769231 6.24003C0.769231 8.86878 4 13.3048 5 14.6192C6 13.3048 9.23077 8.86878 9.23077 6.24003C9.23077 3.73451 7.34615 1.72187 5 1.72187Z" fill="black"/>
    <path d="M5.00024 8.39404C3.84729 8.39404 2.94141 7.43208 2.94141 6.20776C2.94141 4.98345 3.84729 4.02148 5.00024 4.02148C6.15319 4.02148 7.05908 4.98345 7.05908 6.20776C7.05908 7.43208 6.15319 8.39404 5.00024 8.39404ZM5.00024 4.896C4.30024 4.896 3.76494 5.46443 3.76494 6.20776C3.76494 6.9511 4.30024 7.51953 5.00024 7.51953C5.70025 7.51953 6.23555 6.9511 6.23555 6.20776C6.23555 5.46443 5.70025 4.896 5.00024 4.896Z" fill="black"/>
    </svg></span>
                        <input type="text" id="delivery-check" placeholder="Enter pincode">
                    </div>
                    {%- if productMetafield[delivery_days_instock] != blank -%}
                    <div class="delivery-check-date">{{ productMetafield[delivery_days_instock] }}</div>
                    {%- endif -%}
                </div>

                <div class="product-details-btn-grid">
                    <div class="product-details-btn-item full-width-btn">
                        <a class="pdp-white-btn" href="#">SHOP AT HOME WITH OUR AMBASSADOR</a>
                    </div>
                    <div class="product-details-btn-item">
                        <a class="pdp-white-btn" href="#">VIRTUAL TRY ON</a>
                    </div>
                    <div class="product-details-btn-item">
                        <a class="pdp-white-btn" href="#">TRY AT HOME</a>
                    </div>
                </div>

                <div class="pdp-connect-section">
                    <div class="connect-with-phone">
                        <div class="left_col">
                            <span>
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M28.126 22.9376C27.0572 21.8609 24.4685 20.2895 23.2125 19.6563C21.5768 18.8326 21.4422 18.7653 20.1566 19.7202C19.2991 20.3575 18.729 20.9268 17.7254 20.7128C16.7218 20.4988 14.541 19.2922 12.6314 17.3891C10.7219 15.4859 9.44501 13.2423 9.2303 12.2423C9.01558 11.2423 9.59444 10.679 10.2258 9.81965C11.1156 8.60833 11.0483 8.40644 10.2877 6.77116C9.69473 5.49927 8.07729 2.93531 6.9963 1.87204C5.83993 0.73003 5.83993 0.931917 5.09481 1.24148C4.4882 1.49665 3.90624 1.80684 3.35621 2.16814C2.27926 2.88349 1.68156 3.47771 1.26356 4.37072C0.845574 5.26374 0.657781 7.3573 2.81639 11.2779C4.975 15.1986 6.48946 17.2033 9.62406 20.3285C12.7587 23.4537 15.169 25.1341 18.6926 27.1099C23.0516 29.5507 24.7236 29.075 25.6194 28.6577C26.5153 28.2405 27.1124 27.6483 27.8292 26.5716C28.1915 26.0226 28.5025 25.4414 28.7581 24.8353C29.0684 24.0931 29.2703 24.0931 28.126 22.9376Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10"/>
                                    </svg>                                    
                            </span>
                            <span class="text">to order by  phone</span>
                        </div>
                        <div class="right_col">
                            <a href="tel:+8002278400">1-800-227-8400</a>
                        </div>
                    </div>
                    <div class="pdp-warranty-sec">
                        {% if variantMetafield[return_policy] != blank  or productMetafield[return_policy] != blank %}
                        <div class="pdp-warranty-item _returns">
                            <span>
                                <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 4V0L3.375 5L9 10V6C12.7238 6 15.75 8.69 15.75 12C15.75 15.31 12.7238 18 9 18C5.27625 18 2.25 15.31 2.25 12H0C0 16.42 4.0275 20 9 20C13.9725 20 18 16.42 18 12C18 7.58 13.9725 4 9 4Z" fill="black"/>
                                    </svg>                                    
                            </span>
                            {% if variantMetafield[return_policy] != blank %}
                                <span class="text return_policy_val">{{ variantMetafield[return_policy] }}</span>
                            {% else %}
                                {% if productMetafield[return_policy] != blank %}
                                    <span class="text return_policy_val">{{ productMetafield[return_policy] }}</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if variantMetafield[warranty] != blank  or productMetafield[warranty] != blank %}
                        <div class="pdp-warranty-item _warranty">
                            <span>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.19705 1.988C4.8369 2.3158 3.48557 2.67235 2.14419 3.05733C2.0228 3.09093 1.91444 3.15454 1.83157 3.24086C1.7487 3.32719 1.69467 3.43272 1.6757 3.54533C0.882972 8.74133 2.71234 12.5333 4.89419 15.0307C5.98883 16.284 7.1742 17.212 8.16176 17.8213C8.65702 18.1253 9.0928 18.3467 9.43636 18.488C9.60889 18.5587 9.74869 18.6067 9.85578 18.6347C9.903 18.6483 9.9512 18.659 10 18.6667C10.0105 18.6653 10.0566 18.66 10.1443 18.636C10.2514 18.6067 10.3912 18.5587 10.5637 18.488C10.9058 18.3467 11.3446 18.1253 11.8383 17.8213C13.0767 17.0424 14.1781 16.1018 15.1059 15.0307C17.2878 12.5333 19.1171 8.74133 18.3244 3.54533C18.3054 3.43272 18.2514 3.32719 18.1685 3.24086C18.0856 3.15454 17.9773 3.09093 17.8559 3.05733C16.9249 2.79067 15.3543 2.356 13.803 1.988C12.2176 1.61333 10.7586 1.33333 10 1.33333C9.24153 1.33333 7.78399 1.61333 6.19705 1.988ZM5.8163 0.7C7.36755 0.332 9.01397 0 10 0C10.9846 0 12.6325 0.332 14.1838 0.7C15.5674 1.03303 16.942 1.39536 18.3065 1.78667C19.0918 2.01067 19.6838 2.61733 19.7983 3.36533C20.6505 8.96133 18.6739 13.108 16.2779 15.852C15.2568 17.0296 14.0446 18.0633 12.6816 18.9187C12.2077 19.2163 11.7067 19.4776 11.1839 19.7C10.7824 19.8653 10.354 20 10 20C9.64607 20 9.21773 19.8653 8.81616 19.7C8.29328 19.4778 7.79227 19.2165 7.31847 18.9187C5.95602 18.0632 4.7443 17.0295 3.72369 15.852C1.3247 13.108 -0.650422 8.96133 0.201794 3.36533C0.258773 3.00276 0.429121 2.66207 0.693121 2.38269C0.95712 2.1033 1.30398 1.89666 1.69354 1.78667C3.05805 1.39537 4.43269 1.03304 5.8163 0.7Z" fill="black"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.245 7.52789C14.3143 7.58982 14.3692 7.66339 14.4067 7.74438C14.4442 7.82538 14.4635 7.91221 14.4635 7.9999C14.4635 8.08759 14.4442 8.17442 14.4067 8.25541C14.3692 8.33641 14.3143 8.40998 14.245 8.47191L9.78322 12.472C9.71414 12.5341 9.63208 12.5833 9.54174 12.6169C9.4514 12.6505 9.35454 12.6678 9.25673 12.6678C9.15892 12.6678 9.06206 12.6505 8.97172 12.6169C8.88137 12.5833 8.79931 12.5341 8.73024 12.472L6.49933 10.4719C6.43019 10.41 6.37535 10.3364 6.33793 10.2554C6.30051 10.1744 6.28125 10.0876 6.28125 9.99993C6.28125 9.91227 6.30051 9.82547 6.33793 9.74448C6.37535 9.66349 6.43019 9.58991 6.49933 9.52792C6.56847 9.46594 6.65055 9.41677 6.74089 9.38322C6.83122 9.34968 6.92805 9.33241 7.02582 9.33241C7.1236 9.33241 7.22043 9.34968 7.31076 9.38322C7.4011 9.41677 7.48318 9.46594 7.55232 9.52792L9.25673 11.0573L13.192 7.52789C13.2611 7.46581 13.3432 7.41655 13.4335 7.38294C13.5239 7.34933 13.6207 7.33203 13.7185 7.33203C13.8164 7.33203 13.9132 7.34933 14.0035 7.38294C14.0939 7.41655 14.176 7.46581 14.245 7.52789Z" fill="black"/>
                                </svg>
                            </span>
                            {% if variantMetafield[warranty] != blank %}
                            <span class="text warranty_val">{{ variantMetafield[warranty] }}</span>
                        {% else %}
                            {% if productMetafield[warranty] != blank %}
                                <span class="text warranty_val">{{ productMetafield[warranty] }}</span>
                            {% endif %}
                        {% endif %}
                        </div>
                        {% endif %}
                        {% if variantMetafield[shipping] != blank  or productMetafield[shipping] != blank %}
                        <div class="pdp-warranty-item _shipping">
                            <span>
                                <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.4 4H19.6V2.66667C19.6 1.95942 19.305 1.28115 18.7799 0.781048C18.2548 0.280951 17.5426 0 16.8 0H2.8C2.05739 0 1.3452 0.280951 0.820101 0.781048C0.294999 1.28115 0 1.95942 0 2.66667V16H2.8C2.8 16.5253 2.90864 17.0454 3.11971 17.5307C3.33078 18.016 3.64015 18.457 4.03015 18.8284C4.42016 19.1999 4.88316 19.4945 5.39273 19.6955C5.9023 19.8965 6.44845 20 7 20C7.55155 20 8.0977 19.8965 8.60727 19.6955C9.11684 19.4945 9.57984 19.1999 9.96985 18.8284C10.3599 18.457 10.6692 18.016 10.8803 17.5307C11.0914 17.0454 11.2 16.5253 11.2 16H16.8C16.8 17.0609 17.2425 18.0783 18.0302 18.8284C18.8178 19.5786 19.8861 20 21 20C22.1139 20 23.1822 19.5786 23.9698 18.8284C24.7575 18.0783 25.2 17.0609 25.2 16H28V9.33333L22.4 4ZM7 18C6.72413 17.9999 6.45098 17.9481 6.19615 17.8475C5.94132 17.7468 5.70979 17.5994 5.51479 17.4135C5.31978 17.2277 5.16512 17.0071 5.05964 16.7643C4.95415 16.5216 4.89991 16.2614 4.9 15.9987C4.90009 15.7359 4.95452 15.4758 5.06017 15.2331C5.16583 14.9904 5.32064 14.7699 5.51578 14.5842C5.71091 14.3985 5.94254 14.2512 6.19744 14.1507C6.45235 14.0502 6.72553 13.9986 7.0014 13.9987C7.55854 13.9988 8.09279 14.2098 8.48662 14.5851C8.88044 14.9604 9.10159 15.4694 9.1014 16C9.10122 16.5306 8.87971 17.0394 8.48562 17.4145C8.09153 17.7896 7.55714 18.0002 7 18ZM2.8 12V2.66667H16.8V12H2.8ZM21 18C20.7241 17.9999 20.451 17.9481 20.1961 17.8475C19.9413 17.7468 19.7098 17.5994 19.5148 17.4135C19.3198 17.2277 19.1651 17.0071 19.0596 16.7643C18.9542 16.5216 18.8999 16.2614 18.9 15.9987C18.9001 15.7359 18.9545 15.4758 19.0602 15.2331C19.1658 14.9904 19.3206 14.7699 19.5158 14.5842C19.7109 14.3985 19.9425 14.2512 20.1974 14.1507C20.4523 14.0502 20.7255 13.9986 21.0014 13.9987C21.5585 13.9988 22.0928 14.2098 22.4866 14.5851C22.8804 14.9604 23.1016 15.4694 23.1014 16C23.1012 16.5306 22.8797 17.0394 22.4856 17.4145C22.0915 17.7896 21.5571 18.0002 21 18Z" fill="black"/>
                                </svg>
                            </span>
                            {% if variantMetafield[shipping] != blank %}
                                <span class="text shipping_val">{{ variantMetafield[shipping] }}</span>
                            {% else %}
                                {% if productMetafield[shipping] != blank %}
                                    <span class="text shipping_val">{{ productMetafield[shipping] }}</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                {%- comment -%}
                Live region for announcing updated price and availability to screen readers
                {%- endcomment -%}
                <p class="visually-hidden" data-product-status aria-live="polite" role="status"></p>

                {%- comment -%}
                Live region for announcing that the product form has been submitted and the
                product is in the process being added to the cart
                {%- endcomment -%}
                <p class="visually-hidden" data-loader-status aria-live="assertive" role="alert" aria-hidden="true">{{
                    'products.product.loader_label' | t }}</p>

                <div class="product-single__store-availability-container" data-store-availability-container
                    data-product-title="{{ product.title | escape }}"
                    data-has-only-default-variant="{{ product.has_only_default_variant }}"
                    data-base-url="{{ shop.url }}{{ routes.root_url }}">
                </div>

            </div>
        </div>

        <div class="product-content-section">

            {%- if product.description != blank -%}
            <div class="product-desc-section content_showed">
                <div class="product-desc-title"><p>PRODUCT DESCRIPTION</p><span></span></div>
                <div class="product-desc-content">{{ product.description }}</div>
            </div>
            {%- endif -%}

            <div class="product-meta-review-tabber-nav hide_mobile">
                <ul>
                    <li class="prduct-metatab-trigger active"><a href="#productDetails">Product Details</a></li>
                    <li class="prduct-review-trigger"><a href="#productReview">Review</a></li>
                </ul>
            </div>

            <div class="product-meta-review-tabber">
                <!-- Metafield Section -->
                {% include 'product-metafield' %}

                <!-- Review Section -->
                {% include 'product-review' %}
            </div>

        </div>

    </div>
</div>

<!-- Add Popup Capture Code Here -->
{{ ringSizePopup }}


<script>
    $('.product-detail-slider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        fade: true,
        asNavFor: '.product-detail-slider-thumbnail',
        draggable: false,
        infinite: false,
        autoplay:false,
        responsive: [
            {
                breakpoint: 749,
                settings: {
                    dots: true
                }
            }
        ]
    });
    $('.product-detail-slider-thumbnail').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        vertical:true,
        asNavFor: '.product-detail-slider',
        dots: false,
        verticalSwiping:true,
        focusOnSelect: true,
        draggable: false,
        arrows: false,
        infinite: false,
        autoplay:false,
        centerMode: false,
        responsive: [
            {
                breakpoint: 991,
                settings: {
                    verticalSwiping:false,
                    vertical:false
                }
            }
        ]
    }); 
    
    // Go to 360 view Slide Mobile
    $('.mobile-3d-img').click(function(e) {
        var slideno = $(this).attr('data-index');
        $('.product-detail-slider').slick('slickGoTo', slideno);
        $('.product-detail-slider .product-detail-slide[data-slick-index="'+slideno+'"]').find('video').get(0).play();
    });
    
    function activeBorder() {
        setTimeout(function(){
            $(".slide-active-border").css({
                height: $(".product-detail-slider-thumbnail .slick-slide.slick-current .product-detail-slider-thumbnail-slide-inner").height(),
                top: $(".product-detail-slider-thumbnail .slick-slide.slick-current").position().top
            });
        },100);
        $(".product-detail-slider-thumbnail .slick-slide").click(function() {
            var borederHeight = $(this).children('.product-detail-slider-thumbnail-slide-inner').height();
                borederPos = $(this).children('.product-detail-slider-thumbnail-slide-inner').position().top;
            $(".slide-active-border").css({
                height: borederHeight,
                top: borederPos
            })
        });
    }
    window.addEventListener("load", function(){
        $('.product-detail-slider-thumbnail .slick-track').prepend('<div class="slide-active-border"></div>');
        activeBorder();
        // border mover on Arrow click
        $(".product-detail-slider-wrapper .slick-arrow").click(function() {
            $(".slide-active-border").css({
                height: $(".product-detail-slider-thumbnail .slick-slide.slick-current .product-detail-slider-thumbnail-slide-inner").height(),
                top: $(".product-detail-slider-thumbnail .slick-slide.slick-current").position().top
            });
        });    
    });
    $(window).resize(function(){
        activeBorder();
    });


// slick zoom
$(".image_zoom .product-detail-slide-inner")
  .on("mouseover", function() {
    $(this)
      .children(".product-detail-slide-img-holder")
      .css({ transform: "scale(" + $(this).attr("data-scale") + ")" });
  })
  .on("mouseout", function() {
    $(this)
      .children(".product-detail-slide-img-holder")
      .css({ transform: "scale(1)" });
  })
  .on("mousemove", function(e) {
    $(this)
      .children(".product-detail-slide-img-holder")
      .css({
        "transform-origin":
          ((e.pageX - $(this).offset().left) / $(this).width()) * 100 +
          "% " +
          ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +
          "%"
      });
  });
</script>

{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
<script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}



{% schema %}
{
  "name": "Jewellary Product",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "cs": "Zobrazit výběr množství",
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pl": "Pokaż selektor ilości",
        "pt-BR": "Exibir seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "tr": "Adet seçiciyi göster",
        "vi": "Hiển thị hộp chọn số lượng",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "cs": "Zobrazit dodavatele",
        "da": "Vis leverandør",
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fi": "Näytä myyjä",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "ko": "공급업체 표시",
        "nb": "Vis leverandør",
        "nl": "Leverancier weergeven",
        "pl": "Pokaż dostawcę",
        "pt-BR": "Exibir fabricante",
        "pt-PT": "Mostrar fornecedor",
        "sv": "Visa säljare",
        "th": "แสดงผู้ขาย",
        "tr": "Satıcıyı göster",
        "vi": "Hiển thị nhà cung cấp",
        "zh-CN": "显示厂商",
        "zh-TW": "顯示廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "cs": "Zobrazit dynamické tlačítko pokladny",
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische checkoutknop weergeven",
        "pl": "Pokaż dynamiczny przycisk realizacji zakupu",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "tr": "Dinamik ödeme düğmesini göster",
        "vi": "Hiển thị nút thanh toán nhanh",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "cs": "Každý zákazník uvidí platební metodu, kterou ze všech metod dostupných v obchodě (například PayPal nebo Apple Pay) nejvíce preferuje. [Další informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pl": "Każdy klient zobaczy swoją preferowaną metodę płatności wśród metod dostępnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz się więcej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "tr": "Her müşteri, mağazanız sunulanlar arasından tercih ettikleri ödeme yöntemini görür (ör. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "vi": "Mỗi khách hàng sẽ thấy phương thức thanh toán ưu tiên trong những phương thức thanh toán được hỗ trợ tại cửa hàng như PayPal hoặc Apple Pay. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Affichez les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "cs": "Multimédia",
        "da": "Medie",
        "de": "Medien",
        "en": "Media",
        "es": "Elementos multimedia",
        "fi": "Media",
        "fr": "Support multimédia",
        "it": "Contenuti multimediali",
        "ja": "メディア",
        "ko": "미디어",
        "nb": "Medier",
        "nl": "Media",
        "pl": "Multimedia",
        "pt-BR": "Mídia",
        "pt-PT": "Multimédia",
        "sv": "Media",
        "th": "สื่อ",
        "tr": "Medya",
        "vi": "Nội dung đa phương tiện",
        "zh-CN": "媒体",
        "zh-TW": "媒體"
      },
      "info": {
        "cs": "Další informace o [typech multimédií](https://help.shopify.com/manual/products/product-media)",
        "da": "Få mere at vide om [media types](https://help.shopify.com/manual/products/product-media)",
        "de": "Mehr Informationen über [Medientypen ](https://help.shopify.com/manual/products/product-media)",
        "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)",
        "es": "Más información sobre [tipos de archivos multimedia](https://help.shopify.com/manual/products/product-media)",
        "fi": "Lue lisää [mediatyypeistä](https://help.shopify.com/manual/products/product-media)",
        "fr": "En savoir plus sur les [types de supports multimédia](https://help.shopify.com/manual/products/product-media)",
        "it": "Scopri di più sulle [tipologie di file multimediali](https://help.shopify.com/manual/products/product-media)",
        "ja": "[メディアのタイプ](https://help.shopify.com/manual/products/product-media) について詳しくはこちら",
        "ko": "[미디어 유형](https://help.shopify.com/manual/products/product-media)에 대해 자세히 알아보기",
        "nb": "Lær mer om [medietyper](https://help.shopify.com/manual/products/product-media)",
        "nl": "Meer informatie over [mediatypen](https://help.shopify.com/manual/products/product-media)",
        "pl": "Dowiedz się więcej o [typach multimediów](https://help.shopify.com/manual/products/product-media)",
        "pt-BR": "Saiba mais sobre [tipos de mídia](https://help.shopify.com/manual/products/product-media)",
        "pt-PT": "Saiba mais sobre [media types](https://help.shopify.com/manual/products/product-media)",
        "sv": "Läs mer om [mediatyper](https://help.shopify.com/manual/products/product-media)",
        "th": "ดูข้อมูลเพิ่มเติมเกี่ยวกับ [ประเภทของสื่อ](https://help.shopify.com/manual/products/product-media)",
        "tr": "[Medya türleri](https://help.shopify.com/manual/products/product-media) hakkında daha fazla bilgi edinin",
        "vi": "Tìm hiểu thêm về [loại phương tiện](https://help.shopify.com/manual/products/product-media)",
        "zh-CN": "详细了解[媒体类型](https://help.shopify.com/manual/products/product-media)",
        "zh-TW": "深入瞭解 [媒體類型](https://help.shopify.com/manual/products/product-media)"
      }
    },
    {
      "type": "select",
      "id": "media_size",
      "label": {
        "cs": "Velikost",
        "da": "Størrelse",
        "de": "Größe",
        "en": "Size",
        "es": "Tamaño",
        "fi": "Koko",
        "fr": "Taille",
        "it": "Dimensione",
        "ja": "サイズ",
        "ko": "사이즈",
        "nb": "Størrelse",
        "nl": "Grootte",
        "pl": "Rozmiar",
        "pt-BR": "Tamanho",
        "pt-PT": "Tamanho",
        "sv": "Storlek",
        "th": "ขนาด",
        "tr": "Boyut",
        "vi": "Cỡ",
        "zh-CN": "尺寸",
        "zh-TW": "尺寸"
      },
      "options": [
        {
          "value": "small",
          "label": {
            "cs": "Malá",
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Pieni",
            "fr": "Petit",
            "it": "Piccolo",
            "ja": "スモール",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pl": "Mały",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "tr": "Küçük",
            "vi": "Nhỏ",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "medium",
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średni",
            "pt-BR": "Médio",
            "pt-PT": "Médio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          }
        },
        {
          "value": "large",
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duży",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        },
        {
          "value": "full",
          "label": {
            "cs": "Plná šířka",
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full-width",
            "es": "Ancho completo",
            "fi": "Täysi leveys",
            "fr": "Pleine largeur",
            "it": "Intera larghezza",
            "ja": "全幅",
            "ko": "전체 폭",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pl": "Pełna szerokość",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura completa",
            "sv": "Full bredd",
            "th": "เต็มความกว้าง",
            "tr": "Tam genişlikli",
            "vi": "Độ rộng đầy đủ",
            "zh-CN": "全宽",
            "zh-TW": "完整寬度"
          }
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": {
        "cs": "Povolit zvětšení obrázku",
        "da": "Aktivér billedzoom",
        "de": "Foto-Zoom zulassen",
        "en": "Enable image zoom",
        "es": "Habilitar zoom de imagen",
        "fi": "Ota kuvan zoomaus käyttöön",
        "fr": "Activer le zoom d'image",
        "it": "Abilita lo zoom dell'immagine",
        "ja": "画像ズームを有効にする",
        "ko": "이미지 확대 사용",
        "nb": "Aktiver bildezoom",
        "nl": "Inzoomen op afbeelding inschakelen",
        "pl": "Włącz powiększenie obrazu",
        "pt-BR": "Habilitar o zoom da imagem",
        "pt-PT": "Ativar o zoom da imagem",
        "sv": "Aktivera bildzoom",
        "th": "เปิดใช้การซูมภาพ",
        "tr": "Görsel yakınlaştırmayı etkinleştir",
        "vi": "Bật thu phóng hình ảnh",
        "zh-CN": "启用图片缩放",
        "zh-TW": "啟用圖片縮放"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": {
        "cs": "Povolit smyčky videa",
        "da": "Aktivér looping af videoer",
        "de": "Videoschleife aktivieren",
        "en": "Enable video looping",
        "es": "Habilitar la reproducción de video en bucle",
        "fi": "Ota käyttöön videosilmukka",
        "fr": "Activer le bouclage de la vidéo",
        "it": "Abilita la riproduzione in loop dei video",
        "ja": "ビデオのループを有効にする",
        "ko": "동영상 루프",
        "nb": "Aktiver løkkeavspilling av video",
        "nl": "Video-looping inschakelen",
        "pl": "Włącz zapętlanie wideo",
        "pt-BR": "Habilitar loop de vídeo",
        "pt-PT": "Ativar ciclo de vídeo",
        "sv": "Aktivera video-loopning",
        "th": "เปิดใช้การวนซ้ำวิดีโอ",
        "tr": "Video döngüsünü etkinleştir",
        "vi": "Bật vòng lặp video",
        "zh-CN": "启用视频循环",
        "zh-TW": "啟用影片循環功能"
      },
      "default": false
    }
  ]
}
{% endschema %}
