<div class="jewellary-collection-wrapper">
    <div class="dia-container">       
        {% for collection in section.blocks %}
        {% assign collection_name = collection.settings.select_menu | handle %}
        {% assign mainCollection = collections[collection_name] %}
       
        {%- if collection.type == 'collection'-%}
        <div class="jewellary-collection-row jewellary-collection-layout-1">
            <div class="jewellary-collection-header">

                <div class="content_holder"> 
                    {% if collection.settings.featured_image_mobile != blank %}
                    <div class="mobile_featured_image show_mobile">
                        <a href="{{ collection.settings.featured_image_link }}">
                            <img class="lazyload desktop_hide" data-src="{{ collection.settings.featured_image_mobile | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                        </a>
                    </div>
                    {% endif %}
                    {% if collection.settings.block_heading != blank %}<h2>{{ collection.settings.block_heading }}</h2>{% endif %}
                    {% if collection.settings.block_desc != blank %}<div class="scl-desc">{{ collection.settings.block_desc }}</div>{% endif %}
                </div>

                <div class="show_mobile mobile_featured_image aa mobile_hide">
                    {% if collection.settings.featured_image != blank  %}
                    <a href="{{ collection.settings.featured_image_link }}">
                        <img class="lazyload" data-src="{{ collection.settings.featured_image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                    </a>
                    {% else %}
                    {% if mainCollection.image %}
                    <a href="{{ mainCollection.url }}">
                        <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                    </a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {%- assign subs = linklists[collection_name].links -%}
            {%- if subs != blank -%}
            <div class="jewellary-collection-grid">
                <div class="jewellary-collection-block">
                    {% for sub in subs limit: 2 %}
                    {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                    {% assign collectionMobileImage = collections[subitem_handle].metafields.global.collection_mobile_image %}
                    {% if sub.title != blank %}
                    <div class="jewellary-collection-card" >
                        <a class="full_link" href="{{ sub.url }}"></a>
                        <div class="image_holder">
                            {% if collections[subitem_handle].image %}
                                <img class="lazyload {% if collectionMobileImage != blank %}mobile_hide{% endif %}" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                                {% if collectionMobileImage != blank %}
                                  <img class="lazyload desktop_hide" data-src="{{ collectionMobileImage }}" alt="{{ sub.title }}"/>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="content_holder">
                            <div class="title">{{ sub.title }}</div>
                            <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>

                <div class="jewellary-collection-block big_column">
                    <div class="jewellary-collection-card has_only_image hide_mobile">
                        <div class="image_holder">
                            {% if collection.settings.featured_image %}
                            <a href="{{ collection.settings.featured_image_link }}">
                                <img class="lazyload" data-src="{{ collection.settings.featured_image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                            </a>
                            {% else %}
                            {% if mainCollection.image %}
                            <a href="{{ mainCollection.url }}">
                                <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                            </a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% for sub in subs limit: 1 offset: continue %}
                    {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                    {% assign collectionMobileImage = collections[subitem_handle].metafields.global.collection_mobile_image %}
                    {% if sub.title != blank %}
                    <div class="jewellary-collection-card">
                        <a class="full_link" href="{{ sub.url }}"></a>
                        <div class="image_holder">
                            {% if collections[subitem_handle].image %}
                                <img class="lazyload {% if collectionMobileImage != blank %}mobile_hide{% endif %}" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                                {% if collectionMobileImage != blank %}
                                  <img class="lazyload desktop_hide" data-src="{{ collectionMobileImage }}" alt="{{ sub.title }}"/>
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="content_holder">
                            <div class="title">{{ sub.title }}</div>
                            <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>

                <div class="jewellary-collection-block">
                    {% for sub in subs limit: 2 offset: continue %}
                    {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                    {% assign collectionMobileImage = collections[subitem_handle].metafields.global.collection_mobile_image %}
                    {% if sub.title != blank %}
                    <div class="jewellary-collection-card">
                        <a class="full_link" href="{{ sub.url }}"></a>
                        <div class="image_holder">
                            {% if collections[subitem_handle].image %}
                                <img class="lazyload {% if collectionMobileImage != blank %}mobile_hide{% endif %}" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                                {% if collectionMobileImage != blank %}
                                  <img class="lazyload desktop_hide" data-src="{{ collectionMobileImage }}" alt="{{ sub.title }}"/>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="content_holder">
                            <div class="title">{{ sub.title }}</div>
                            <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>

            </div>
            {%- endif -%}

            {%- if mainCollection.title != blank -%}
            <div class="jewellary-collection-btn-holder text-center">
                <a href="{{ mainCollection.url }}" class="glb-btn">EXPLORE {{ mainCollection.title }}</a>
            </div>
            {%- endif -%}
            {% if collection.settings.block_cta_link != blank and collection.settings.block_cta_label != blank  %}
            <div class="scl-collection-link">
            <a class="glb-btn" href="{{ collection.settings.block_cta_link }}" aria-label="{{ collection.settings.block_cta_label }}">{{ collection.settings.block_cta_label }}</a>
            </div>
            {% endif %}
        </div>
        {%- endif -%}

        {%- if collection.type == 'text'-%}
        <!-- Layout 2 -->
        <div class="jewellary-collection-row jewellary-collection-layout-2">
            <div class="jewellary-collection-header mb-image-bottom">
                
                <div class="content_holder">
                    {% if collection.settings.block_heading != blank %}
                    <h2>{{ collection.settings.block_heading }}</h2>
                    {% else %}
                    <h2>{{ mainCollection.title }}</h2>
                    {% endif %}

                    {% if collection.settings.block_desc != blank %}
                    <div class="scl-desc">{{ collection.settings.block_desc }}</div>
                    {% else %}
                    {{ mainCollection.description }}
                    {% endif %}
                </div>
                <div class="show_mobile mobile_featured_image bb">
                    {% if collection.settings.featured_image != blank %}                       
                        <a href="{{ collection.settings.featured_image_link }}">
                            {% if collection.settings.featured_image_mobile != blank %}<img class="lazyload desktop_hide" data-src="{{ collection.settings.featured_image_mobile | img_url: 'master' }}" alt="{{ mainCollection.title }}">{% endif %}
                            <img class="lazyload  {% if collection.settings.featured_image_mobile != blank %} mobile_hide {% endif %}" data-src="{{ collection.settings.featured_image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                        </a>
                    {% else %}
                        <a href="{{ mainCollection.url }}">
                            <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            {%- assign subs = linklists[collection_name].links -%}
            {%- if subs != blank -%}
             <div class="jewellary-collection-grid"> 
                 <div class="jewellary-collection-block big_column">
                     <div class="jewellary-collection-card has_only_image hide_mobile">
                        <div class="image_holder">
                            {% if collection.settings.featured_image %}
                            <a href="{{ collection.settings.featured_image_link }}">
                                <img class="lazyload" data-src="{{ collection.settings.featured_image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                            </a>
                            {% else %}
                            {% if mainCollection.image %}
                            <a href="{{ mainCollection.url }}">
                                <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                            </a>
                            {% endif %}
                            {% endif %}
                        </div>
                     </div>
                     {% for sub in subs limit: 1 %}
                     {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                     {% assign collectionMobileImage = collections[subitem_handle].metafields.global.collection_mobile_image %}
                     {% if sub.title != blank %}
                     <div class="jewellary-collection-card">
                        <a class="full_link" href="{{ sub.url }}"></a>
                        <div class="image_holder">
                            {% if collections[subitem_handle].image %}
                                <img class="lazyload {% if collectionMobileImage != blank %}mobile_hide{% endif %}" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                                {% if collectionMobileImage != blank %}
                                  <img class="lazyload desktop_hide" data-src="{{ collectionMobileImage }}" alt="{{ sub.title }}"/>
                                {% endif %}
                            {% endif %}
                        </div>
 
                         <div class="content_holder">
                             <div class="title">{{ sub.title }}</div>
                             <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                         </div>
                     </div>
                     {% endif %}
                     {% endfor %} 
                 </div>
 
                 <div class="jewellary-collection-block">
                     {% for sub in subs limit: 2 offset: continue %}
                     {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                     {% assign collectionMobileImage = collections[subitem_handle].metafields.global.collection_mobile_image %}
                     {% if sub.title != blank %}
                     <div class="jewellary-collection-card">
                        <a class="full_link" href="{{ sub.url }}"></a>
                         <div class="image_holder">
                            {% if collections[subitem_handle].image %}
                                <img class="lazyload {% if collectionMobileImage != blank %}mobile_hide{% endif %}" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                                {% if collectionMobileImage != blank %}
                                  <img class="lazyload desktop_hide" data-src="{{ collectionMobileImage }}" alt="{{ sub.title }}"/>
                                {% endif %}
                            {% endif %}
                         </div>
                         
                         <div class="content_holder">
                             <div class="title">{{ sub.title }}</div>
                             <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                         </div>
                     </div>
                     {% endif %}
                     {% endfor %} 
                 </div>
 
                 <div class="jewellary-collection-block">
                     {% for sub in subs limit: 2 offset: continue %}
                     {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                     {% assign collectionMobileImage = collections[subitem_handle].metafields.global.collection_mobile_image %}
                     {% if sub.title != blank %}
                     <div class="jewellary-collection-card">
                        <a class="full_link" href="{{ sub.url }}"></a>
                         <div class="image_holder">
                            {% if collections[subitem_handle].image %}
                                <img class="lazyload {% if collectionMobileImage != blank %}mobile_hide{% endif %}" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                                {% if collectionMobileImage != blank %}
                                    <img class="lazyload desktop_hide" data-src="{{ collectionMobileImage }}" alt="{{ sub.title }}"/>
                                {% endif %}
                            {% endif %}
                         </div>
                         <div class="content_holder">
                             <div class="title">{{ sub.title }}</div>
                             <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                         </div>
                     </div>
                     {% endif %}
                     {% endfor %} 
                 </div>
 
             </div>
             {%- endif -%}
            {%- if mainCollection.title != blank -%}
            <div class="jewellary-collection-btn-holder text-center">
                <a href="{{ mainCollection.url }}" class="glb-btn">EXPLORE {{ mainCollection.title }}</a>
            </div>
            {%- endif -%}
            {% if collection.settings.block_cta_link != blank and collection.settings.block_cta_label != blank  %}
            <div class="scl-collection-link">
                <a class="glb-btn" href="{{ collection.settings.block_cta_link }}" aria-label="{{ collection.settings.block_cta_label }}">{{ collection.settings.block_cta_label }}</a>
            </div>
            {% endif %}
        </div>
        {%- endif -%}

        {%- if collection.type == 'image'-%}
        <!-- Layout 3 -->
        <div class="jewellary-collection-row jewellary-collection-layout-3">
            <div class="jewellary-collection-header mb-image-bottom">
                <div class="content_holder">
                    {% if collection.settings.block_heading != blank %}
                    <h2>{{ collection.settings.block_heading }}</h2>
                    {% else %}
                    <h2>{{ mainCollection.title }}</h2>
                    {% endif %}

                    {% if collection.settings.block_desc != blank %}
                    <div class="scl-desc">{{ collection.settings.block_desc }}</div>
                    {% else %}
                    {{ mainCollection.description }}
                    {% endif %}
                </div>

                {% if collection.settings.block_3_image_first_mobile != blank %}
                <div class="mobile_featured_image cc desktop_hide">
                    <img class="lazyload " data-src="{{collection.settings.block_3_image_first_mobile | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                </div>
                {% endif %}
            </div>
            {%- assign subs = linklists[collection_name].links -%}
            {%- if subs != blank -%}
            <!-- For Desktop -->
            <div class="jewellary-collection-grid hide_mobile">
                <div class="jewellary-collection-block has_featured_imagein_block">

                    <div class="jewellary-collection-card has_only_image_small hide_mobile">
                        <div class="image_holder">
                            {% if collection.settings.block_3_image_first_mobile != blank %}
                            <a href="{{ mainCollection.url }}">
                                <img class="lazyload {% if collection.settings.block_3_image_first_mobile != blank %}mobile_hide{% endif %}" data-src="{{ collection.settings.block_3_image_first | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                            </a>
                            {% else %}
                            <a href="{{ mainCollection.url }}">
                                <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                            </a>
                            {% endif %}
                        </div>
                    </div>

                    {% for sub in subs limit: 1 %}
                    {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                    {% if sub.title != blank %}
                    <div class="jewellary-collection-card">
                        <a class="full_link" href="{{ sub.url }}"></a>
                        <div class="image_holder">
                            {% if collections[subitem_handle].image %}
                                <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                            {% endif %}
                        </div>
                        
                        <div class="content_holder">
                            <div class="title">{{ sub.title }}</div>
                            <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>

                <div class="jewellary-collection-block">
                    {% for sub in subs limit: 2 offset: continue %}
                    {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                    {% if sub.title != blank %}
                    <div class="jewellary-collection-card">
                        <a class="full_link" href="{{ sub.url }}"></a>
                        <div class="image_holder">
                            {% if collections[subitem_handle].image %}
                                <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                            {% endif %}
                        </div>
                        <div class="content_holder">
                            <div class="title">{{ sub.title }}</div>
                            <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>
                
                <div class="jewellary-collection-block big_column">
                    
                    {% for sub in subs limit: 1 offset: continue %}
                    {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                    {% if sub.title != blank %}
                    <div class="jewellary-collection-card">
                        <a class="full_link" href="{{ sub.url }}"></a>
                        <div class="image_holder">
                           {% if collections[subitem_handle].image %}
                               <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                           {% endif %}
                        </div>

                        <div class="content_holder">
                            <div class="title">{{ sub.title }}</div>
                            <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 

                    <div class="jewellary-collection-card has_only_image">
                        <div class="image_holder">
                            {% if collection.settings.block_3_image %}
                            {%- if collection.settings.block_3_image_link !=blank -%}
                            <a href="{{ collection.settings.block_3_image_link }}">
                                <img class="lazyload {% if collection.settings.block_3_image_mobile != blank %} mobile_hide{% endif %}" data-src="{{ collection.settings.block_3_image | img_url: 'master' }}" alt="{{ sub.title }}">
                                {% if collection.settings.block_3_image_mobile != blank %}<img class="lazyload desktop_hide" data-src="{{ collection.settings.block_3_image_mobile | img_url: 'master' }}" alt="{{ sub.title }}">{% endif %}
                            </a>
                            {%- else -%}
                            <a href="{{ mainCollection.url }}">
                                <img class="lazyload" data-src="{{ collection.settings.block_3_image | img_url: 'master' }}" alt="{{ sub.title }}">
                            </a>
                            {%- endif -%}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- For Mobile -->
            <div class="jewellary-collection-grid show_mobile">
                <div class="jewellary-collection-block">
                    {% for sub in subs limit: 2 %}
                    {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                    {% assign collectionMobileImage = collections[subitem_handle].metafields.global.collection_mobile_image %}
                    {% if sub.title != blank %}
                    <div class="jewellary-collection-card">
                        <a class="full_link" href="{{ sub.url }}"></a>
                        <div class="image_holder">
                            {% if collections[subitem_handle].image %}
                                {% if collectionMobileImage != blank %}
                                    <img class="lazyload" data-src="{{ collectionMobileImage }}" alt="{{ sub.title }}"/>
                                {% else %}
                                    <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                                {% endif %}
                            {% endif %}
                        </div>
                        
                        <div class="content_holder">
                            <div class="title">{{ sub.title }}</div>
                            <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>

                <div class="jewellary-collection-block">
                    {% for sub in subs limit: 2 offset: continue %}
                    {% assign subitem_handle = sub.url | handleize  | replace: 'collections-', '' %}
                    {% assign collectionMobileImage = collections[subitem_handle].metafields.global.collection_mobile_image %}
                    {% if sub.title != blank %}
                    <div class="jewellary-collection-card">
                        <a class="full_link" href="{{ sub.url }}"></a>
                        <div class="image_holder">
                            {% if collections[subitem_handle].image %}
                                {% if collectionMobileImage != blank %}
                                  <img class="lazyload" data-src="{{ collectionMobileImage }}" alt="{{ sub.title }}"/>
                                {% else %}
                                  <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ sub.title }}">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="content_holder">
                            <div class="title">{{ sub.title }}</div>
                            <a class="more_btn" href="{{ sub.url }}"><span class="hide_mobile">DISCOVER MORE</span><span class="show_mobile">EXPLORE</span></a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>
                
                <div class="jewellary-collection-block big_column">
                    <div class="jewellary-collection-card has_only_image">
                        <div class="image_holder">
                            {% if collection.settings.block_3_image %}
                            {%- if collection.settings.block_3_image_link !=blank -%}
                            <a href="{{ collection.settings.block_3_image_link }}">
                                <img class="lazyload" data-src="{{ collection.settings.block_3_image | img_url: 'master' }}" alt="{{ sub.title }}">
                            </a>
                            {%- else -%}
                            <a href="{{ mainCollection.url }}">
                                <img class="lazyload" data-src="{{ collection.settings.block_3_image | img_url: 'master' }}" alt="{{ sub.title }}">
                            </a>
                            {%- endif -%}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {%- endif -%}
            
            {%- if mainCollection.title != blank -%}
            <div class="jewellary-collection-btn-holder text-center">
                <a href="{{ mainCollection.url }}" class="glb-btn">EXPLORE {{ mainCollection.title }}</a>
            </div>
            {%- endif -%}
            {% if collection.settings.block_cta_link != blank and collection.settings.block_cta_label != blank  %}
            <div class="scl-collection-link">
            <a class="glb-btn" href="{{ collection.settings.block_cta_link }}" aria-label="{{ collection.settings.block_cta_label }}">{{ collection.settings.block_cta_label }}</a>
            </div>
            {% endif %}
        </div>
        {%- endif -%}

        {% endfor %}
    </div>
</div>

{% schema %}
  {
    "name": "Jewellery Collection",
    "settings": [
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Layout 1",
            "settings": [
                {
                    "type":"text",
                    "id":"block_heading",
                    "label":"Section heading"
                },
                {
                    "type":"richtext",
                    "id":"block_desc",
                    "label":"Section description"
                },
                {
                    "type":"text",
                    "id":"block_cta_label",
                    "label":"Section link"
                },
                {
                    "type":"url",
                    "id":"block_cta_link",
                    "label":"Section link"
                },
                {
                    "type": "link_list",
                    "label": "Select Menu",
                    "id": "select_menu"
                },
                {
                    "type": "image_picker",
                    "label": "Featured Image (Desktop)",
                    "id": "featured_image"
                },
                {
                    "type": "image_picker",
                    "label": "Featured Image (Mobile)",
                    "id": "featured_image_mobile"
                },
                {
                    "type": "url",
                    "label": "Featured Image Link",
                    "id": "featured_image_link"
                }
            ]
        },
        {
            "type": "text",
            "name": "Layout 2",
            "settings": [
                {
                    "type":"text",
                    "id":"block_heading",
                    "label":"Section heading"
                },
                {
                    "type":"richtext",
                    "id":"block_desc",
                    "label":"Section description"
                },
                {
                    "type":"text",
                    "id":"block_cta_label",
                    "label":"Section link"
                },
                {
                    "type":"url",
                    "id":"block_cta_link",
                    "label":"Section link"
                },
                {
                    "type": "link_list",
                    "label": "Select Menu",
                    "id": "select_menu"
                },
                {
                    "type": "image_picker",
                    "label": "Featured Image (Desktop)",
                    "id": "featured_image"
                },
                {
                    "type": "image_picker",
                    "label": "Featured Image (Mobile)",
                    "id": "featured_image_mobile"
                },
                {
                    "type": "url",
                    "label": "Featured Image Link",
                    "id": "featured_image_link"
                }
            ]
        },
        {
            "type": "image",
            "name": "Layout 3",
            "settings": [
                {
                    "type":"text",
                    "id":"block_heading",
                    "label":"Section heading"
                },
                {
                    "type":"richtext",
                    "id":"block_desc",
                    "label":"Section description"
                },
                {
                    "type":"text",
                    "id":"block_cta_label",
                    "label":"Section link"
                },
                {
                    "type":"url",
                    "id":"block_cta_link",
                    "label":"Section link"
                },
                {
                    "type": "link_list",
                    "label": "Select Menu",
                    "id": "select_menu"
                },
                {
                    "type": "image_picker",
                    "label": "Block 3 First Image (Desktop)",
                    "id": "block_3_image_first"
                },
                {
                    "type": "image_picker",
                    "label": "Featured First Image (Mobile)",
                    "id": "block_3_image_first_mobile"
                },
                {
                    "type": "image_picker",
                    "label": "Block 3 Image (Desktop)",
                    "id": "block_3_image"
                },
                {
                    "type": "image_picker",
                    "label": "Featured Image (Mobile)",
                    "id": "block_3_image_mobile"
                },
                {
                    "type": "url",
                    "label": "Block 3 Image Link",
                    "id": "block_3_image_link"
                }
            ]
        }
    ]
  }
{% endschema %}