

<div class="jewellary-collection-wrapper">
    <div class="dia-container">
        {% for collection in section.blocks %}
        {% assign collection_name = collection.settings.select_menu | handle %}
        {% assign mainCollection = collections[collection_name] %}
        
        {%- if collection.type == 'collection'-%}
        <!-- Layout 1 -->
        <div class="jewellary-collection-row jewellary-collection-layout-1">
            <div class="jewellary-collection-header">
                {% if mainCollection.image %}
                <div class="show_mobile mobile_featured_image">
                    <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                </div>
                {% endif %}
                {%- if mainCollection.title != blank or mainCollection.description != blank -%}
                <div class="content_holder">
                    {%- if mainCollection.title != blank -%}<h2>{{ mainCollection.title }}</h2>{%- endif -%}
                    {%- if mainCollection.description != blank -%}{{ mainCollection.description }}{%- endif -%}
                </div>
                {% endif %}
            </div>
            {%- assign subs = linklists[collection_name].links -%}
            {%- if subs != blank -%}
            <div class="jewellary-collection-grid">
                <div class="jewellary-collection-block">
                    {% for sub in subs limit: 2 %}
                    {% assign subitem_handle = sub.title | handle %}
                    
                   
                    {% if collections[subitem_handle].title != blank %}
                    <div class="jewellary-collection-card">
                        {% if collections[subitem_handle].image %}
                        <div class="image_holder">
                            <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                        </div>
                        {% endif %}
                        <div class="content_holder">
                            <div class="title">{{ collections[subitem_handle].title }}</div>
                            <a class="more_btn" href="{{ collections[subitem_handle].url }}">DISCOVER MORE</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>

                <div class="jewellary-collection-block big_column">
                    <div class="jewellary-collection-card has_only_image hide_mobile">
                        <div class="image_holder">
                            {% if mainCollection.image %}
                            <a href="{{ mainCollection.url }}">
                                <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% for sub in subs limit: 1 offset: continue %}
                    {% assign subitem_handle = sub.title | handle %}
                    {% if collections[subitem_handle].title != blank %}
                    <div class="jewellary-collection-card">
                        {% if collections[subitem_handle].image %}
                        <div class="image_holder">
                            <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                        </div>
                        {% endif %}

                        <div class="content_holder">
                            <div class="title">{{ collections[subitem_handle].title }}</div>
                            <a class="more_btn" href="{{ collections[subitem_handle].url }}">DISCOVER MORE</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>

                <div class="jewellary-collection-block">
                    {% for sub in subs limit: 2 offset: continue %}
                    {% assign subitem_handle = sub.title | handle %}
                    {% if collections[subitem_handle].title != blank %}
                    <div class="jewellary-collection-card">
                        {% if collections[subitem_handle].image %}
                        <div class="image_holder">
                            <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                        </div>
                        {% endif %}
                        <div class="content_holder">
                            <div class="title">{{ collections[subitem_handle].title }}</div>
                            <a class="more_btn" href="{{ collections[subitem_handle].url }}">DISCOVER MORE</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>

            </div>
            {%- endif -%}

            {%- if mainCollection.title != blank -%}
            <div class="jewellary-collection-btn-holder text-center">
                <a href="{{ mainCollection.url }}" class="glb-btn">EXPLORE {{ mainCollection.title }}</a>
            </div>
            {%- endif -%}
        </div>
        {%- endif -%}

        {%- if collection.type == 'text'-%}
        <!-- Layout 2 -->
        <div class="jewellary-collection-row jewellary-collection-layout-2">
            <div class="jewellary-collection-header mb-image-bottom">
                {%- if mainCollection.title != blank or mainCollection.description != blank -%}
                <div class="content_holder">
                    {%- if mainCollection.title != blank -%}<h2>{{ mainCollection.title }}</h2>{%- endif -%}
                    {%- if mainCollection.description != blank -%}{{ mainCollection.description }}{%- endif -%}
                </div>
                {% endif %}
                {% if mainCollection.image %}
                <div class="show_mobile mobile_featured_image">
                    <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                </div>
                {% endif %}
            </div>
            {%- assign subs = linklists[collection_name].links -%}
            {%- if subs != blank -%}
             <div class="jewellary-collection-grid">
 
                 <div class="jewellary-collection-block big_column">
                     <div class="jewellary-collection-card has_only_image hide_mobile">
                         <div class="image_holder">
                             {% if mainCollection.image %}
                             <a href="{{ mainCollection.url }}">
                                 <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                             </a>
                             {% endif %}
                         </div>
                     </div>
                     {% for sub in subs limit: 1 %}
                     {% assign subitem_handle = sub.title | handle %}
                     {% if collections[subitem_handle].title != blank %}
                     <div class="jewellary-collection-card">
                         {% if collections[subitem_handle].image %}
                         <div class="image_holder">
                             <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                         </div>
                         {% endif %}
 
                         <div class="content_holder">
                             <div class="title">{{ collections[subitem_handle].title }}</div>
                             <a class="more_btn" href="{{ collections[subitem_handle].url }}">DISCOVER MORE</a>
                         </div>
                     </div>
                     {% endif %}
                     {% endfor %} 
                 </div>
 
                 <div class="jewellary-collection-block">
                     {% for sub in subs limit: 2 offset: continue %}
                     {% assign subitem_handle = sub.title | handle %}
                     {% if collections[subitem_handle].title != blank %}
                     <div class="jewellary-collection-card">
                         {% if collections[subitem_handle].image %}
                         <div class="image_holder">
                             <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                         </div>
                         {% endif %}
                         
                         <div class="content_holder">
                             <div class="title">{{ collections[subitem_handle].title }}</div>
                             <a class="more_btn" href="{{ collections[subitem_handle].url }}">DISCOVER MORE</a>
                         </div>
                     </div>
                     {% endif %}
                     {% endfor %} 
                 </div>
 
                 <div class="jewellary-collection-block">
                     {% for sub in subs limit: 2 offset: continue %}
                     {% assign subitem_handle = sub.title | handle %}
                     {% if collections[subitem_handle].title != blank %}
                     <div class="jewellary-collection-card">
                         {% if collections[subitem_handle].image %}
                         <div class="image_holder">
                             <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                         </div>
                         {% endif %}
                         <div class="content_holder">
                             <div class="title">{{ collections[subitem_handle].title }}</div>
                             <a class="more_btn" href="{{ collections[subitem_handle].url }}">DISCOVER MORE</a>
                         </div>
                     </div>
                     {% endif %}
                     {% endfor %} 
                 </div>
 
             </div>
             {%- endif -%}
            {%- if mainCollection.title != blank -%}
            <div class="jewellary-collection-btn-holder text-center">
                <a href="{{ mainCollection.url }}" class="glb-btn">EXPLORE {{ mainCollection.title }}</a>
            </div>
            {%- endif -%}
        </div>
        {%- endif -%}

        {%- if collection.type == 'image'-%}
        <!-- Layout 3 -->
        <div class="jewellary-collection-row jewellary-collection-layout-3">
            <div class="jewellary-collection-header mb-image-bottom">
                {%- if mainCollection.title != blank or mainCollection.description != blank -%}
                <div class="content_holder">
                    {%- if mainCollection.title != blank -%}<h2>{{ mainCollection.title }}</h2>{%- endif -%}
                    {%- if mainCollection.description != blank -%}{{ mainCollection.description }}{%- endif -%}
                </div>
                {% endif %}
                {% if mainCollection.image %}
                <div class="show_mobile mobile_featured_image">
                    <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                </div>
                {% endif %}
            </div>
            {%- assign subs = linklists[collection_name].links -%}
            {%- if subs != blank -%}
            <div class="jewellary-collection-grid">
                <div class="jewellary-collection-block has_featured_imagein_block">

                    <div class="jewellary-collection-card has_only_image_small hide_mobile">
                        <div class="image_holder">
                            {% if mainCollection.image %}
                            <a href="{{ mainCollection.url }}">
                                <img class="lazyload" data-src="{{ mainCollection.image | img_url: 'master' }}" alt="{{ mainCollection.title }}">
                            </a>
                            {% endif %}
                        </div>
                    </div>

                    {% for sub in subs limit: 1 %}
                    {% assign subitem_handle = sub.title | handle %}
                    {% if collections[subitem_handle].title != blank %}
                    <div class="jewellary-collection-card">
                        {% if collections[subitem_handle].image %}
                        <div class="image_holder">
                            <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                        </div>
                        {% endif %}
                        
                        <div class="content_holder">
                            <div class="title">{{ collections[subitem_handle].title }}</div>
                            <a class="more_btn" href="{{ collections[subitem_handle].url }}">DISCOVER MORE</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>

                <div class="jewellary-collection-block">
                    {% for sub in subs limit: 2 offset: continue %}
                    {% assign subitem_handle = sub.title | handle %}
                    {% if collections[subitem_handle].title != blank %}
                    <div class="jewellary-collection-card">
                        {% if collections[subitem_handle].image %}
                        <div class="image_holder">
                            <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                        </div>
                        {% endif %}
                        <div class="content_holder">
                            <div class="title">{{ collections[subitem_handle].title }}</div>
                            <a class="more_btn" href="{{ collections[subitem_handle].url }}">DISCOVER MORE</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>
                
                <div class="jewellary-collection-block big_column">
                    
                    {% for sub in subs limit: 1 offset: continue %}
                    {% assign subitem_handle = sub.title | handle %}
                    {% if collections[subitem_handle].title != blank %}
                    <div class="jewellary-collection-card">
                        {% if collections[subitem_handle].image %}
                        <div class="image_holder">
                            <img class="lazyload" data-src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                        </div>
                        {% endif %}

                        <div class="content_holder">
                            <div class="title">{{ collections[subitem_handle].title }}</div>
                            <a class="more_btn" href="{{ collections[subitem_handle].url }}">DISCOVER MORE</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 

                    <div class="jewellary-collection-card has_only_image">
                        <div class="image_holder">
                            {% if collection.settings.block_3_image %}
                            {%- if collection.settings.block_3_image_link !=blank -%}
                            <a href="{{ collection.settings.block_3_image_link }}">
                                <img class="lazyload" data-src="{{ collection.settings.block_3_image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                            </a>
                            {%- else -%}
                            <a href="{{ mainCollection.url }}">
                                <img class="lazyload" data-src="{{ collection.settings.block_3_image | img_url: 'master' }}" alt="{{ collections[subitem_handle].title }}">
                            </a>
                            {%- endif -%}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {%- endif -%}
            {%- if mainCollection.title != blank -%}
            <div class="jewellary-collection-btn-holder text-center">
                <a href="{{ mainCollection.url }}" class="glb-btn">EXPLORE {{ mainCollection.title }}</a>
            </div>
            {%- endif -%}
        </div>
        {%- endif -%}

        {% endfor %}
    </div>
</div>

{% schema %}
  {
    "name": "Jewellery Collection",
    "settings": [
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Layout 1",
            "settings": [
                {
                    "type": "link_list",
                    "label": "Select Menu",
                    "id": "select_menu"
                }
            ]
        },
        {
            "type": "text",
            "name": "Layout 2",
            "settings": [
                {
                    "type": "link_list",
                    "label": "Select Menu",
                    "id": "select_menu"
                }
            ]
        },
        {
            "type": "image",
            "name": "Layout 3",
            "settings": [
                {
                    "type": "link_list",
                    "label": "Select Menu",
                    "id": "select_menu"
                },
                {
                    "type": "image_picker",
                    "label": "Block 3 Image",
                    "id": "block_3_image"
                },
                {
                    "type": "url",
                    "label": "Block 3 Image Link",
                    "id": "block_3_image_link"
                }
            ]
        }
    ]
  }
{% endschema %}