{% assign landingBanner = section.settings.landing_image %}
{% assign landingBannerWide = section.settings.landing_image_ls %}
{% assign landingBannerMobile = section.settings.landing_image_mobile %}
{% assign bannerToptext = section.settings.landing_text_top %}
{% assign bannerBottomtext = section.settings.landing_text_bottom %}
<div id="main-landing-page">
    <div class="main-landing-page-container">
        <div class="landing-banner">           

           {% comment %} 
            <!-- <img data-src="{{ landingBanner | img_url: 'master'}}" alt="" class="lazyload hide_mobile"/> -->
           <img class="lazyload hide_mobile"
            src="{{ landingBanner | img_url: 'master'}}"
            data-src="{{ img_url }}"
            data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="{{ landingBanner.aspect_ratio }}"
            data-sizes="auto"
            data-parent-fit="cover"
            alt="{{ landingBanner.alt | escape }}">
            {% endcomment %}

            <picture class="lazyload hide_mobile">
                <source media="(min-width: 1921px)" srcset="{{ landingBannerWide | img_url: 'master'}}">
                <source media="(min-width: 1440px)" srcset="{{ landingBanner | img_url: '1440x'}}">
                <source media="(min-width: 750px)" srcset="{{ landingBanner | img_url: '1200x'}}">
                <img src="{{ landingBanner | img_url: '1440x'}}" alt="{{ landingBanner.alt }}">
            </picture>
            {% if landingBannerMobile %}
            <img data-src="{{ landingBannerMobile | img_url: 'master'}}" alt="" class="lazyload show_mobile"/>
            {% else %}
            <img data-src="{{ landingBanner | img_url: '750x'}}" alt="" class="lazyload show_mobile"/>
            {% endif %}
        </div>
        <div class="landing-content">
            <div class="landing-top-content landing-content-item">
                <div class="landing-logo-holder">
                    <div class="landing-logo">
                        {%- assign landinLogoDesktop = 'Final_D_LP_Logo.svg' | file_url -%}
                        {%- assign landinLogoMobile = 'Final_M_LP_Logo.svg' | file_url -%}
                        <img data-src="{{ landinLogoDesktop }}" alt="diamond2" class="lazyload hide_mobile" />
                        <img src="{{ landinLogoMobile }}" alt="diamond2" class="lazyload show_mobile" />
                    </div>
                </div>
                {% if bannerToptext != blank %}
                <div class="landing-top-content-item">{{ bannerToptext }}</div>
                {% endif %}
            </div>
            <div class="landing-bottom-content landing-content-item">
                <div class="landing-page-button">
                    <a href="javascript:void(0);" class="landing-btn discover-btn remove_landing_cookie"><span class="btn_text">Discover</span></a>
                </div>
                {% if bannerBottomtext != blank %}
                    <div class="landing-bottom-content-item">{{ bannerBottomtext }}</div>    
                {% endif %}  
                <div class="remove_landing_cookie">
                    {% include 'langing-button-arrow' %}      
                </div>        
            </div>
        </div>
    </div>    
</div>

<!-- Cookies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        if(sessionStorage.getItem("landingSession") == null){
            $('#shopify-section-landing').slideDown();
            $('body').addClass('landing-exist landing-scroll-stop');
        }
        var lastScrollTop = 0;
        $(window).on('scroll', function(){    
            if($('body').hasClass('landing-scroll-stop')){ 
                    $('body').removeClass('landing-scroll-stop'); 
                    $('html, body').animate({scrollTop:0}, '800');   
                }                   
            let windowScrolled = $(window).scrollTop();
            $('body').addClass('scroll-start');
            if(windowScrolled > 10){                                
                sessionStorage.setItem("landingSession", "2");
               
                setTimeout(function(){
                    $('#shopify-section-landing').remove();
                    $('body').removeClass('scroll-start landing-exist');
                },2000)
            }
        });
        function removeSession() {
            $('body').addClass('scroll-start');
            sessionStorage.setItem("landingSession", "2");
            setTimeout(function(){
                $('#shopify-section-landing').remove();
                $('body').removeClass('scroll-start landing-exist');
            },1000)
        }
        $('.remove_landing_cookie').click(function(e){
            e.preventDefault();
            removeSession();
        });

    });
</script>
{% schema %}
{
    "name": "Landing Page",
    "class": "landing-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "landing_image",
            "label": "Select Image"
        },
        {
            "type": "image_picker",
            "id": "landing_image_ls",
            "label": "Select Image for wide screen"
        },
        {
            "type": "image_picker",
            "id": "landing_image_mobile",
            "label": "Select Image For Mobile"
        },
        {
            "type": "richtext",
            "id": "landing_text_top",
            "label": "Top content"
        },
        {
            "type": "text",
            "id": "landing_text_bottom",
            "label": "Bottom content",
            "default": "enter <br> the world beyond the diamond"
        }
    ]
}
{% endschema %}