{% assign landingBanner = section.settings.landing_image %}
{% assign landingBannerMobile = section.settings.landing_image_mobile %}
{% assign bannerToptext = section.settings.landing_text_top %}
{% assign bannerBottomtext = section.settings.landing_text_bottom %}
<div id="main-landing-page">
    <div class="main-landing-page-container">
        <div class="landing-banner">
            <img data-src="{{ landingBanner | img_url: 'master'}}" alt="" class="lazyload hide_mobile"/>
            {% if landingBannerMobile %}
            <img data-src="{{ landingBannerMobile | img_url: 'master'}}" alt="" class="lazyload show_mobile"/>
            {% else %}
            <img data-src="{{ landingBanner | img_url: 'master'}}" alt="" class="lazyload show_mobile"/>
            {% endif %}
        </div>
        <div class="landing-content">
            <div class="landing-top-content landing-content-item">
                <div class="landing-logo-holder">
                    <div class="landing-logo">
                        {%- assign landinLogoDesktop = 'Diamond2-Landing-Logo.svg' | file_url -%}
                        {%- assign landinLogoMobile = 'Diamond2-Landing-Logo-Mobile.svg' | file_url -%}
                        <img data-src="{{ landinLogoDesktop }}" alt="diamond2" class="lazyload hide_mobile" />
                        <img src="{{ landinLogoMobile }}" alt="diamond2" class="lazyload show_mobile" />
                    </div>
                </div>
                {% if bannerToptext != blank %}
                <div class="landing-top-content-item">{{ bannerToptext }}</div>
                {% endif %}
            </div>
            <div class="landing-bottom-content landing-content-item">
                <div class="landing-page-button">
                    <a href="javascript:void(0);" class="landing-btn discover-btn remove_landing_cookie"><span class="btn_text">Discover</span></a>
                </div>
                {% if bannerBottomtext != blank %}
                    <div class="landing-bottom-content-item">{{ bannerBottomtext }}</div>    
                {% endif %}  
                <div class="remove_landing_cookie">
                    {% include 'langing-button-arrow' %}      
                </div>        
            </div>
        </div>
    </div>    
</div>

<!-- Cookies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        // if($.cookie('landingpage') == null) {
        // //   $('body').prepend('<div id="landing-illusion"></div>');
        //   $('#shopify-section-landing').slideDown();
        //   $('body').addClass('landing-exist');
          
        // }
        // var lastScrollTop = 0;
        // $(window).on('scroll', function(){            
        //     let windowScrolled = $(window).scrollTop(); console.log(windowScrolled);
        //     if(windowScrolled > 10){
        //         $('body').addClass('scroll-start');
        //         $.cookie('landingpage',2);
        //         setTimeout(function(){
        //             $('#shopify-section-landing').remove();
        //             $('body').removeClass('scroll-start landing-exist');
        //         },2000)
        //     }
        // });

        // function removeCookies() {
        //     $('body').addClass('scroll-start');
        //     $.cookie('landingpage',2);
        //     setTimeout(function(){
        //         $('#shopify-section-landing').remove();
        //         $('body').removeClass('scroll-start landing-exist');
        //     },2000)
        // }
        // $('.remove_landing_cookie').click(function(e){
        //     e.preventDefault();
        //     removeCookies();
        // });

        if(sessionStorage.getItem("landingSession") == null){
            $('#shopify-section-landing').slideDown();
            $('body').addClass('landing-exist');
        }
        var lastScrollTop = 0;
        $(window).on('scroll', function(){            
            let windowScrolled = $(window).scrollTop();
            $('body').addClass('scroll-start');
            if(windowScrolled > 10){
                sessionStorage.setItem("landingSession", "2");
                setTimeout(function(){
                    $('#shopify-section-landing').remove();
                    $('body').removeClass('scroll-start landing-exist');
                },2000)
            }
        });
        function removeSession() {
            $('body').addClass('scroll-start');
            sessionStorage.setItem("landingSession", "2");
            setTimeout(function(){
                $('#shopify-section-landing').remove();
                $('body').removeClass('scroll-start landing-exist');
            },2000)
        }
        $('.remove_landing_cookie').click(function(e){
            e.preventDefault();
            removeSession();
        });

    });
</script>
{% schema %}
{
    "name": "Landing Page",
    "class": "landing-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "landing_image",
            "label": "Select Image"
        },
        {
            "type": "image_picker",
            "id": "landing_image_mobile",
            "label": "Select Image For Mobile"
        },
        {
            "type": "richtext",
            "id": "landing_text_top",
            "label": "Top content"
        },
        {
            "type": "text",
            "id": "landing_text_bottom",
            "label": "Bottom content",
            "default": "enter <br> the world beyond the diamond"
        }
    ]
}
{% endschema %}