{% assign landingBanner = section.settings.landing_image %}
{% assign landingBannerMobile = section.settings.landing_image_mobile %}
{% assign bannerToptext = section.settings.landing_text_top %}
{% assign bannerBottomtext = section.settings.landing_text_bottom %}
<div id="main-landing-page">
    <div class="main-landing-page-container">
        <div class="landing-banner">
            <img data-src="{{ landingBanner | img_url: 'master'}}" alt="" class="lazyload hide_mobile"/>
            {% if landingBannerMobile %}
            <img data-src="{{ landingBannerMobile | img_url: 'master'}}" alt="" class="lazyload show_mobile"/>
            {% else %}
            <img data-src="{{ landingBanner | img_url: 'master'}}" alt="" class="lazyload show_mobile"/>
            {% endif %}
          
        </div>
        <div class="landing-content">
            <div class="landing-top-content landing-content-item">
                <div class="landing-logo-holder">
                    <span class="logo-top-text">introducing</span>
                    <div class="landing-small-logo">
                        <img data-src="{{ 'diamond2-small-logo-white.png' |  asset_url }}" alt="diamond2" class="lazyload" />
                    </div>
                    <div class="landing-main-logo">
                        <img data-src="{{ 'diamond2-logo-2.png' |  asset_url }}" alt="diamond2" class="lazyload hide_mobile" />
                        <img data-src="{{ 'Diamond2_Logo_white_mobile.png' |  asset_url }}" alt="diamond2" class="lazyload show_mobile" />
                    </div>
                    <span class="logo-bottom-text"><span>a</span>  <span>patented</span>  <span>laB-grown</span>  <span>gem</span></span>
                </div>
                {% if bannerToptext != blank %}
                <div class="landing-top-content-item">{{ bannerToptext }}</div>
                {% endif %}
            </div>
            <div class="landing-bottom-content landing-content-item">
                <div class="landing-page-button">
                    <a href="javascript:void(0);" class="landing-btn discover-btn"><span class="btn_text">Discover</span>{% include 'langing-button-arrow' %}</a>
                </div>
                {% if bannerBottomtext != blank %}
                    <div class="landing-bottom-content-item">{{ bannerBottomtext }}</div>    
                {% endif %}                
            </div>
        </div>
    </div>    
</div>

<!-- Cookies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        if($.cookie('landingpage') == null) {
          $('#shopify-section-landing').show();
          $('body').addClass('overflow-hidden');
        }
        $(document).on('click', '.discover-btn', function(){
            $('body').removeClass('overflow-hidden');
            $('#shopify-section-landing').remove();
            $.cookie('landingpage',2)
        });
        
    });
</script>

{% schema %}
{
    "name": "Landing Page",
    "class": "landing-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "landing_image",
            "label": "Select Image"
        },
        {
            "type": "image_picker",
            "id": "landing_image_mobile",
            "label": "Select Image For Mobile"
        },
        {
            "type": "richtext",
            "id": "landing_text_top",
            "label": "Top content"
        },
        {
            "type": "text",
            "id": "landing_text_bottom",
            "label": "Bottom content",
            "default": "enter <br> the world beyond the diamond"
        }
    ]
}
{% endschema %}