
<div class="sld-{{ section.id }} home-sld">
    <div class="shop-loose-diamond2-slider-wrapper">
        <div class="dia-container">
            {%- if section.settings.heading != blank or section.settings.content != blank  -%}
            <div class="shop-loose-diamond2-slider-top-row">
                {%- if section.settings.heading != blank -%}<h2>{{ section.settings.heading }}</h2>{%- endif -%}
                {%- if section.settings.content != blank -%}
                <div class="shop-loose-diamond2-slider-top-des">{{ section.settings.content }}</div>
                {%- endif -%}
            </div>
            {%- endif -%}
            {%- if section.blocks.size > 0 -%}
            <div class="shop-loose-diamond2-slider">
                {%- for slide in section.blocks -%}
                {%- if slide.settings.slide_image != blank or slide.settings.image_title != blank -%}
                <div class="shop-loose-diamond2-slide">
                    <div class="shop-loose-diamond2-slide-inner">
                        <a href="{{ slide.settings.slide_link }}">
                            {%- if slide.settings.slide_image != blank -%}
                            <div class="img_holder">
                                <img data-src="{{ slide.settings.slide_image | img_url: 'master' }}" class="hide_mobile lazyload">
                                {% if slide.settings.slide_image_mobile !=blank  %}
                                <img data-src="{{ slide.settings.slide_image_mobile | img_url: 'master' }}" class="show_mobile lazyload">
                                {% else %}
                                <img data-src="{{ slide.settings.slide_image | img_url: 'master' }}" class="show_mobile lazyload">
                                {% endif %}
                            </div>
                            {%- endif -%}
                            {%- if slide.settings.image_title != blank -%}<div class="caption_holder">{{ slide.settings.image_title }}</div>{%- endif -%}
                        </a>
                    </div>
                </div>
                {%- endif -%}
                {%- endfor -%}
            </div>
            {%- endif -%}
            {%- if section.settings.button_text != blank -%}
            <div class="sld-collection-link">
                <a class="custom-link glb-btn" href="{{ section.settings.button_link }}" aria-label="{{ section.settings.button_text }}">{{ section.settings.button_text }}</a>
            </div>
            {%- endif -%}

        </div>
    </div>
</div>

<script>
    $(".shop-loose-diamond2-slider").slick({
        dots: false,
        slidesToShow: 6,
        slidesToScroll: 1,
        infinite: false,
        responsive: [
            {
                breakpoint: 991,
                settings: {
                slidesToShow: 4,
                slidesToScroll: 1,
                dots: false
                }
            },
            {
                breakpoint: 749,
                settings: {
                slidesToShow: 4,
                slidesToScroll: 1
                }
            }
        ]
    });
</script>


{% schema %}
  {
    "name": "Shop Loose Diamond",
    "settings": [
        {
            "type": "header",
            "content": "Slider Settings"
        },
    	{
    		"type": "text",
    		"label": "Heading",
    		"id": "heading",
    		"default": "TRUST FOR LIFE"
    	},
    	{
    		"type": "html",
    		"label": "Content",
    		"id": "content",
    		"default": "<p>It’s all about trust and Diamond2 takes a pride to offer a limited lifetime warranty to our precious customers so they can enjoy our quality products with least worry. </p>"
    	},
        {
    		"type": "text",
    		"label": "Button Text",
    		"id": "button_text",
    		"default": "EXPLORE DIAMOND2  GEMSTONES BY CUT >"
    	},
        {
    		"type": "url",
    		"label": "Button Link",
    		"id": "button_link"
    	}
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Image",
                    "id": "slide_image"
                },
                {
                    "type": "image_picker",
                    "label": "Image (Mobile)",
                    "id": "slide_image_mobile"
                },
                {
                    "type": "text",
                    "label": "Image Title",
                    "id": "image_title"
                },
                {
                    "type": "url",
                    "label": "Link",
                    "id": "slide_link"
                }
            ]
        }
    ]
  }
{% endschema %}