
{% assign sliderImages = collection.metafields.bannerData.banner_slider_images %}
{% if sliderImages.size > 0 %}

<!-- DO Not style With 'top_banner' Class -->
<div class="full_width_slider_wrapper solitaire-banner-slider-wrapper top_banner">
    <div class="full_width_slider">
        {% for item in sliderImages %}
        {%- if item !=blank -%}
        <div class="full_width_slide_item slide--{{ forloop.index }}">
            <div class="full_width_slider_image_holder {% if item.mobileImage !=blank %}hide_mobile{% endif %}">
                <img data-src="{{ item.image }}" class="lazyload"  alt="{{ collection.title }}" />
            </div> 
            {% if item.mobileImage !=blank %}
            <div class="full_width_slider_image_holder show_mobile">
                <img data-src="{{ item.mobileImage }}" class="lazyload"  alt="{{ collection.title }}" />
            </div>   
            {% endif %}
        </div>
        {%- endif -%}   
        {% endfor %}
    </div>
</div>
{% endif %}



{% schema %}
{
    "name": "Solitaire Banner Slider",
    "class": "top_banner_section",
    "settings": []
}
{% endschema %} 