{% case section.settings.grid %}
  {% when 2 %}
    {%- assign max_height = 530 -%}
  {% when 3 %}
    {%- assign max_height = 345 -%}
  {% when 4 %}
    {%- assign max_height = 250 -%}
  {% when 5 %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template" class="solitaire-collection-wrapper">
  <header class="collection-header" data-limit="{{ limit }}">
    {%- assign is_filter_by_available = false -%}
    {%- if section.settings.tags_enable and collection.all_tags.size > 0 -%}
      {%- assign is_filter_by_available = true -%}
    {%- endif -%}

  <div class="dia-container">
    <div class="glb-sec-header text-center">
      <h2>
          {{ collection.title }}
      </h2>
      {% if collection.description != blank %}
        <div class="glb-sec-desc">
          {{ collection.description }}
        </div>
      {% endif %}
      {% if is_filter_by_available == false and section.settings.sort_enable == false %}
        <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
      {% endif %}
    </div>
  </div>
    {% include 'collection-sorting' %}    
  </header>
  <div class="dia-container css inital-load" id="Collection" data-collection-listing-container>
    <div class="grid-view-section product_view_tab" data-view="grid">
      <ul class="grid grid--uniform grid--view-items hide" data-list-item></ul>
      <div class="product-listing" data-init-content>
    {% if section.settings.layout == 'grid' %}
      
    {%- if paginate.current_page == 1 -%}

      {% assign productMetafield = collection.metafields.meta %}
      {% if productMetafield != blank %}
      <!-- First Row -->
      <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
        {% for product in collection.products limit: 4 %}
          <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }} aaa">
            {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
          </li>
        {% else %}
          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            <li class="grid__item">
              <div class="grid grid--uniform">
                {% for i in (1..limit) %}
                  <div class="grid__item {{ grid_item_width }}">
                    <div class="grid-view-item">
                      <a href="#" class="grid-view-item__link">
                        <div class="grid-view-item__image">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                        <div class="grid-view-item__meta">
                          <span class="product-price__price">$19.99</span>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- second Row -->
      {% capture bigImage %}custom_image_1{% endcapture %}
      {% assign blockImage = productMetafield[bigImage].image %}
      {% assign blockMobileImage = productMetafield[bigImage].mobileImage %}
      {% assign blockLink = productMetafield[bigImage].link %}
      
      <!-- show section if there is more then 6 product avil -->
      {%- if collection.products.size > 6 -%}
      <div class="{% if productMetafield[bigImage] != blank %}solitaire-two-col-row{% endif %}">
        {% if blockLink != blank or blockImage %}
        <div class="static_image_column">
          <div class="img_holder">
            <img {% if blockMobileImage !=blank %}class="hide_mobile"{% endif %} src="{{ blockImage }}" alt="SHOP THE LOOK">
            {% if blockMobileImage !=blank %}
            <img class="show_mobile" src="{{ blockMobileImage }}" alt="SHOP THE LOOK">
            {% endif %}
          </div>
          <div class="btn-holder"><a class="glb-btn-with-arrow large_arrow_btn" href="{{ blockLink }}">SHOP THE LOOK</a></div>
        </div>
        {% endif %}
        <div class="pd_column">
          <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
            {% for product in collection.products limit: 4 offset: continue %}
              <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
              </li>
            {% else %}
              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                <li class="grid__item">
                  <div class="grid grid--uniform">
                    {% for i in (1..limit) %}
                      <div class="grid__item {{ grid_item_width }}">
                        <div class="grid-view-item">
                          <a href="#" class="grid-view-item__link">
                            <div class="grid-view-item__image">
                              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                            <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                            <div class="grid-view-item__meta">
                              <span class="product-price__price">$19.99</span>
                            </div>
                          </a>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {%- endif -%}


      <!-- Third Row -->
      <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
        {% for product in collection.products limit: 4 offset: continue %}
          <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
          </li>
        {% else %}
          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            <li class="grid__item">
              <div class="grid grid--uniform">
                {% for i in (1..limit) %}
                  <div class="grid__item {{ grid_item_width }}">
                    <div class="grid-view-item">
                      <a href="#" class="grid-view-item__link">
                        <div class="grid-view-item__image">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                        <div class="grid-view-item__meta">
                          <span class="product-price__price">$19.99</span>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- Fourth Row -->
      {% capture bigImage2 %}custom_image_2{% endcapture %}
      {% assign block2Image = productMetafield[bigImage2].image %}
      {% assign block2MobileImage = productMetafield[bigImage2].mobileImage %}
      {% assign block2Link = productMetafield[bigImage2].link %}
      
      <!-- show section if there is more then 15 product avil -->
      {%- if collection.products.size > 15 -%}
      <div class="{% if productMetafield[bigImage2] != blank %}solitaire-two-col-row img_pos_right{% endif %}">
        {% if block2Image != blank or block2Link != blank  %}
        <div class="static_image_column">
          <div class="img_holder">
            <img {% if block2MobileImage !=blank %}class="hide_mobile"{% endif %} src="{{ block2Image }}" alt="SHOP THE LOOK">
            {% if block2MobileImage !=blank %}
            <img class="show_mobile" src="{{ block2MobileImage }}" alt="SHOP THE LOOK">
            {% endif %}
          </div>
          <div class="btn-holder"><a class="glb-btn-with-arrow large_arrow_btn" href="{{ block2Link }}">SHOP THE LOOK</a></div>
        </div>
        {% endif %}
        <div class="pd_column">
          <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
            {% for product in collection.products limit: 4 offset: continue %}
              <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
              </li>
            {% else %}
              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                <li class="grid__item">
                  <div class="grid grid--uniform">
                    {% for i in (1..limit) %}
                      <div class="grid__item {{ grid_item_width }}">
                        <div class="grid-view-item">
                          <a href="#" class="grid-view-item__link">
                            <div class="grid-view-item__image">
                              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                            <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                            <div class="grid-view-item__meta">
                              <span class="product-price__price">$19.99</span>
                            </div>
                          </a>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {%- endif -%}

      <div data-pagination="{{ paginate.next.url }}" class="product-listing">
        <ul  class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
          {% for product in collection.products offset: continue %}
            <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
              {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
            </li>
          {% else %}
            {% comment %}
            Add default products to help with onboarding for collections/all only.

            The onboarding styles and products are only loaded if the
            store has no products.
            {% endcomment %}
            {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
              <li class="grid__item">
                <div class="grid grid--uniform">
                  {% for i in (1..limit) %}
                    <div class="grid__item {{ grid_item_width }}">
                      <div class="grid-view-item">
                        <a href="#" class="grid-view-item__link">
                          <div class="grid-view-item__image">
                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                          <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                          <div class="grid-view-item__meta">
                            <span class="product-price__price">$19.99</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      {% else %}
      <div data-pagination="{{ paginate.next.url }}" class="product-listing">
        <ul  class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
          {% for product in collection.products %}
            <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
              {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
            </li>
          {% else %}
            {% comment %}
            Add default products to help with onboarding for collections/all only.

            The onboarding styles and products are only loaded if the
            store has no products.
            {% endcomment %}
            {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
              <li class="grid__item">
                <div class="grid grid--uniform">
                  {% for i in (1..limit) %}
                    <div class="grid__item {{ grid_item_width }}">
                      <div class="grid-view-item">
                        <a href="#" class="grid-view-item__link">
                          <div class="grid-view-item__image">
                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                          <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                          <div class="grid-view-item__meta">
                            <span class="product-price__price">$19.99</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {%- else -%}
      <div data-pagination="{{ paginate.next.url }}" class="product-listing">
        <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
          {% for product in collection.products %}
            <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
              {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
            </li>
          {% else %}
            {% comment %}
            Add default products to help with onboarding for collections/all only.

            The onboarding styles and products are only loaded if the
            store has no products.
            {% endcomment %}
            {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
              <li class="grid__item">
                <div class="grid grid--uniform">
                  {% for i in (1..limit) %}
                    <div class="grid__item {{ grid_item_width }}">
                      <div class="grid-view-item">
                        <a href="#" class="grid-view-item__link">
                          <div class="grid-view-item__image">
                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                          <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                          <div class="grid-view-item__meta">
                            <span class="product-price__price">$19.99</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {%- endif -%}

    {% else %}
      <ul class="list-view-items">
        {% for product in collection.products %}
          <li class="list-view-item">
            {% include 'product-card-list', product: product, show_vendor: section.settings.show_vendor %}
          </li>
        {% else %}

          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
            {% for i in (1..4) %}
              <li class="list-view-item">
                <a href="#" class="list-view-item__link">
                  <div class="list-view-item__image-column">
                    <div class="list-view-item__image-wrapper">
                      <div class="list-view-item__image">
                        {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    </div>
                  </div>

                  <div class="list-view-item__title-column">
                    <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                  </div>

                  <div class="list-view-item__price-column">
                    <span class="product-price__price">$19.99</span>
                  </div>
                </a>
              </li>
            {% endfor %}
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}
  </div>
    <div class="bottom-pagination-row">
      {%- if paginate.pages > 1 -%}
        {%- comment -%}
          {% include 'pagination', paginate: paginate %}
        {%- endcomment -%}
        <div class="loadmore-btn-holder" >
          <div class="loadmore-btn-box"><a class="loadMore-btn glb-btn">VIEW MORE</a></div>
          <div class="loder-spiner"></div>
        </div>
      {%- endif -%}
      <div class="back-to-top-holder hide_mobile">
        <a class="back-to-top"><span class="back_top_text">Back to Top</span><span class="back_top_arrow">{% include 'back-top-icon' %}</span></a>
      </div>
    </div>
    
  </div>
  <div class="dynamic-pagination" style="display: none;"></div>
    <div class="dynamic-loadmore-btn-holder">
      <div class="dynamic-loadmore-btn-box" style="display: none;"><a class="dynamicloadMore-btn glb-btn">VIEW MORE</a></div>
      <div class="dynamic-loader-spiner" style="display: none;"></div>
    </div>
  </div>
</div>
{% endpaginate %}



{% schema %}
{
  "name": {
    "cs": "Stránky s kolekcemi",
    "da": "Kollektionssider",
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fi": "Kokoelman sivut",
    "fr": "Pages de collections",
    "it": "Pagine di collezioni",
    "ja": "コレクションページ",
    "ko": "컬렉션 페이지",
    "nb": "Samlingssider",
    "nl": "Collectiepagina's",
    "pl": "Strony kolekcji",
    "pt-BR": "Páginas de coleções",
    "pt-PT": "Páginas de coleções",
    "sv": "Produktseriesidor",
    "th": "หน้าคอลเลกชัน",
    "tr": "Koleksiyon sayfaları",
    "vi": "Trang bộ sưu tập",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": {
        "cs": "Rozvržení",
        "da": "Layout",
        "de": "Layout",
        "en": "Layout",
        "es": "Diseño",
        "fi": "Asettelu",
        "fr": "Mise en page",
        "it": "Layout",
        "ja": "レイアウト",
        "ko": "레이아웃",
        "nb": "Oppsett",
        "nl": "Opmaak",
        "pl": "Układ",
        "pt-BR": "Layout",
        "pt-PT": "Esquema",
        "sv": "Layout",
        "th": "เลย์เอาต์",
        "tr": "Düzen",
        "vi": "Bố cục",
        "zh-CN": "布局",
        "zh-TW": "版面配置"
      },
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": {
            "cs": "Mřížka",
            "da": "Gitter",
            "de": "Raster",
            "en": "Grid",
            "es": "Cuadrícula",
            "fi": "Ruudukko",
            "fr": "Grille",
            "it": "Griglia",
            "ja": "グリッド",
            "ko": "그리드",
            "nb": "Rutenett",
            "nl": "Grid",
            "pl": "Siatka",
            "pt-BR": "Grade",
            "pt-PT": "Grelha",
            "sv": "Rutnät",
            "th": "กริด",
            "tr": "Izgara",
            "vi": "Lưới",
            "zh-CN": "网格",
            "zh-TW": "網格"
          }
        },
        {
          "value": "list",
          "label": {
            "cs": "Seznam",
            "da": "Liste",
            "de": "Liste",
            "en": "List",
            "es": "Lista",
            "fi": "Luettelo",
            "fr": "Liste",
            "it": "Elenco",
            "ja": "リスト",
            "ko": "목록",
            "nb": "Liste",
            "nl": "Lijst",
            "pl": "Lista",
            "pt-BR": "Lista",
            "pt-PT": "Lista",
            "sv": "Lista",
            "th": "รายการ",
            "tr": "Liste",
            "vi": "Danh sách",
            "zh-CN": "列表",
            "zh-TW": "清單"
          }
        }
      ]
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "cs": "Počet produktů na řádek (jen mřížka)",
        "da": "Produkter pr. række (kun gitter)",
        "de": "Produkte per Reihe (nur Raster)",
        "en": "Products per row (grid only)",
        "es": "Productos por fila (solo cuadrícula)",
        "fi": "Tuotteita per rivi (vain ruudukko)",
        "fr": "Produits par rangée (grille uniquement)",
        "it": "Prodotti per riga (solo griglia)",
        "ja": "行あたりの商品数（グリッドのみ）",
        "ko": "열 별 제품 (그리드 전용)",
        "nb": "Produkter per rad (kun rutenett)",
        "nl": "Producten per rij (alleen grid)",
        "pl": "Liczba produktów na wiersz (tylko siatka)",
        "pt-BR": "Produtos por linha (somente grade)",
        "pt-PT": "Produtos por linha (somente grelha)",
        "sv": "Produkter per rad (endast rutnät)",
        "th": "สินค้าต่อแถว (กริดเท่านั้น)",
        "tr": "Satır başına ürün (yalnızca ızgara)",
        "vi": "Số sản phẩm trên một hàng (chỉ ở kiểu lưới)",
        "zh-CN": "每行产品数（仅限网格）",
        "zh-TW": "每列產品數 (僅限網格)"
      },
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Product Per Page",
      "default": 16,
      "min": 4,
      "max": 20,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "cs": "Zobrazit dodavatele produktů",
        "da": "Vis produktleverandører",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fi": "Näytä tuotteen myyjät",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitori prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandører",
        "nl": "Productleveranciers weergeven",
        "pl": "Pokaż dostawców produktu",
        "pt-BR": "Exibir fabricantes do produto",
        "pt-PT": "Mostrar fornecedores do produto",
        "sv": "Visa produktleverantörer",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcılarını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": {
        "cs": "Povolit řazení",
        "da": "Aktivér sortering",
        "de": "Sortieren erlauben",
        "en": "Enable sorting",
        "es": "Habilitar la función ordenar",
        "fi": "Ota lajittelu käyttöön",
        "fr": "Activer le tri",
        "it": "Permetti di ordinare",
        "ja": "並べ替えを有効にする",
        "ko": "정렬 사용",
        "nb": "Aktiver sortering",
        "nl": "Sortering inschakelen",
        "pl": "Włącz sortowanie",
        "pt-BR": "Habilitar organização",
        "pt-PT": "Ativar ordenação",
        "sv": "Aktivera sortering",
        "th": "เปิดใช้การจัดเรียง",
        "tr": "Sıralamayı etkinleştir",
        "vi": "Bật phân loại",
        "zh-CN": "启用排序",
        "zh-TW": "啟用排序"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": {
        "cs": "Povolit filtrování podle štítku",
        "da": "Aktivér tagfiltrering",
        "de": "Tag-Filtern erlauben",
        "en": "Enable tag filtering",
        "es": "Habilitar filtro de etiquetas",
        "fi": "Ota tunnisteiden suodatus käyttöön",
        "fr": "Activer le filtrage par balises",
        "it": "Attiva filtro tag",
        "ja": "タグでの絞り込みを有効にする",
        "ko": "태그 필터링 사용",
        "nb": "Aktiver taggfiltrering",
        "nl": "Filteren op tags inschakelen",
        "pl": "Włącz filtrowanie tagów",
        "pt-BR": "Habilitar filtragem de tags",
        "pt-PT": "Ativar filtragem por etiqueta",
        "sv": "Aktivera taggfiltrering",
        "th": "เปิดใช้การกรองแท็ก",
        "tr": "Etiket filtrelemeyi etkinleştir",
        "vi": "Bật lọc thẻ",
        "zh-CN": "启用标签筛选",
        "zh-TW": "啟用標籤篩選功能"
      },
      "default": true
    }
  ]
}
{% endschema %}
