<div class="common-layout-wrapper sp-sitemap-layout">
    <div class="dia-container">
        <div class="custom-section-header"><h1>{{ page.title }}</h1></div>

        <div class="sitemap-wrapper">
            {% for link in linklists.main-menu.links %}
            <div class="sitemap-row">
                <h3><a href="{{ link.url }}">{{ link.title | replace: '®', '<sup>®</sup>' }}</a></h3>
                <ul class="sitemap-menu-grid">
                    {% assign mainCollection = collections[link.title] %}
                    {% if mainCollection != blank %}
                    <li class="sitemap-menu-column sitemap-collection-image">
                        <div class="sitemap-col-card">
                            {% if mainCollection.image %}
                            <div class="sitemap-col-img">
                                <a href="{{ mainCollection.url }}"><img src="{{ mainCollection.image | img_url: '360x300'}}" alt="{{ mainCollection.title }}"></a>
                            </div>
                            {% endif %}
                            {% if mainCollection.url %}
                            <div class="sitemap-col-body">
                                <a href="{{ mainCollection.url }}" class="glb-btn-with-arrow">Discover More</a>
                            </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    {% for childmenu in link.links %}
                    <li class="sitemap-menu-column">
                        {% if childmenu.title %}<a href="{{ childmenu.url }}">{{ childmenu.title | replace: '®', '<sup>®</sup>' }}</a>{% endif %}
                        {% if childmenu.links.size > 0 %}
                        <ul>
                            {% for subchild in childmenu.links %}
                            {% if subchild.title %}<li><a href="{{ subchild.url }}">{{ subchild.title | replace: '®', '<sup>®</sup>' }}</a></li>{% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
