<div class="common-layout-wrapper sp-sitemap-layout">
    <div class="dia-container">
        <div class="custom-section-header">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="sitemap-wrapper">
            
            {% for link in linklists.main-menu.links %}
            <div class="sitemap-row">
                <h3>
                    <a href="{{ link.url }}">{{ link.title | replace: '®', '<sup>®</sup>' }}</a>
                    <div class="sitemap_accordion_trigger show_mobile {% if forloop.first %}active{% endif %}">{% include 'icon-sitemap-accoundion' %}</div>
                </h3>

                {% if  link.title contains 'INTRODUCING DIAMOND2®' %}
                <!-- INTRODUCING DIAMOND2 Menu -->
                <ul class="sitemap-menu-grid">
                    <li class="sitemap-menu-column sitemap-collection-image">
                        <div class="sitemap-col-card">
                            <div class="sitemap-col-img"><a href="{{ link.url }}"></a></div>
                            <div class="sitemap-col-body"><a href="{{ link.url }}" class="glb-btn-with-arrow">Discover More</a></div>
                        </div>
                    </li>
                    <li>
                        <ul>
                            {% for childmenu in link.links %}
                            <li class="sitemap-menu-column {% if childmenu.links.size < 1 %}has_not_children{% endif %}">
                                {% if childmenu.title %}<a href="{{ childmenu.url }}">{{ childmenu.title | replace: '®', '<sup>®</sup>' }}</a>{% endif %}
                                {% if childmenu.links.size > 0 %}
                                <ul>
                                    {% for subchild in childmenu.links %}
                                    {% if subchild.title %}<li><a href="{{ subchild.url }}">{{ subchild.title | replace: '®', '<sup>®</sup>' }}</a></li>{% endif %}
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                {% else %}


                <ul class="sitemap-menu-grid">
                    <li class="sitemap-menu-column sitemap-collection-image">
                        <div class="sitemap-col-card">
                            <div class="sitemap-col-img"><a href="{{ link.url }}"></a></div>
                            <div class="sitemap-col-body"><a href="{{ link.url }}" class="glb-btn-with-arrow">Discover More</a></div>
                        </div>
                    </li>
                    {% for childmenu in link.links %}
                    <li class="sitemap-menu-column {% if childmenu.title contains 'by Shapes' or childmenu.title contains 'by Categories' %}child_split_column2{% endif %}" data-title="{{ childmenu.title | handleize}}">
                        {% if childmenu.title %}<a href="{{ childmenu.url }}">{{ childmenu.title | replace: '®', '<sup>®</sup>' }}</a>{% endif %}
                        {% if childmenu.links.size > 0 %}
                        <ul>
                            {% for subchild in childmenu.links %}
                            {% if subchild.title %}<li><a href="{{ subchild.url }}">{{ subchild.title | replace: '®', '<sup>®</sup>' }}</a></li>{% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}

            
            <div class="sitemap-row">
                <ul class="sitemap-menu-grid">
                    {% for footerMenu in linklists.footer.links %}
                    <li class="sitemap-menu-column" data-title="{{ footerMenu.title | handleize }}">
                        {% if footerMenu.title %}<a href="{{ footerMenu.url }}">{{ footerMenu.title | replace: '®', '<sup>®</sup>' }}</a>{% endif %}
                        {% if footerMenu.links.size > 0 %}
                        <ul>
                            {% for subchild in footerMenu.links %}
                            {% if subchild.title %}<li><a href="{{ subchild.url }}">{{ subchild.title | replace: '®', '<sup>®</sup>' }}</a></li>{% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="sitemap-row">
                <ul class="sitemap-menu-grid">
                    <li class="sitemap-menu-column">
                        <a>More Links</a>
                        <ul>
                            {% for footerBottomLink in linklists.footer-bottom.links %}
                            {% if footerBottomLink.title %}<li><a href="{{ footerBottomLink.url }}">{{ footerBottomLink.title | replace: '®', '<sup>®</sup>' }}</a></li>{% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<script>
    $('#AccessibleNav .site-nav--has-dropdown').each(function(e){
        // let imageS = $(this).find('.nav-image-wrapper img').clone();
        let imageSrc = $(this).find('.nav-image-wrapper img').data('sitemapimg');
        let imgTag = '<img class="navItemsThumb lazyloaded" src="'+imageSrc+'" alt="">';
        $('.sitemap-row').eq(e).find('.sitemap-collection-image .sitemap-col-img a').append(imgTag);
    });
</script>