{%- layout none -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{% assign variantMetafield = current_variant.metafields.current_variant %}
{%- if product.template_suffix contains 'loose' -%}
{%- assign ls_depth = product.metafields.global.ls_cert_Depth -%}
{%- assign ls_table = product.metafields.global.ls_cert_Table -%}
{%- assign ls_fluorescence = product.metafields.global.ls_cert_Fluorescence -%}
{%- assign ls_polish = product.metafields.global.ls_cert_Polish -%}
{%- assign ls_symmetry = product.metafields.global.ls_cert_Symmetry -%}
{%- assign ls_clarity = product.metafields.global.ls_cert_clarity -%}
{%- assign ls_stoneWgt= product.metafields.global.stone_wgt -%}
{%- assign ls_uom= product.metafields.global.uom -%}
{%- assign ls_shape = product.metafields.global.ls_cert_Shape -%}
{%- assign ls_cutgrade = product.metafields.global.ls_cert_cutgrade -%}
{%- assign ls_color = product.metafields.global.ls_cert_color -%}

{% assign lowest_price = product.first_available_variant.price %}

{% for variant in product.variants %}
  {% if variant.available %}
    {% if variant.price <= lowest_price %}
      {% assign lowest_price = variant.price %}
      {% assign lowest_priceVarId = variant.id %}
      {% assign selectedVariant = variant %}
    {% endif %}
  {% endif %}
{% endfor %}
  

      {%- comment -%}<div class="h4 grid-view-item__title product-card__title" aria-hidden="true"><a href="{{ product.url }}"> {{ product.title }}</a></div>{%- endcomment -%}
      <div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
        <div class="product-images-wrapper {% if product.images.size == 0 %}no-image{% endif %}">
           <!-- Swym Wishlist Plus EPI Button-->
           {% if customer %}
           <button data-with-epi="true" class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}" data-variant-id="{{product.variants[0].id}}" data-product-url="{{ shop.url }}{{ product.url }}"></button>
           {% else %}
           <a href="javascript:;" data-modal="showInfoModal" class="item-wishlist-icn">
            {% render 'icon-account-wishlist' %}
          </a>
           {% endif %}
           <!-- Swym Wishlist Plus EPI Button-->
          {% include 'product-badge' %}
          <div id="product_images_slider_{{ variant.id}}" class="{% if product.images.size > 1 %}product_images_slider{% endif %}">
            {% for slideImage in product.images %}
            {% assign slideImage = slideImage | downcase %}
            {% assign firstVariantColor = selectedVariant.option1 %}
            
            {% if slideImage.alt ==  firstVariantColor and slideImage contains "xyzg"  %}
            <div class="aws product-card__image-with-placeholder-wrapper product-images-slide" data-image-loading-animation>
              <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
                <div class="product_img_holder">
                  <img data-src="{{ slideImage.src | img_url: 'master' }}" alt="{{ product.title }}" class="grid-view-item__image lazyload">
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <a href="{{ product.url | append: '?variant=' | append: product.variants.first.id  }}" class="full_link"></a>
          <!-- capture More Data Table and Buttons -->
          
          {% capture showMoreData %}
          <div class="product-image-body-row">
            <a class="compare_btn product_compare">COMPARE</a>
            <a class="p_more_btn"><span class="text_more">MORE</span><span class="text_less">LESS</span></a>
          </div>
            <div class="more_product_datatable">
              <table>
                <tbody>
                  {%- if ls_depth != blank -%}<tr><td>Depth:</td><td>{{ ls_depth }}</td></tr>{%- endif -%}
                  {%- if ls_table != blank -%}<tr><td>Table:</td><td>{{ ls_table }}</td></tr>{%- endif -%}
                  {%- if ls_fluorescence != blank -%}<tr><td>Fluorescence:</td><td>{{ ls_fluorescence }}</td></tr>{%- endif -%}              
                  {%- if ls_polish != blank -%}<tr><td>Polish:</td><td>{{ ls_polish }}</td></tr>{%- endif -%}
                  {%- if ls_symmetry != blank -%}<tr><td>Symmetry:</td><td>{{ ls_symmetry }}</td></tr>{%- endif -%}
                  {%- if ls_clarity != blank -%}<tr><td>CLARITY:</td><td>{{ ls_clarity }}</td></tr>{%- endif -%}
                </tbody>
              </table>
            </div>
          {% endcapture %}
          <!-- capture More Data Table Close -->
          <div class="ls-item-more-info hide_mobile">{{ showMoreData }}</div>
        </div>
      
        <noscript>
          {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
          <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
        </noscript>
        <script>
          // Product Listing Product card Images slider
              $("#product_images_slider_"+{{ product.selected_or_first_available_variant.id}}).slick({ 
                autoplay: false,
                autoplaySpeed: 500,
                arrows: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                Infinite: false,
                loop: false,
                dots: false
              });
          </script>
      
        <div class="prodct_card_body">







      <span style="display: none;">
        {%- include 'product-price-listing', product: product, show_vendor: show_vendor -%}
      </span>
      <div class="product-price-card">
        <div class="product-price-card-row hide_mobile">
          <div class="product_b_tex">{%- if ls_stoneWgt != blank  -%}{{ ls_stoneWgt }} {%- if ls_uom != blank -%}{{ ls_uom }}{%- endif -%}{%- endif -%}</div>
          <div class="product_b_tex">{%- if ls_shape != blank -%}{{ ls_shape }}{%- endif -%}</div>
          <div class="product_b_tex">{%- if ls_polish != blank  -%}{{ ls_polish }} {%- endif -%}</div>
          <div class="product_b_tex">{%- if ls_color != blank -%}{{ ls_color }}{%- endif -%}</div>
          <span class="divider"></span>
          <div class="product_b_tex">{%- if ls_clarity != blank -%}{{ ls_clarity }}{%- endif -%}</div>
        </div>
        <div class="product-price-card-row show_mobile">
          <div class="r1">
            <div class="product_b_tex">{%- if ls_stoneWgt != blank  -%}{{ ls_stoneWgt }} {%- if ls_uom != blank -%}{{ ls_uom }}{%- endif -%}{%- endif -%}</div>
            <div class="product_b_tex">{%- if ls_shape != blank -%}{{ ls_shape }}{%- endif -%}</div>
          </div>
          <div class="r2">
            <div class="product_b_tex">{%- if ls_polish != blank  -%}{{ ls_polish }} {%- endif -%}</div>
            <div class="product_b_tex">{%- if ls_color != blank -%}{{ ls_color }}{%- endif -%}</div>
            <div class="product_b_tex">{%- if ls_clarity != blank -%}{{ ls_clarity }}{%- endif -%}</div>
          </div>
        </div>
        <div class="product-price-card-row price_row {% if product.compare_at_price == blank %}no_discount{% endif %}">
          <div class="ragular_price">{{ product.price | money | remove: '.00' }}</div>
          {%- if product.compare_at_price -%}<div class="compare_at_price">{{ product.compare_at_price | money | remove: '.00' }}</div>{%- endif -%}
          {%- assign discount = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price -%}
          {%- if product.compare_at_price -%}<div class="product_discount">{{ discount | floor }}% OFF</div>{%- endif -%}
        </div>
        {% if product.tags contains 'TAH' %}
        <div class="tah-add-to-cart-block">
          <a href="javascript:;" class="tah-add-to-cart-btn" {% if customer %} data-add-to-cart {% else %}data-modal="showInfoModal"{% endif %}  data-variantid="{{ current_variant.id }}" data-handle="{{ product.handle }}">
            <span class="tah-add-to-cart-btn-icn">{%- include 'icon-plus-white' -%}</span>
            <span class="tah-add-to-cart-btn-added-icn">{%- include 'icon-tick-white' -%}</span>
          </a>
        </div>
        {% endif %}
        
      </div>
      <div class="show_mobile">{{ showMoreData }}</div>

</div>
</div>


{%- else -%}

  <div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
    {% include 'product-badge' %}
    <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | append: '?variant=' | append: product.variants.first.id  }}" style="display: none;">
      <span class="visually-hidden">{{ product.title }}</span>
    </a>

    <div class="product-images-wrapper {% if product.images.size == 0%}no-image {% endif %}">
      <!-- Swym Wishlist Plus EPI Button-->
        {% if customer %}
        <button data-with-epi="true" class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}" data-variant-id="{{product.variants[0].id}}" data-product-url="{{ shop.url }}{{ product.url }}"></button>
        {% else %}
        <a href="javascript:;" data-modal="showInfoModal" class="item-wishlist-icn">
        {% render 'icon-account-wishlist' %}
      </a>
        {% endif %}
    <!-- Swym Wishlist Plus EPI Button-->
      <a class="product-full-link" href="{{ product.url | append: '?variant=' | append: product.variants.first.id }}"></a>
      <div id="product_images_slider_{{ product.selected_or_first_available_variant.id}}" class="product-images-wrapper {% if product.images.size > 1 %}product_images_slider{% endif %}">
        {% for slideImage in product.images %}
        {% assign slideImage = slideImage | downcase %}
        {% assign firstVariantColor = selectedVariant.option1 %}
        {% if  slideImage contains "xyzg" %}
        <div class="aws1 product-card__image-with-placeholder-wrapper product-images-slide" data-image-loading-animation>
          <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
            <div class="product_img_holder">
              <img data-src="{{ slideImage.src | img_url: 'master' }}" alt="{{ product.title }}" class="grid-view-item__image lazyload">
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <noscript>
      {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
      <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
    </noscript>
    <script>
    // Product Listing Product card Images slider
        $("#product_images_slider_"+{{ product.selected_or_first_available_variant.id}}).slick({ 
          autoplay: false,
          autoplaySpeed: 500,
          arrows: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          Infinite: false,
          loop: false,
          dots: false
        });
    </script>
  

  {%- assign stoneClr = variantMetafield["dia_tab1_stone_avg_color"] -%}
  {%- assign stoneClarity = variantMetafield["dia_tab1_avg_clarity"] -%}
    <div class="prodct_card_body">
      <div class="h4 grid-view-item__title product-card__title aaau xyz" aria-hidden="true">
        <a data-id="{{ product.variants.first.id }}" href="{{ product.url | append: '?variant=' | append: product.variants.first.id }}"> {{ product.title | replace: 'Diamond2', 'Diamond2<sup>®</sup>'}}</a>
      </div>
      <span style="display: none;">{%- include 'product-price-listing', product: product, show_vendor: show_vendor -%}</span>
      <div class="product-price-card ter aaa">
        <div class="product-price-card-row" data-id = {{ product.id }}>
          <div class="product_weight">
            {% if variantMetafield["frc_stn_total_crt_wt"] != blank  or variantMetafield["dec_stn_total_crt_wt"] != blank %} 
            {% if variantMetafield["dec_stn_total_crt_wt"] != blank %}{{ variantMetafield["dec_stn_total_crt_wt"] | append: ' CTS.' }}{% else %}{{ variantMetafield["frc_stn_total_crt_wt"] | append: ' (CT. TW.)' }}{% endif %}           
           {%- endif -%}
          </div>
          <div class="product_def">{%-if stoneClr != blank -%}{{ stoneClr }}{%- if stoneClarity != blank -%}/{%- endif -%}{%- endif -%}{%- if stoneClarity != blank  -%}{{ stoneClarity }}{%- endif -%}</div>
          <div class="product_compare">COMPARE</div>
        </div>
        <div class="product-price-card-row price_row ww xy aaa {%- if current_variant.compare_at_price == blank -%}no_discount{%- endif -%}"><div class="ragular_price">{{ current_variant.price | money | remove: '.00' }}</div>
          {%- if current_variant.compare_at_price -%}<div class="compare_at_price">{{ current_variant.compare_at_price | money | remove: '.00' }}</div>{%- endif -%}
          {%- assign discount = current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price -%}
          {%- if current_variant.compare_at_price -%}<div class="product_discount">{{ discount | floor }}% OFF</div>{%- endif -%}
        </div>  
        {% if product.tags contains 'TAH' %}
          <div class="tah-add-to-cart-block">
            <a href="javascript:;" class="tah-add-to-cart-btn" {% if customer %} data-add-to-cart {% else %}data-modal="showInfoModal"{% endif %}  data-variantid="{{ current_variant.id }}"  data-handle="{{ product.handle }}">
              <span class="tah-add-to-cart-btn-icn">{%- include 'icon-plus-white' -%}</span>
              <span class="tah-add-to-cart-btn-added-icn">{%- include 'icon-tick-white' -%}</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{%- endif -%}

<script>
