{% layout none %}
{% comment %}
  Renders a media element for the product gallery.
  Media types include: image, video, external_video and model.
  Accepts:
  - media: {Object} Media Liquid object (required)
  - featured_media: {Object} Media Liquid object (required) - featured media of a given product or variant
  - height: {Number} Maximum height of the gallery (required)
  - image_zoom_size: {String} Size of the zoomed image (e.g., '1024x1024') (required for media type image)
  - enable_image_zoom: {Boolean} Image zoom setting (required for media type image)
  - image_scale:  {String} Image scale (e.g., '2') (required for media type image)

  Usage:
  {%- for media in product.media -%}
    {% include 'media', media: media, featured_media: featured_media, height: height %}
  {%- endfor -%}

  {%- for media in product.media -%}
    {% include 'media', media: media, featured_media: featured_media, height: height,
     enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
  {%- endfor -%}
{% endcomment %}
<div class="product-single__media-group--full" data-product-single-media-group>
    {%- for media in product.media -%}
    
    {% unless media.media_type == 'model' %}
{% capture media_id %}FeaturedMedia-product-template-{{ media.id }}{% endcapture %}
{% capture media_class %}product-featured-media{% endcapture %}
{% capture media_wrapper_id %}{{ media_id }}-wrapper{% endcapture %}

{%- comment -%}
  Load different poster image sizes depending on the product layout
{%- endcomment -%}
{% capture image_size %}{{ height }}x{{ height }}{% endcapture %}
  {% case media.media_type %}
    {% when 'image' %}
    {% if media contains 'zyxw' %}
    <div id="{{ media_wrapper_id }}"
    class="product-single__media-wrapper js{% unless featured_media == 'image' %} hide{% endunless %}"
    data-alt="{{ media.alt | escape }}"
    {% if media.media_type == 'video' or media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ section.settings.enable_video_looping }}"{% endif %}
    {% if media.media_type == 'model' %} data-product-media-type-model{% endif %}
    {% if media.media_type == 'external_video' %} data-video-id="{{ media.external_id }}"{% endif %}
    data-product-single-media-wrapper
    data-media-id="{{ section.id }}-{{ media.id }}"
    tabindex="-1">   
   
      {% capture zoom_media_id %}ImageZoom-product-template-{{ media.id }}{% endcapture %}
      {%- assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {% comment %}{% include 'image-style', height: height, wrapper_id: media_wrapper_id, img_id: media_id, image: media.preview_image %}{% endcomment %}
      <div
        id="{{ zoom_media_id }}"
        data-type="image"
        data-elem="pinchzoomer"
        data-alt="{{ media.alt | escape }}"
        style="padding-top:{{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100}}%;"
        class="product-single__media 55{% if product.media.size > 1 %} product-single__media--has-thumbnails{% endif %}{% if enable_image_zoom %} js-zoom-enabled{% endif %}"
        {% if enable_image_zoom %} data-image-zoom-wrapper data-zoom="{{ media | img_url: image_zoom_size, scale: image_scale }}"{% endif %}
        data-image-loading-animation>
        {% comment %}{% if enable_image_zoom %} data-image-zoom {% endif %} {% endcomment %}
        <pinch-zoom>
            <img id="{{ media_id }}"
          class="feature-row__image {{ media_class }} lazyload{% unless featured_media == media %} lazypreload{% endunless %}"
          data-src="{{ media | img_url: '2048x'}}"             
          alt="{{ media.alt | escape }}">
        </pinch-zoom>
      </div>
    </div>
      {% endif %}
    {% when 'external_video' %}
    <div id="{{ media_wrapper_id }}"
    class="product-single__media-wrapper js{% unless featured_media == 'image' %} hide{% endunless %}"
    data-alt="{{ media.alt | escape }}"
    {% if media.media_type == 'video' or media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ section.settings.enable_video_looping }}"{% endif %}
    {% if media.media_type == 'model' %} data-product-media-type-model{% endif %}
    {% if media.media_type == 'external_video' %} data-video-id="{{ media.external_id }}"{% endif %}
    data-product-single-media-wrapper
    data-media-id="{{ section.id }}-{{ media.id }}"
    tabindex="-1">  
      <div data-type="external_video" class="product-single__media 44" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
        {{ media | external_video_tag }}
      </div>
    </div>
    {% when 'video' %}
    <div id="{{ media_wrapper_id }}"
    class="product-single__media-wrapper js{% unless featured_media == 'image' %} hide{% endunless %}"
    data-alt="{{ media.alt | escape }}"
    {% if media.media_type == 'video' or media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ section.settings.enable_video_looping }}"{% endif %}
    {% if media.media_type == 'model' %} data-product-media-type-model{% endif %}
    {% if media.media_type == 'external_video' %} data-video-id="{{ media.external_id }}"{% endif %}
    data-product-single-media-wrapper
    data-media-id="{{ section.id }}-{{ media.id }}"
    tabindex="-1">  
      <div data-type="video" class="product-single__media 33 product-single__media--video product-single__media--{{ media.id }}" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
        <video loop muted autoplay preload="metadata" poster="{{ 'thumb-6.jpg' | asset_url }}">
          {% for video in media.sources %}
              <source src="{{ video.url }}" type="{{ video.mime_type }}">
          {% endfor %}
      </video>
      </div>
        {% comment %}{{ media | video_tag: class: 'media-video', image_size: image_size, loop, muted, autoplay }}{% endcomment %}
      </div>
    {% when 'model' %}
    <div id="{{ media_wrapper_id }}"
    class="product-single__media-wrapper js{% unless featured_media == 'image' %} hide{% endunless %}"
    data-alt="{{ media.alt | escape }}"
    {% if media.media_type == 'video' or media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ section.settings.enable_video_looping }}"{% endif %}
    {% if media.media_type == 'model' %} data-product-media-type-model{% endif %}
    {% if media.media_type == 'external_video' %} data-video-id="{{ media.external_id }}"{% endif %}
    data-product-single-media-wrapper
    data-media-id="{{ section.id }}-{{ media.id }}"
    tabindex="-1">  
      <div data-type="model" class="product-single__media 22" style="padding-top: 100%">
        {{ media | model_viewer_tag: image_size: image_size, reveal: 'interaction', toggleable: true, data-model-id: media.id }}
      </div>
      </div>
    {% else %}
    <div id="{{ media_wrapper_id }}"
    class="product-single__media-wrapper js{% unless featured_media == 'image' %} hide{% endunless %}"
    data-alt="{{ media.alt | escape }}"
    {% if media.media_type == 'video' or media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ section.settings.enable_video_looping }}"{% endif %}
    {% if media.media_type == 'model' %} data-product-media-type-model{% endif %}
    {% if media.media_type == 'external_video' %} data-video-id="{{ media.external_id }}"{% endif %}
    data-product-single-media-wrapper
    data-media-id="{{ section.id }}-{{ media.id }}"
    tabindex="-1">  
      <div data-type="other" class="product-single__media 11" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
        {{ media | media_tag: class: 'media-item', image_size: image_size }}
      </div>
      </div>
  {% endcase %}
{% endunless %}
{% endfor %}
</div>